dashboard_2_gauges.json
[{"id":"1c3c50b902f0ce1a","type":"ui-template","z":"0e3249ddee2000e3","group":"15a4ba9c21910ccf","page":"","ui":"","name":"Teal progress ","order":0,"width":"2","height":"2","head":"","format":"<template>\n        <v-progress-circular :rotate=\"-90\" :size=\"100\" :width=\"15\" :model-value=\"value\" color=\"teal\">\n            <strong>{{value}}%<strong>\n        </v-progress-circular>\n</template>\n\n<script>\n    export default {\n        data() {\n            return {               \n                value: 0               \n            }\n        },\n        watch: {\n            msg: function(){            \n                if(this.msg.payload != undefined){                    \n                    this.value = this.msg.payload                    \n                }\n            }\n        }\n    }\n</script>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":550,"y":4000,"wires":[[]]},{"id":"7ca0f74e2ea174b2","type":"inject","z":"0e3249ddee2000e3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.25","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":4000,"wires":[["e63f192e812d621c"]]},{"id":"e63f192e812d621c","type":"function","z":"0e3249ddee2000e3","name":"Increase value","func":"let value = context.get(\"value\") ?? 0;\n\nvalue=value+10;\nif (value>100) value=0;\ncontext.set(\"value\", value);\n\nmsg.payload = value;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":4000,"wires":[["1c3c50b902f0ce1a","c824f4b3c425f0ec","c90b2d469d0d1909","93c0183018fb9a78"]]},{"id":"c824f4b3c425f0ec","type":"ui-template","z":"0e3249ddee2000e3","group":"15a4ba9c21910ccf","page":"","ui":"","name":"Red progress ","order":0,"width":"2","height":"2","head":"","format":"<template>\n        <v-progress-circular :rotate=\"0\" :size=\"100\" :width=\"15\" :model-value=\"value\" color=\"red\">\n            <div class=\"text-h5\">{{value}}%</div>\n        </v-progress-circular>\n</template>\n\n<script>\n    export default {\n        data() {\n            return {               \n                value: 0               \n            }\n        },\n        watch: {\n            msg: function(){            \n                if(this.msg.payload != undefined){                    \n                    this.value = this.msg.payload                    \n                }\n            }\n        }\n    }\n</script>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":550,"y":4040,"wires":[[]]},{"id":"1e904181dde76463","type":"comment","z":"0e3249ddee2000e3","name":"Gauges","info":"","x":90,"y":3640,"wires":[]},{"id":"58015b44c34d19a5","type":"inject","z":"0e3249ddee2000e3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":3720,"wires":[["324ce8844004e509"]]},{"id":"324ce8844004e509","type":"function","z":"0e3249ddee2000e3","name":"change value","func":"let value = context.get(\"value\") ?? 10;\nlet dir = context.get(\"dir\") ?? \"up\";\n\nif (dir===\"up\") {\n    value++;\n    value++;\n} else {\n    value--;\n    value--;\n}\n\nif (value > 49) context.set(\"dir\",\"down\");\nif (value < 11) context.set(\"dir\", \"up\");\ncontext.set(\"value\", value);\n\nmsg.payload = value;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":3720,"wires":[["34287b1dc9cbcee1","28edf22f7c5f0d00","03bf1d49f770790f","afb32038fc3d5fbc","3163b4a2577e7a73","fba31ac82ca37d8a"]]},{"id":"34287b1dc9cbcee1","type":"ui-gauge","z":"0e3249ddee2000e3","name":"Furnace temp","group":"1eda6bbc4f923c3d","order":1,"width":"2","height":"1","gtype":"gauge-half","gstyle":"needle","title":"Furnace temp","units":"°C","prefix":"","suffix":"","segments":[{"from":"10","color":"#5cd65c"},{"from":"25","color":"#ffc800"},{"from":"40","color":"#ea5353"}],"min":"10","max":"50","sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"","x":560,"y":3720,"wires":[]},{"id":"28edf22f7c5f0d00","type":"ui-gauge","z":"0e3249ddee2000e3","name":"Boiler temp","group":"1eda6bbc4f923c3d","order":4,"width":"2","height":"2","gtype":"gauge-34","gstyle":"rounded","title":"Boiler temp","units":"°C","prefix":"","suffix":"","segments":[{"from":"10","color":"#5cd65c"},{"from":"25","color":"#ffc800"},{"from":"40","color":"#ea5353"}],"min":"10","max":"50","sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"","x":550,"y":3760,"wires":[]},{"id":"03bf1d49f770790f","type":"ui-gauge","z":"0e3249ddee2000e3","name":"Feedwater","group":"1eda6bbc4f923c3d","order":2,"width":"2","height":"2","gtype":"gauge-half","gstyle":"needle","title":"Feedwater","units":"°C","prefix":"","suffix":"","segments":[{"from":"10","color":"#645cd6"},{"from":"40","color":"#ea5353"}],"min":"10","max":"50","sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"","x":550,"y":3800,"wires":[]},{"id":"afb32038fc3d5fbc","type":"ui-gauge","z":"0e3249ddee2000e3","name":"Return water","group":"1eda6bbc4f923c3d","order":3,"width":"2","height":"1","gtype":"gauge-half","gstyle":"needle","title":"Return water","units":"°C","prefix":"","suffix":"","segments":[{"from":"10","color":"#645cd6"},{"from":"40","color":"#ea5353"}],"min":"10","max":"50","sizeThickness":"16","sizeGap":"0","sizeKeyThickness":"0","styleRounded":true,"styleGlow":false,"className":"","x":550,"y":3840,"wires":[]},{"id":"3163b4a2577e7a73","type":"ui-gauge","z":"0e3249ddee2000e3","name":"Solar Heater","group":"1eda6bbc4f923c3d","order":6,"width":"0","height":"0","gtype":"gauge-half","gstyle":"needle","title":"Solar Heater","units":"°C","prefix":"","suffix":"","segments":[{"from":"10","color":"#645cd6"},{"from":"20","color":"#ea5353"}],"min":"10","max":"50","sizeThickness":"0","sizeGap":"0","sizeKeyThickness":"16","styleRounded":true,"styleGlow":false,"className":"","x":550,"y":3880,"wires":[]},{"id":"fba31ac82ca37d8a","type":"ui-gauge","z":"0e3249ddee2000e3","name":"Heat pump","group":"1eda6bbc4f923c3d","order":5,"width":"2","height":"2","gtype":"gauge-34","gstyle":"rounded","title":"Heat pump","units":"°C","prefix":"","suffix":"","segments":[{"from":"10","color":"#645cd6"},{"from":"20","color":"#ea5353"}],"min":"10","max":"50","sizeThickness":"64","sizeGap":"2","sizeKeyThickness":"4","styleRounded":true,"styleGlow":false,"className":"","x":550,"y":3920,"wires":[]},{"id":"c90b2d469d0d1909","type":"ui-template","z":"0e3249ddee2000e3","group":"15a4ba9c21910ccf","page":"","ui":"","name":"Blue progress ","order":0,"width":"4","height":"4","head":"","format":"<template>\n        <v-progress-circular :rotate=\"0\" :size=\"200\" :width=\"30\" :model-value=\"value\" color=\"blue\">\n            <div class=\"text-h3\">{{value}}%</div>\n        </v-progress-circular>\n</template>\n\n<script>\n    export default {\n        data() {\n            return {               \n                value: 0               \n            }\n        },\n        watch: {\n            msg: function(){            \n                if(this.msg.payload != undefined){                    \n                    this.value = this.msg.payload                    \n                }\n            }\n        }\n    }\n</script>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":550,"y":4080,"wires":[[]]},{"id":"93c0183018fb9a78","type":"ui-template","z":"0e3249ddee2000e3","group":"15a4ba9c21910ccf","page":"","ui":"","name":"Orange progress ","order":0,"width":"2","height":"2","head":"","format":"<template>\n        <v-progress-circular :rotate=\"0\" :size=\"60\" :width=\"10\" :model-value=\"value\" color=\"orange\">\n            <strong>{{value}}%</strong>\n        </v-progress-circular>\n</template>\n\n<script>\n    export default {\n        data() {\n            return {               \n                value: 0               \n            }\n        },\n        watch: {\n            msg: function(){            \n                if(this.msg.payload != undefined){                    \n                    this.value = this.msg.payload                    \n                }\n            }\n        }\n    }\n</script>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":560,"y":4120,"wires":[[]]},{"id":"15a4ba9c21910ccf","type":"ui-group","name":"Progress","page":"f4063f293f6a82bd","width":"6","height":"2","order":2,"showTitle":true,"className":"","visible":"true","disabled":"false"},{"id":"1eda6bbc4f923c3d","type":"ui-group","name":"Gauges","page":"f4063f293f6a82bd","width":"6","height":"6","order":1,"showTitle":true,"className":"","visible":"true","disabled":"false"},{"id":"f4063f293f6a82bd","type":"ui-page","name":"Testing new design","ui":"cb79bc4520925e32","path":"/designtest","icon":"home","layout":"grid","theme":"0d92c765bfad87e6","order":-1,"className":"","visible":"true","disabled":"false"},{"id":"cb79bc4520925e32","type":"ui-base","name":"My UI","path":"/dashboard","includeClientData":true,"acceptsClientConfig":["ui-notification","ui-control"],"showPathInSidebar":false},{"id":"0d92c765bfad87e6","type":"ui-theme","name":"Basic Blue Theme","colors":{"surface":"#4d58ff","primary":"#0094ce","bgPage":"#eeeeee","groupBg":"#ffffff","groupOutline":"#cccccc"},"sizes":{"pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"12px"}}]