dashboard_2_tables.json
[{"id":"1319969d3a7547b6","type":"ui-template","z":"0e3249ddee2000e3","group":"fb2e77ec2c2a5dd1","page":"","ui":"","name":"Temp List","order":6,"width":"0","height":"0","head":"","format":"<template>\n    <v-data-table :items=\"msg?.payload\">\n        <template v-slot:header.current>\n            <!-- Override how we render the header for the \"current\" column -->\n            <div class=\"text-center\">Current Temperature</div>\n        </template>\n        <template v-slot:header.target>\n          <!-- Override how we render the header for the \"current\" column -->\n          <div class=\"text-center\">Target Temperature</div>\n        </template>\n\n        <template v-slot:item.target=\"{ item }\">\n            <v-btn class=\"ma-2\" variant=\"text\" icon=\"mdi-plus\" color=\"red-lighten-2\" @click=\"send({topic: 'plus', payload: item})\">\n            </v-btn>\n            <v-btn class=\"ma-2\" variant=\"text\" icon=\"mdi-minus\" color=\"blue-lighten-2\"\n              @click=\"send({topic: 'minus', payload: item})\"></v-btn>\n            {{ item.target }}°C\n        </template>\n\n        <template v-slot:item.current=\"{ item }\">\n            <!-- Render a Linear Progress Bar for the \"current\" column -->\n            <v-progress-linear v-model=\"item.current\" min=\"15\" max=\"25\" height=\"25\" :color=\"getColor(item)\">\n                <template v-slot:default=\"{ value }\">\n                    <strong>{{ item.current }}°C</strong>\n                </template>\n            </v-progress-linear>\n        </template>\n\n    </v-data-table>\n</template>\n\n<script>\n    export default {\n    data () {\n      return {\n        search: ''\n      }\n    },\n    methods: {\n        // add a function to determine the color of the progress bar given the row's item\n      getColor: function (item) {\n        if (item !== undefined ) {\n          if (item.current > item.target) {\n            return 'red'\n          } else {\n            return 'green'\n          }\n        }\n      }\n    }\n  }\n</script>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":1840,"y":3540,"wires":[["c5faf3a05c33fb6a","48e936484016c5b1"]]},{"id":"7f2faaca383c9278","type":"inject","z":"0e3249ddee2000e3","name":"Temperatures","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"Room\":\"Living Room\",\"id\":\"1234\",\"target\":18.5,\"current\":20},{\"Room\":\"Bathroom Room\",\"id\":\"5678\",\"target\":19.5,\"current\":18},{\"Room\":\"Kitchen Room\",\"id\":\"9101\",\"target\":18,\"current\":17}]","payloadType":"json","x":1430,"y":3540,"wires":[["55ced8a04613a907"]]},{"id":"be4d6b174e13256e","type":"comment","z":"0e3249ddee2000e3","name":"Table Examples","info":"","x":1440,"y":3140,"wires":[]},{"id":"5778bfe887134eb3","type":"inject","z":"0e3249ddee2000e3","name":"People List","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"name\":\"Keeley Bosco\",\"email\":\"katlyn@jenkinsmaggio.net\",\"city\":\"Lake Gladysberg\",\"age\":20,\"ev\":\"yes\",\"rating\":3,\"complete\":46},{\"name\":\"Rubye Jerde\",\"email\":\"juvenal@johnston.name\",\"city\":\"San Jose\",\"age\":28,\"ev\":\"yes\",\"rating\":3,\"complete\":53},{\"name\":\"Miss Darian Breitenberg\",\"email\":\"Miss.Darian.Breitenberg@example.com\",\"city\":\"Los Angeles\",\"age\":85,\"ev\":\"yes\",\"rating\":3,\"complete\":93},{\"name\":\"Celine Ankunding\",\"email\":\"emery_kunze@rogahn.net\",\"city\":\"Chicago\",\"age\":65,\"ev\":\"no\",\"rating\":3,\"complete\":47},{\"name\":\"Dr. Araceli Lang\",\"email\":\"mavis_lehner@jacobi.name\",\"city\":\"Yvettemouth\",\"age\":22,\"ev\":\"yes\",\"rating\":3,\"complete\":4},{\"name\":\"Esteban Von\",\"email\":\"Esteban.Von@example.com\",\"city\":\"Houston\",\"age\":27,\"ev\":\"no\",\"rating\":3,\"complete\":14},{\"name\":\"Everette Swift\",\"email\":\"gielle_jacobs@flatleyboehm.biz\",\"city\":\"Dallas\",\"age\":74,\"ev\":\"yes\",\"rating\":5,\"complete\":67},{\"name\":\"Terrell Boyle\",\"email\":\"augustine.conroy@keebler.name\",\"city\":\"Port Reaganfort\",\"age\":19,\"ev\":\"yes\",\"rating\":4,\"complete\":82},{\"name\":\"Miss Emmie Muller\",\"email\":\"Miss.Emmie.Muller@example.com\",\"city\":\"Kaleyhaven\",\"age\":24,\"ev\":\"yes\",\"rating\":3,\"complete\":73},{\"name\":\"Libby Renner\",\"email\":\"Libby.Renner@example.com\",\"city\":\"Port Reneeside\",\"age\":62,\"ev\":\"yes\",\"rating\":2,\"complete\":91},{\"name\":\"Kris Spencer\",\"email\":\"Kris.Spencer@example.com\",\"city\":\"Los Angeles\",\"age\":50,\"ev\":\"yes\",\"rating\":3,\"complete\":8},{\"name\":\"Terrance Schiller\",\"email\":\"prince@rosenbaum.info\",\"city\":\"Chicago\",\"age\":25,\"ev\":\"yes\",\"rating\":4,\"complete\":93},{\"name\":\"Alessandro Barton\",\"email\":\"sigurd.hudson@hodkiewicz.net\",\"city\":\"South Pearl\",\"age\":43,\"ev\":\"yes\",\"rating\":5,\"complete\":37},{\"name\":\"Dr. Art Grimes\",\"email\":\"monica@abbott.org\",\"city\":\"Dallas\",\"age\":46,\"ev\":\"no\",\"rating\":3,\"complete\":21},{\"name\":\"Keven Purdy\",\"email\":\"carter_zboncak@schmidtjenkins.info\",\"city\":\"Port Marjolaineshire\",\"age\":82,\"ev\":\"no\",\"rating\":4,\"complete\":81},{\"name\":\"William Wisozk DVM\",\"email\":\"adonis@dach.net\",\"city\":\"Rogelioton\",\"age\":35,\"ev\":\"no\",\"rating\":4,\"complete\":42},{\"name\":\"Oma Grady\",\"email\":\"laurianne_goldner@kerluke.biz\",\"city\":\"South Chelsie\",\"age\":26,\"ev\":\"no\",\"rating\":3,\"complete\":99},{\"name\":\"Annie Schamberger\",\"email\":\"blanca_smitham@pfeffervon.net\",\"city\":\"Marvinville\",\"age\":52,\"ev\":\"no\",\"rating\":3,\"complete\":65},{\"name\":\"Jazmin Kovacek\",\"email\":\"mittie.ullrich@boehm.name\",\"city\":\"San Jose\",\"age\":32,\"ev\":\"yes\",\"rating\":2,\"complete\":16},{\"name\":\"Thomas O'Conner\",\"email\":\"Thomas.O'Conner@example.com\",\"city\":\"North Tierramouth\",\"age\":76,\"ev\":\"no\",\"rating\":4,\"complete\":9},{\"name\":\"Jordi Jaskolski II\",\"email\":\"Jordi.Jaskolski.II@example.com\",\"city\":\"San Jose\",\"age\":68,\"ev\":\"yes\",\"rating\":4,\"complete\":35},{\"name\":\"Willy Beahan III\",\"email\":\"Willy.Beahan.III@example.com\",\"city\":\"Port Heloise\",\"age\":67,\"ev\":\"no\",\"rating\":2,\"complete\":3},{\"name\":\"Alessandra Nader Sr.\",\"email\":\"Alessandra.Nader.Sr.@example.com\",\"city\":\"Yasminville\",\"age\":57,\"ev\":\"yes\",\"rating\":2,\"complete\":19},{\"name\":\"Leora Heller\",\"email\":\"Leora.Heller@example.com\",\"city\":\"Port Jerad\",\"age\":79,\"ev\":\"yes\",\"rating\":5,\"complete\":17},{\"name\":\"Crystel Satterfield\",\"email\":\"olin@christiansenklocko.name\",\"city\":\"New Ebony\",\"age\":57,\"ev\":\"yes\",\"rating\":1,\"complete\":82},{\"name\":\"Neal Nitzsche\",\"email\":\"Neal.Nitzsche@example.com\",\"city\":\"Rohanview\",\"age\":73,\"ev\":\"yes\",\"rating\":5,\"complete\":63},{\"name\":\"Ramona Lubowitz\",\"email\":\"Ramona.Lubowitz@example.com\",\"city\":\"Port Ford\",\"age\":85,\"ev\":\"yes\",\"rating\":4,\"complete\":1},{\"name\":\"Miss Brock Macejkovic\",\"email\":\"Miss.Brock.Macejkovic@example.com\",\"city\":\"San Antonio\",\"age\":82,\"ev\":\"no\",\"rating\":4,\"complete\":2},{\"name\":\"Mrs. Keyon Bergnaum\",\"email\":\"Mrs..Keyon.Bergnaum@example.com\",\"city\":\"Port Alaynaview\",\"age\":29,\"ev\":\"no\",\"rating\":2,\"complete\":46},{\"name\":\"Renee Hand\",\"email\":\"landen.dicki@hilll.com\",\"city\":\"Vivienland\",\"age\":33,\"ev\":\"yes\",\"rating\":3,\"complete\":99},{\"name\":\"Queen Mills\",\"email\":\"wade@stracke.name\",\"city\":\"East Dorothy\",\"age\":68,\"ev\":\"yes\",\"rating\":5,\"complete\":77},{\"name\":\"Alec Howell\",\"email\":\"derick.gaylord@beer.name\",\"city\":\"South Hollyport\",\"age\":76,\"ev\":\"yes\",\"rating\":1,\"complete\":30},{\"name\":\"Haley Mohr DVM\",\"email\":\"Haley.Mohr.DVM@example.com\",\"city\":\"Russelshire\",\"age\":68,\"ev\":\"no\",\"rating\":3,\"complete\":44},{\"name\":\"Jailyn Raynor\",\"email\":\"lauretta@walkerquitzon.biz\",\"city\":\"North Helen\",\"age\":37,\"ev\":\"yes\",\"rating\":1,\"complete\":12},{\"name\":\"Ms. Yadira Marvin\",\"email\":\"Ms..Yadira.Marvin@example.com\",\"city\":\"South Kaylaport\",\"age\":60,\"ev\":\"no\",\"rating\":5,\"complete\":34},{\"name\":\"Mr. Lisette Nolan\",\"email\":\"Mr..Lisette.Nolan@example.com\",\"city\":\"San Diego\",\"age\":86,\"ev\":\"no\",\"rating\":4,\"complete\":32},{\"name\":\"Freeda Swaniawski\",\"email\":\"Freeda.Swaniawski@example.com\",\"city\":\"Homenickburgh\",\"age\":26,\"ev\":\"no\",\"rating\":3,\"complete\":6},{\"name\":\"Ms. Dorcas Reichel\",\"email\":\"alison@romaguera.net\",\"city\":\"Port Collinshire\",\"age\":84,\"ev\":\"yes\",\"rating\":2,\"complete\":38},{\"name\":\"Enola Dicki\",\"email\":\"florencio@glover.com\",\"city\":\"Dallas\",\"age\":19,\"ev\":\"yes\",\"rating\":3,\"complete\":42},{\"name\":\"Keith Wilderman\",\"email\":\"alanis@williamson.name\",\"city\":\"West Isaiashaven\",\"age\":50,\"ev\":\"yes\",\"rating\":5,\"complete\":67},{\"name\":\"Dayton Gutmann\",\"email\":\"presley.hegmann@williamsonlittle.biz\",\"city\":\"San Diego\",\"age\":66,\"ev\":\"yes\",\"rating\":5,\"complete\":10},{\"name\":\"Jamey Paucek\",\"email\":\"santino.abshire@collins.net\",\"city\":\"East Geovany\",\"age\":51,\"ev\":\"yes\",\"rating\":2,\"complete\":93}]","payloadType":"json","x":1500,"y":3260,"wires":[["678fc31a626dbc77"]]},{"id":"678fc31a626dbc77","type":"ui-template","z":"0e3249ddee2000e3","group":"fb2e77ec2c2a5dd1","page":"","ui":"","name":"Header configuration","order":2,"width":"0","height":"0","head":"","format":"<template>\n    <!-- Provide an input text box to search the content -->\n    <v-text-field v-model=\"search\" label=\"Search\" prepend-inner-icon=\"mdi-magnify\" single-line variant=\"outlined\"\n        hide-details></v-text-field>\n    <v-data-table v-model:search=\"search\" :items=\"msg?.payload\">\n        <template v-slot:header.ev>\n          <div class=\"text-center\">EV Owner</div>\n        </template>\n        <template v-slot:header.rating>\n          <div class=\"text-center\">Customer Satisfaction</div>\n        </template>\n        <template v-slot:header.complete>\n          <div class=\"text-center\">Journey Completed</div>\n        </template>\n\n      <template v-slot:item.email=\"{ item }\">\n        <!-- turn the email column to an Email hyperlink -->\n        <a :href=\"'mailto:' + item.email\">Email</a>\n      </template>\n\n      <template v-slot:item.age=\"{ item }\">\n        <!-- Add a custom suffix \"years\" after the number -->\n        <v-chip :color=\"getChipColor(item)\">\n          {{ item.age }} years\n        </v-chip>\n      </template>\n\n      <template v-slot:item.ev=\"{ item }\">\n        <!-- Convert the EV values to colored icons -->\n        <div class=\"text-center\"><v-icon :color=\"evColor(item)\" :icon=\"evIcon(item)\"></v-icon></div>\n      </template>\n\n      <template v-slot:item.rating=\"{ item }\">\n        <!-- Display the rating number as star rating -->\n        <v-rating length=\"5\" size=\"32\" :model-value=\"item.rating\" active-color=\"primary\" readonly></v-rating>\n      </template>\n\n      <template v-slot:item.complete=\"{ item }\">\n        <!-- Display the progress as a linear progress -->\n        <v-progress-linear :color=\"getProgressColor(item)\" :model-value=\"item.complete\" height=\"12\"></v-progress-linear>\n      </template>\n\n\n    </v-data-table>\n</template>\n\n<script>\n  export default {\n    data () {\n      return {\n        search: ''\n      }\n    },\n    methods: {\n        // add a function to determine the color of the progress bar given the row's item\n      evColor: function (item) {\n        if (item !== undefined ) {\n          if (item.ev == \"yes\") {\n            return 'green';\n          } else {\n            return 'grey';\n          }\n        }\n      },\n      evIcon: function (item) {\n        if (item !== undefined ) {\n          if (item.ev == \"yes\") {\n            return 'mdi-car-electric';\n          } else {\n            return 'mdi-car';\n          }\n        }\n      },\n      getProgressColor: function (item) {\n        if (item !== undefined ) {\n          if (item.complete > 80) {\n            return 'red';\n          } else {\n            if (item.complete > 50) {\n              return 'orange';\n            } else {\n              return 'green';\n            }\n          }\n        }\n      },\n      getChipColor: function (item) {\n        if (item !== undefined ) {\n          if (item.age > 50) {\n            return 'red';\n            } else {\n              if (item.age > 30) {\n                return 'orange';\n              } else {\n                return 'green';\n            }\n          }\n        }\n      }\n    }\n  }\n</script>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1780,"y":3260,"wires":[[]]},{"id":"ecc6b9e44b0297f3","type":"inject","z":"0e3249ddee2000e3","name":"File list","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"name\":\"/home/nygma/00-13-a2-00-42-33-64-84_2023_43.csv\",\"stat\":{\"size\":200,\"created\":\"2023-10-27T19:59:25.427Z\",\"changed\":\"2023-10-27T20:00:28.392Z\",\"accessed\":\"2023-10-29T02:00:44.466Z\",\"statusChanged\":\"2023-10-27T20:00:28.392Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"200\"},\"fname\":\"00-13-a2-00-42-33-64-84_2023_43.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/00-13-a2-00-42-33-64-84_2023_43.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/00-13-a2-00-42-33-74-1e_2023_43.csv\",\"stat\":{\"size\":133,\"created\":\"2023-10-27T19:59:43.928Z\",\"changed\":\"2023-10-27T19:59:43.928Z\",\"accessed\":\"2023-10-29T02:00:20.366Z\",\"statusChanged\":\"2023-10-27T19:59:43.928Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"133\"},\"fname\":\"00-13-a2-00-42-33-74-1e_2023_43.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/00-13-a2-00-42-33-74-1e_2023_43.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/Desktop\",\"stat\":{\"size\":4096,\"created\":\"2021-11-26T18:15:52.808Z\",\"changed\":\"2021-11-26T18:15:52.808Z\",\"accessed\":\"2024-02-16T02:00:00.003Z\",\"statusChanged\":\"2021-11-26T18:15:52.808Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x41ed\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":true,\"isFIFO\":false,\"isFile\":false,\"isSocket\":false,\"isSymbolicLink\":false},\"fname\":\"Desktop\",\"ext\":\"folder\",\"icon\":\"mdi-folder-outline\"},{\"name\":\"/home/nygma/Documents\",\"stat\":{\"size\":4096,\"created\":\"2021-11-26T18:15:52.808Z\",\"changed\":\"2021-11-26T18:15:52.808Z\",\"accessed\":\"2024-02-16T02:00:04.119Z\",\"statusChanged\":\"2021-11-26T18:15:52.808Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x41ed\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":true,\"isFIFO\":false,\"isFile\":false,\"isSocket\":false,\"isSymbolicLink\":false},\"fname\":\"Documents\",\"ext\":\"folder\",\"icon\":\"mdi-folder-outline\"},{\"name\":\"/home/nygma/Downloads\",\"stat\":{\"size\":4096,\"created\":\"2021-11-26T18:15:52.808Z\",\"changed\":\"2021-11-26T18:15:52.808Z\",\"accessed\":\"2024-02-16T02:00:00.551Z\",\"statusChanged\":\"2021-11-26T18:15:52.808Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x41ed\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":true,\"isFIFO\":false,\"isFile\":false,\"isSocket\":false,\"isSymbolicLink\":false},\"fname\":\"Downloads\",\"ext\":\"folder\",\"icon\":\"mdi-folder-outline\"},{\"name\":\"/home/nygma/Music\",\"stat\":{\"size\":4096,\"created\":\"2021-11-26T18:15:52.808Z\",\"changed\":\"2021-11-26T18:15:52.808Z\",\"accessed\":\"2024-02-16T02:00:00.219Z\",\"statusChanged\":\"2021-11-26T18:15:52.808Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x41ed\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":true,\"isFIFO\":false,\"isFile\":false,\"isSocket\":false,\"isSymbolicLink\":false},\"fname\":\"Music\",\"ext\":\"folder\",\"icon\":\"mdi-folder-outline\"},{\"name\":\"/home/nygma/Pictures\",\"stat\":{\"size\":4096,\"created\":\"2021-11-26T18:15:52.808Z\",\"changed\":\"2021-11-26T18:15:52.808Z\",\"accessed\":\"2024-02-16T02:00:04.119Z\",\"statusChanged\":\"2021-11-26T18:15:52.808Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x41ed\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":true,\"isFIFO\":false,\"isFile\":false,\"isSocket\":false,\"isSymbolicLink\":false},\"fname\":\"Pictures\",\"ext\":\"folder\",\"icon\":\"mdi-folder-outline\"},{\"name\":\"/home/nygma/Public\",\"stat\":{\"size\":4096,\"created\":\"2021-11-26T18:15:52.808Z\",\"changed\":\"2021-11-26T18:15:52.808Z\",\"accessed\":\"2024-02-16T02:00:03.227Z\",\"statusChanged\":\"2021-11-26T18:15:52.808Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x41ed\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":true,\"isFIFO\":false,\"isFile\":false,\"isSocket\":false,\"isSymbolicLink\":false},\"fname\":\"Public\",\"ext\":\"folder\",\"icon\":\"mdi-folder-outline\"},{\"name\":\"/home/nygma/Templates\",\"stat\":{\"size\":4096,\"created\":\"2021-11-26T18:15:52.808Z\",\"changed\":\"2021-11-26T18:15:52.808Z\",\"accessed\":\"2024-02-16T02:00:00.219Z\",\"statusChanged\":\"2021-11-26T18:15:52.808Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x41ed\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":true,\"isFIFO\":false,\"isFile\":false,\"isSocket\":false,\"isSymbolicLink\":false},\"fname\":\"Templates\",\"ext\":\"folder\",\"icon\":\"mdi-folder-outline\"},{\"name\":\"/home/nygma/Videos\",\"stat\":{\"size\":4096,\"created\":\"2021-11-26T18:15:52.808Z\",\"changed\":\"2021-11-26T18:15:52.808Z\",\"accessed\":\"2024-02-16T02:00:00.219Z\",\"statusChanged\":\"2021-11-26T18:15:52.808Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x41ed\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":true,\"isFIFO\":false,\"isFile\":false,\"isSocket\":false,\"isSymbolicLink\":false},\"fname\":\"Videos\",\"ext\":\"folder\",\"icon\":\"mdi-folder-outline\"},{\"name\":\"/home/nygma/ai\",\"stat\":{\"size\":4096,\"created\":\"2023-10-05T17:01:04.284Z\",\"changed\":\"2023-11-12T19:28:21.492Z\",\"accessed\":\"2024-02-16T02:00:04.119Z\",\"statusChanged\":\"2023-11-12T19:28:21.492Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x41ed\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":true,\"isFIFO\":false,\"isFile\":false,\"isSocket\":false,\"isSymbolicLink\":false},\"fname\":\"ai\",\"ext\":\"folder\",\"icon\":\"mdi-folder-outline\"},{\"name\":\"/home/nygma/charts\",\"stat\":{\"size\":4096,\"created\":\"2021-12-17T19:49:45.355Z\",\"changed\":\"2023-11-12T21:10:34.160Z\",\"accessed\":\"2024-02-16T02:00:04.119Z\",\"statusChanged\":\"2023-11-12T21:10:34.160Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x41ed\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":true,\"isFIFO\":false,\"isFile\":false,\"isSocket\":false,\"isSymbolicLink\":false},\"fname\":\"charts\",\"ext\":\"folder\",\"icon\":\"mdi-folder-outline\"},{\"name\":\"/home/nygma/cnc_19700101-010000.csv\",\"stat\":{\"size\":71708,\"created\":\"2023-05-12T21:50:00.008Z\",\"changed\":\"2023-10-27T21:50:00.048Z\",\"accessed\":\"2024-01-18T19:45:39.789Z\",\"statusChanged\":\"2023-10-27T21:50:00.048Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"71,708\"},\"fname\":\"cnc_19700101-010000.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_19700101-010000.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20221222-134731.csv\",\"stat\":{\"size\":133,\"created\":\"2022-12-22T22:50:00.011Z\",\"changed\":\"2022-12-22T22:50:00.011Z\",\"accessed\":\"2024-01-18T19:45:34.661Z\",\"statusChanged\":\"2022-12-22T22:50:00.011Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"133\"},\"fname\":\"cnc_20221222-134731.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20221222-134731.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20221226-153842.csv\",\"stat\":{\"size\":133,\"created\":\"2022-12-26T22:50:00.008Z\",\"changed\":\"2022-12-26T22:50:00.008Z\",\"accessed\":\"2024-01-18T19:45:36.517Z\",\"statusChanged\":\"2022-12-26T22:50:00.008Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"133\"},\"fname\":\"cnc_20221226-153842.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20221226-153842.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20221229-161318.csv\",\"stat\":{\"size\":133,\"created\":\"2022-12-29T22:50:00.010Z\",\"changed\":\"2022-12-29T22:50:00.010Z\",\"accessed\":\"2024-01-18T19:45:38.929Z\",\"statusChanged\":\"2022-12-29T22:50:00.010Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"133\"},\"fname\":\"cnc_20221229-161318.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20221229-161318.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230104-213222.csv\",\"stat\":{\"size\":133,\"created\":\"2023-01-04T22:50:00.009Z\",\"changed\":\"2023-01-04T22:50:00.009Z\",\"accessed\":\"2023-01-06T02:00:24.486Z\",\"statusChanged\":\"2023-01-04T22:50:00.009Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"133\"},\"fname\":\"cnc_20230104-213222.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230104-213222.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230113-214820.csv\",\"stat\":{\"size\":133,\"created\":\"2023-01-13T22:50:00.011Z\",\"changed\":\"2023-01-13T22:50:00.011Z\",\"accessed\":\"2023-01-15T02:00:05.546Z\",\"statusChanged\":\"2023-01-13T22:50:00.011Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"133\"},\"fname\":\"cnc_20230113-214820.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230113-214820.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230123-215318.csv\",\"stat\":{\"size\":133,\"created\":\"2023-01-23T22:50:00.009Z\",\"changed\":\"2023-01-23T22:50:00.009Z\",\"accessed\":\"2023-01-25T02:00:03.085Z\",\"statusChanged\":\"2023-01-23T22:50:00.009Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"133\"},\"fname\":\"cnc_20230123-215318.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230123-215318.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230127-185044.csv\",\"stat\":{\"size\":133,\"created\":\"2023-01-27T22:50:00.015Z\",\"changed\":\"2023-01-27T22:50:00.015Z\",\"accessed\":\"2023-01-29T02:00:01.318Z\",\"statusChanged\":\"2023-01-27T22:50:00.015Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"133\"},\"fname\":\"cnc_20230127-185044.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230127-185044.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230227-104645.csv\",\"stat\":{\"size\":133,\"created\":\"2023-02-27T22:50:00.009Z\",\"changed\":\"2023-02-27T22:50:00.009Z\",\"accessed\":\"2023-03-01T02:00:03.213Z\",\"statusChanged\":\"2023-02-27T22:50:00.009Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"133\"},\"fname\":\"cnc_20230227-104645.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230227-104645.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230302-205009.csv\",\"stat\":{\"size\":14987,\"created\":\"2023-03-02T22:50:00.025Z\",\"changed\":\"2023-03-02T22:50:00.025Z\",\"accessed\":\"2023-03-04T02:00:02.657Z\",\"statusChanged\":\"2023-03-02T22:50:00.025Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"14,987\"},\"fname\":\"cnc_20230302-205009.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230302-205009.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230303-214941.csv\",\"stat\":{\"size\":289002,\"created\":\"2023-03-03T22:50:00.924Z\",\"changed\":\"2023-03-03T22:50:00.924Z\",\"accessed\":\"2023-03-05T02:00:11.923Z\",\"statusChanged\":\"2023-03-03T22:50:00.924Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"289,002\"},\"fname\":\"cnc_20230303-214941.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230303-214941.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230306-194905.csv\",\"stat\":{\"size\":10141,\"created\":\"2023-03-06T22:50:00.016Z\",\"changed\":\"2023-03-06T22:50:00.016Z\",\"accessed\":\"2023-03-08T02:00:31.158Z\",\"statusChanged\":\"2023-03-06T22:50:00.016Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"10,141\"},\"fname\":\"cnc_20230306-194905.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230306-194905.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230310-190053.csv\",\"stat\":{\"size\":31959,\"created\":\"2023-03-10T22:50:00.027Z\",\"changed\":\"2023-03-10T22:50:00.027Z\",\"accessed\":\"2023-03-12T02:01:35.919Z\",\"statusChanged\":\"2023-03-10T22:50:00.027Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"31,959\"},\"fname\":\"cnc_20230310-190053.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230310-190053.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230313-183859.csv\",\"stat\":{\"size\":33078,\"created\":\"2023-03-13T22:50:00.028Z\",\"changed\":\"2023-03-13T22:50:00.028Z\",\"accessed\":\"2023-04-18T21:49:39.142Z\",\"statusChanged\":\"2023-03-13T22:50:00.028Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"33,078\"},\"fname\":\"cnc_20230313-183859.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230313-183859.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230314-183805.csv\",\"stat\":{\"size\":197091,\"created\":\"2023-03-14T22:50:00.417Z\",\"changed\":\"2023-03-14T22:50:00.417Z\",\"accessed\":\"2023-03-16T02:00:30.059Z\",\"statusChanged\":\"2023-03-14T22:50:00.417Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"197,091\"},\"fname\":\"cnc_20230314-183805.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230314-183805.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230321-124942.csv\",\"stat\":{\"size\":296,\"created\":\"2023-03-21T22:50:00.024Z\",\"changed\":\"2023-03-21T22:50:00.024Z\",\"accessed\":\"2023-03-23T02:00:01.168Z\",\"statusChanged\":\"2023-03-21T22:50:00.024Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"296\"},\"fname\":\"cnc_20230321-124942.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230321-124942.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230322-202017.csv\",\"stat\":{\"size\":133,\"created\":\"2023-03-22T22:50:00.012Z\",\"changed\":\"2023-03-22T22:50:00.012Z\",\"accessed\":\"2023-03-24T02:00:06.209Z\",\"statusChanged\":\"2023-03-22T22:50:00.012Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"133\"},\"fname\":\"cnc_20230322-202017.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230322-202017.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230323-190358.csv\",\"stat\":{\"size\":133,\"created\":\"2023-03-23T22:50:00.010Z\",\"changed\":\"2023-03-23T22:50:00.010Z\",\"accessed\":\"2023-03-25T02:00:17.458Z\",\"statusChanged\":\"2023-03-23T22:50:00.010Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"133\"},\"fname\":\"cnc_20230323-190358.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230323-190358.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230324-120148.csv\",\"stat\":{\"size\":133,\"created\":\"2023-03-24T22:50:00.011Z\",\"changed\":\"2023-03-24T22:50:00.011Z\",\"accessed\":\"2023-03-26T01:00:01.122Z\",\"statusChanged\":\"2023-03-24T22:50:00.011Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"133\"},\"fname\":\"cnc_20230324-120148.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230324-120148.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230325-145025.csv\",\"stat\":{\"size\":133,\"created\":\"2023-03-25T22:50:00.010Z\",\"changed\":\"2023-03-25T22:50:00.010Z\",\"accessed\":\"2023-03-27T01:00:03.630Z\",\"statusChanged\":\"2023-03-25T22:50:00.010Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"133\"},\"fname\":\"cnc_20230325-145025.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230325-145025.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230331-125552.csv\",\"stat\":{\"size\":297,\"created\":\"2023-03-31T21:50:00.008Z\",\"changed\":\"2023-03-31T21:50:00.008Z\",\"accessed\":\"2023-04-02T01:00:05.284Z\",\"statusChanged\":\"2023-03-31T21:50:00.008Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"297\"},\"fname\":\"cnc_20230331-125552.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230331-125552.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230405-153450.csv\",\"stat\":{\"size\":4362,\"created\":\"2023-04-05T21:50:00.018Z\",\"changed\":\"2023-04-05T21:50:00.018Z\",\"accessed\":\"2023-04-07T01:00:00.940Z\",\"statusChanged\":\"2023-04-05T21:50:00.018Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"4,362\"},\"fname\":\"cnc_20230405-153450.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230405-153450.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230406-195802.csv\",\"stat\":{\"size\":1123,\"created\":\"2023-04-06T21:50:00.006Z\",\"changed\":\"2023-04-06T21:50:00.006Z\",\"accessed\":\"2023-04-08T01:00:10.109Z\",\"statusChanged\":\"2023-04-06T21:50:00.006Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"1,123\"},\"fname\":\"cnc_20230406-195802.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230406-195802.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230408-183245.csv\",\"stat\":{\"size\":1931,\"created\":\"2023-04-08T21:50:00.007Z\",\"changed\":\"2023-04-08T21:50:00.007Z\",\"accessed\":\"2023-04-10T01:00:09.801Z\",\"statusChanged\":\"2023-04-08T21:50:00.007Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"1,931\"},\"fname\":\"cnc_20230408-183245.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230408-183245.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230412-193628.csv\",\"stat\":{\"size\":133,\"created\":\"2023-04-12T21:50:00.007Z\",\"changed\":\"2023-04-12T21:50:00.007Z\",\"accessed\":\"2023-04-14T01:00:04.959Z\",\"statusChanged\":\"2023-04-12T21:50:00.007Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"133\"},\"fname\":\"cnc_20230412-193628.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230412-193628.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230414-215203.csv\",\"stat\":{\"size\":133,\"created\":\"2023-04-14T21:50:00.007Z\",\"changed\":\"2023-04-14T21:50:00.007Z\",\"accessed\":\"2023-04-16T01:00:05.188Z\",\"statusChanged\":\"2023-04-14T21:50:00.007Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"133\"},\"fname\":\"cnc_20230414-215203.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230414-215203.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230427-164616.csv\",\"stat\":{\"size\":620,\"created\":\"2023-04-27T21:50:00.008Z\",\"changed\":\"2023-04-27T21:50:00.008Z\",\"accessed\":\"2023-04-29T01:00:01.108Z\",\"statusChanged\":\"2023-04-27T21:50:00.008Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"620\"},\"fname\":\"cnc_20230427-164616.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230427-164616.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230428-194456.csv\",\"stat\":{\"size\":55307,\"created\":\"2023-04-28T21:50:00.034Z\",\"changed\":\"2023-04-28T21:50:00.034Z\",\"accessed\":\"2023-04-30T01:00:08.534Z\",\"statusChanged\":\"2023-04-28T21:50:00.034Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"55,307\"},\"fname\":\"cnc_20230428-194456.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230428-194456.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230502-203906.csv\",\"stat\":{\"size\":457,\"created\":\"2023-05-02T21:50:00.014Z\",\"changed\":\"2023-05-02T21:50:00.014Z\",\"accessed\":\"2023-05-04T01:00:10.996Z\",\"statusChanged\":\"2023-05-02T21:50:00.014Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"457\"},\"fname\":\"cnc_20230502-203906.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230502-203906.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230503-204013.csv\",\"stat\":{\"size\":92115,\"created\":\"2023-05-03T21:50:00.096Z\",\"changed\":\"2023-05-03T21:50:00.096Z\",\"accessed\":\"2023-05-05T01:00:09.025Z\",\"statusChanged\":\"2023-05-03T21:50:00.096Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"92,115\"},\"fname\":\"cnc_20230503-204013.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230503-204013.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230511-133312.csv\",\"stat\":{\"size\":4116,\"created\":\"2023-05-11T21:50:00.012Z\",\"changed\":\"2023-05-11T21:50:00.012Z\",\"accessed\":\"2024-01-18T19:45:50.121Z\",\"statusChanged\":\"2023-05-11T21:50:00.012Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"4,116\"},\"fname\":\"cnc_20230511-133312.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230511-133312.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230516-194300.csv\",\"stat\":{\"size\":91588,\"created\":\"2023-05-16T21:50:00.117Z\",\"changed\":\"2023-05-16T21:50:00.121Z\",\"accessed\":\"2023-05-18T01:00:00.800Z\",\"statusChanged\":\"2023-05-16T21:50:00.121Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"91,588\"},\"fname\":\"cnc_20230516-194300.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230516-194300.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230522-195428.csv\",\"stat\":{\"size\":88386,\"created\":\"2023-05-22T21:50:00.084Z\",\"changed\":\"2023-05-22T21:50:00.088Z\",\"accessed\":\"2024-01-18T19:45:50.861Z\",\"statusChanged\":\"2023-05-22T21:50:00.088Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"88,386\"},\"fname\":\"cnc_20230522-195428.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230522-195428.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230524-214711.csv\",\"stat\":{\"size\":196144,\"created\":\"2023-05-24T21:50:00.435Z\",\"changed\":\"2023-05-24T21:50:00.439Z\",\"accessed\":\"2024-01-18T19:47:06.265Z\",\"statusChanged\":\"2023-05-24T21:50:00.439Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"196,144\"},\"fname\":\"cnc_20230524-214711.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230524-214711.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230525-213717.csv\",\"stat\":{\"size\":191210,\"created\":\"2023-05-25T21:50:00.433Z\",\"changed\":\"2023-05-25T21:50:00.433Z\",\"accessed\":\"2023-05-27T01:00:02.964Z\",\"statusChanged\":\"2023-05-25T21:50:00.433Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"191,210\"},\"fname\":\"cnc_20230525-213717.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230525-213717.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230526-213650.csv\",\"stat\":{\"size\":175413,\"created\":\"2023-05-26T21:50:00.348Z\",\"changed\":\"2023-05-26T21:50:00.348Z\",\"accessed\":\"2023-05-28T01:00:11.722Z\",\"statusChanged\":\"2023-05-26T21:50:00.348Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"175,413\"},\"fname\":\"cnc_20230526-213650.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230526-213650.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230529-191724.csv\",\"stat\":{\"size\":101514,\"created\":\"2023-05-29T21:50:00.125Z\",\"changed\":\"2023-05-29T21:50:00.125Z\",\"accessed\":\"2023-05-31T01:00:01.001Z\",\"statusChanged\":\"2023-05-29T21:50:00.125Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"101,514\"},\"fname\":\"cnc_20230529-191724.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230529-191724.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230530-214941.csv\",\"stat\":{\"size\":10977,\"created\":\"2023-05-30T21:50:00.012Z\",\"changed\":\"2023-05-30T21:50:00.012Z\",\"accessed\":\"2023-06-01T01:00:01.699Z\",\"statusChanged\":\"2023-05-30T21:50:00.012Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"10,977\"},\"fname\":\"cnc_20230530-214941.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230530-214941.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230531-215009.csv\",\"stat\":{\"size\":116743,\"created\":\"2023-05-31T21:50:00.156Z\",\"changed\":\"2023-05-31T21:50:00.156Z\",\"accessed\":\"2023-06-02T01:00:00.653Z\",\"statusChanged\":\"2023-05-31T21:50:00.156Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"116,743\"},\"fname\":\"cnc_20230531-215009.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230531-215009.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230601-215315.csv\",\"stat\":{\"size\":55516,\"created\":\"2023-06-01T21:50:00.036Z\",\"changed\":\"2023-06-01T21:50:00.036Z\",\"accessed\":\"2023-06-03T01:00:00.613Z\",\"statusChanged\":\"2023-06-01T21:50:00.036Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"55,516\"},\"fname\":\"cnc_20230601-215315.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230601-215315.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230602-214835.csv\",\"stat\":{\"size\":109895,\"created\":\"2023-06-02T21:50:00.131Z\",\"changed\":\"2023-06-02T21:50:00.131Z\",\"accessed\":\"2023-06-04T01:00:00.255Z\",\"statusChanged\":\"2023-06-02T21:50:00.131Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"109,895\"},\"fname\":\"cnc_20230602-214835.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230602-214835.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230605-154202.csv\",\"stat\":{\"size\":133,\"created\":\"2023-06-05T21:50:00.007Z\",\"changed\":\"2023-06-05T21:50:00.007Z\",\"accessed\":\"2023-06-07T01:00:00.829Z\",\"statusChanged\":\"2023-06-05T21:50:00.007Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"133\"},\"fname\":\"cnc_20230605-154202.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230605-154202.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230607-215303.csv\",\"stat\":{\"size\":35482,\"created\":\"2023-06-07T21:50:00.048Z\",\"changed\":\"2023-06-07T21:50:00.048Z\",\"accessed\":\"2023-06-09T01:00:45.288Z\",\"statusChanged\":\"2023-06-07T21:50:00.048Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"35,482\"},\"fname\":\"cnc_20230607-215303.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230607-215303.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230608-214209.csv\",\"stat\":{\"size\":133728,\"created\":\"2023-06-08T21:50:00.223Z\",\"changed\":\"2023-06-08T21:50:00.223Z\",\"accessed\":\"2023-06-10T01:00:45.480Z\",\"statusChanged\":\"2023-06-08T21:50:00.223Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"133,728\"},\"fname\":\"cnc_20230608-214209.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230608-214209.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230609-214412.csv\",\"stat\":{\"size\":48310,\"created\":\"2023-06-09T21:50:00.053Z\",\"changed\":\"2023-06-09T21:50:00.053Z\",\"accessed\":\"2023-06-11T01:00:02.771Z\",\"statusChanged\":\"2023-06-09T21:50:00.053Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"48,310\"},\"fname\":\"cnc_20230609-214412.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230609-214412.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230610-175131.csv\",\"stat\":{\"size\":82057,\"created\":\"2023-06-10T21:50:00.075Z\",\"changed\":\"2023-06-10T21:50:00.075Z\",\"accessed\":\"2023-06-12T01:00:01.499Z\",\"statusChanged\":\"2023-06-10T21:50:00.075Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"82,057\"},\"fname\":\"cnc_20230610-175131.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230610-175131.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230612-214336.csv\",\"stat\":{\"size\":98744,\"created\":\"2023-06-12T21:50:00.143Z\",\"changed\":\"2023-06-12T21:50:00.143Z\",\"accessed\":\"2023-06-14T01:00:10.867Z\",\"statusChanged\":\"2023-06-12T21:50:00.143Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"98,744\"},\"fname\":\"cnc_20230612-214336.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230612-214336.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230613-214354.csv\",\"stat\":{\"size\":113196,\"created\":\"2023-06-13T21:50:00.140Z\",\"changed\":\"2023-06-13T21:50:00.140Z\",\"accessed\":\"2023-06-15T01:00:03.871Z\",\"statusChanged\":\"2023-06-13T21:50:00.140Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"113,196\"},\"fname\":\"cnc_20230613-214354.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230613-214354.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230614-214439.csv\",\"stat\":{\"size\":101032,\"created\":\"2023-06-14T21:50:00.121Z\",\"changed\":\"2023-06-14T21:50:00.125Z\",\"accessed\":\"2023-06-16T01:00:01.914Z\",\"statusChanged\":\"2023-06-14T21:50:00.125Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"101,032\"},\"fname\":\"cnc_20230614-214439.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230614-214439.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230615-213510.csv\",\"stat\":{\"size\":114431,\"created\":\"2023-06-15T21:50:00.150Z\",\"changed\":\"2023-06-15T21:50:00.154Z\",\"accessed\":\"2023-06-17T01:00:01.069Z\",\"statusChanged\":\"2023-06-15T21:50:00.154Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"114,431\"},\"fname\":\"cnc_20230615-213510.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230615-213510.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230616-214523.csv\",\"stat\":{\"size\":109629,\"created\":\"2023-06-16T21:50:00.132Z\",\"changed\":\"2023-06-16T21:50:00.132Z\",\"accessed\":\"2023-06-18T01:00:00.791Z\",\"statusChanged\":\"2023-06-16T21:50:00.132Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"109,629\"},\"fname\":\"cnc_20230616-214523.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230616-214523.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230619-214959.csv\",\"stat\":{\"size\":56010,\"created\":\"2023-06-19T21:50:00.036Z\",\"changed\":\"2023-06-19T21:50:00.036Z\",\"accessed\":\"2023-06-21T01:00:15.681Z\",\"statusChanged\":\"2023-06-19T21:50:00.036Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"56,010\"},\"fname\":\"cnc_20230619-214959.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230619-214959.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230620-214740.csv\",\"stat\":{\"size\":133,\"created\":\"2023-06-20T21:50:00.016Z\",\"changed\":\"2023-06-20T21:50:00.016Z\",\"accessed\":\"2023-06-22T01:00:00.713Z\",\"statusChanged\":\"2023-06-20T21:50:00.016Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"133\"},\"fname\":\"cnc_20230620-214740.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230620-214740.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230621-122431.csv\",\"stat\":{\"size\":4685,\"created\":\"2023-06-21T21:50:00.007Z\",\"changed\":\"2023-06-21T21:50:00.007Z\",\"accessed\":\"2023-06-23T01:00:01.061Z\",\"statusChanged\":\"2023-06-21T21:50:00.007Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"4,685\"},\"fname\":\"cnc_20230621-122431.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230621-122431.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230623-184908.csv\",\"stat\":{\"size\":961,\"created\":\"2023-06-23T21:50:00.008Z\",\"changed\":\"2023-06-23T21:50:00.008Z\",\"accessed\":\"2023-06-25T01:00:00.791Z\",\"statusChanged\":\"2023-06-23T21:50:00.008Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"961\"},\"fname\":\"cnc_20230623-184908.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230623-184908.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230626-181005.csv\",\"stat\":{\"size\":12415,\"created\":\"2023-06-26T21:50:00.017Z\",\"changed\":\"2023-06-26T21:50:00.017Z\",\"accessed\":\"2023-06-28T01:00:01.277Z\",\"statusChanged\":\"2023-06-26T21:50:00.017Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"12,415\"},\"fname\":\"cnc_20230626-181005.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230626-181005.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230627-180727.csv\",\"stat\":{\"size\":18238,\"created\":\"2023-06-27T21:50:00.015Z\",\"changed\":\"2023-06-27T21:50:00.015Z\",\"accessed\":\"2023-06-29T01:00:00.224Z\",\"statusChanged\":\"2023-06-27T21:50:00.015Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"18,238\"},\"fname\":\"cnc_20230627-180727.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230627-180727.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230628-184034.csv\",\"stat\":{\"size\":104761,\"created\":\"2023-06-28T21:50:00.128Z\",\"changed\":\"2023-06-28T21:50:00.128Z\",\"accessed\":\"2023-06-30T01:00:01.426Z\",\"statusChanged\":\"2023-06-28T21:50:00.128Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"104,761\"},\"fname\":\"cnc_20230628-184034.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230628-184034.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230629-140921.csv\",\"stat\":{\"size\":133,\"created\":\"2023-06-29T21:50:00.009Z\",\"changed\":\"2023-06-29T21:50:00.009Z\",\"accessed\":\"2023-07-01T01:00:01.452Z\",\"statusChanged\":\"2023-06-29T21:50:00.009Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"133\"},\"fname\":\"cnc_20230629-140921.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230629-140921.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230630-162255.csv\",\"stat\":{\"size\":10809,\"created\":\"2023-06-30T21:50:00.033Z\",\"changed\":\"2023-06-30T21:50:00.033Z\",\"accessed\":\"2023-07-02T01:00:00.968Z\",\"statusChanged\":\"2023-06-30T21:50:00.033Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"10,809\"},\"fname\":\"cnc_20230630-162255.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230630-162255.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230701-115138.csv\",\"stat\":{\"size\":55921,\"created\":\"2023-07-01T21:50:00.037Z\",\"changed\":\"2023-07-01T21:50:00.037Z\",\"accessed\":\"2023-07-03T01:00:01.104Z\",\"statusChanged\":\"2023-07-01T21:50:00.037Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"55,921\"},\"fname\":\"cnc_20230701-115138.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230701-115138.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230703-214359.csv\",\"stat\":{\"size\":126705,\"created\":\"2023-07-03T21:50:00.187Z\",\"changed\":\"2023-07-03T21:50:00.187Z\",\"accessed\":\"2023-07-05T01:00:11.412Z\",\"statusChanged\":\"2023-07-03T21:50:00.187Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"126,705\"},\"fname\":\"cnc_20230703-214359.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230703-214359.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230704-214508.csv\",\"stat\":{\"size\":35919,\"created\":\"2023-07-04T21:50:00.025Z\",\"changed\":\"2023-07-04T21:50:00.025Z\",\"accessed\":\"2023-07-06T01:00:00.294Z\",\"statusChanged\":\"2023-07-04T21:50:00.025Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"35,919\"},\"fname\":\"cnc_20230704-214508.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230704-214508.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230705-214806.csv\",\"stat\":{\"size\":150141,\"created\":\"2023-07-05T21:50:00.253Z\",\"changed\":\"2023-07-05T21:50:00.253Z\",\"accessed\":\"2023-07-07T01:00:01.661Z\",\"statusChanged\":\"2023-07-05T21:50:00.253Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"150,141\"},\"fname\":\"cnc_20230705-214806.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230705-214806.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230706-202115.csv\",\"stat\":{\"size\":120873,\"created\":\"2023-07-06T21:50:00.166Z\",\"changed\":\"2023-07-06T21:50:00.166Z\",\"accessed\":\"2023-07-08T01:00:10.001Z\",\"statusChanged\":\"2023-07-06T21:50:00.166Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"120,873\"},\"fname\":\"cnc_20230706-202115.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230706-202115.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230719-214152.csv\",\"stat\":{\"size\":49529,\"created\":\"2023-07-19T21:50:00.031Z\",\"changed\":\"2023-07-19T21:50:00.031Z\",\"accessed\":\"2023-07-21T01:00:01.287Z\",\"statusChanged\":\"2023-07-19T21:50:00.031Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"49,529\"},\"fname\":\"cnc_20230719-214152.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230719-214152.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230720-173446.csv\",\"stat\":{\"size\":87849,\"created\":\"2023-07-20T21:50:00.104Z\",\"changed\":\"2023-07-20T21:50:00.108Z\",\"accessed\":\"2023-07-22T01:00:03.697Z\",\"statusChanged\":\"2023-07-20T21:50:00.108Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"87,849\"},\"fname\":\"cnc_20230720-173446.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230720-173446.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230721-173150.csv\",\"stat\":{\"size\":86695,\"created\":\"2023-07-21T21:50:00.086Z\",\"changed\":\"2023-07-21T21:50:00.086Z\",\"accessed\":\"2023-07-23T01:00:04.675Z\",\"statusChanged\":\"2023-07-21T21:50:00.086Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"86,695\"},\"fname\":\"cnc_20230721-173150.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230721-173150.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230724-214449.csv\",\"stat\":{\"size\":77859,\"created\":\"2023-07-24T21:50:00.074Z\",\"changed\":\"2023-07-24T21:50:00.074Z\",\"accessed\":\"2023-07-26T01:00:08.538Z\",\"statusChanged\":\"2023-07-24T21:50:00.074Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"77,859\"},\"fname\":\"cnc_20230724-214449.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230724-214449.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230725-213910.csv\",\"stat\":{\"size\":65924,\"created\":\"2023-07-25T21:50:00.043Z\",\"changed\":\"2023-07-25T21:50:00.043Z\",\"accessed\":\"2023-07-27T01:00:00.620Z\",\"statusChanged\":\"2023-07-25T21:50:00.043Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"65,924\"},\"fname\":\"cnc_20230725-213910.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230725-213910.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230726-214112.csv\",\"stat\":{\"size\":118184,\"created\":\"2023-07-26T21:50:00.159Z\",\"changed\":\"2023-07-26T21:50:00.159Z\",\"accessed\":\"2023-07-28T01:00:00.996Z\",\"statusChanged\":\"2023-07-26T21:50:00.159Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"118,184\"},\"fname\":\"cnc_20230726-214112.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230726-214112.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230727-214215.csv\",\"stat\":{\"size\":137911,\"created\":\"2023-07-27T21:50:00.246Z\",\"changed\":\"2023-07-27T21:50:00.250Z\",\"accessed\":\"2023-07-29T01:00:00.718Z\",\"statusChanged\":\"2023-07-27T21:50:00.250Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"137,911\"},\"fname\":\"cnc_20230727-214215.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230727-214215.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230728-213954.csv\",\"stat\":{\"size\":114092,\"created\":\"2023-07-28T21:50:00.146Z\",\"changed\":\"2023-07-28T21:50:00.146Z\",\"accessed\":\"2023-07-30T01:00:13.287Z\",\"statusChanged\":\"2023-07-28T21:50:00.146Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"114,092\"},\"fname\":\"cnc_20230728-213954.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230728-213954.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230731-213300.csv\",\"stat\":{\"size\":4592,\"created\":\"2023-07-31T21:50:00.010Z\",\"changed\":\"2023-07-31T21:50:00.010Z\",\"accessed\":\"2023-08-02T01:00:00.804Z\",\"statusChanged\":\"2023-07-31T21:50:00.010Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"4,592\"},\"fname\":\"cnc_20230731-213300.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230731-213300.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230801-195147.csv\",\"stat\":{\"size\":61418,\"created\":\"2023-08-01T21:50:00.058Z\",\"changed\":\"2023-08-01T21:50:00.058Z\",\"accessed\":\"2023-08-03T01:00:11.051Z\",\"statusChanged\":\"2023-08-01T21:50:00.058Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"61,418\"},\"fname\":\"cnc_20230801-195147.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230801-195147.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230803-192254.csv\",\"stat\":{\"size\":28341,\"created\":\"2023-08-03T21:50:00.048Z\",\"changed\":\"2023-08-03T21:50:00.048Z\",\"accessed\":\"2023-08-05T01:00:02.443Z\",\"statusChanged\":\"2023-08-03T21:50:00.048Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"28,341\"},\"fname\":\"cnc_20230803-192254.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230803-192254.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230804-110603.csv\",\"stat\":{\"size\":27860,\"created\":\"2023-08-04T21:50:00.020Z\",\"changed\":\"2023-08-04T21:50:00.020Z\",\"accessed\":\"2023-08-06T01:00:00.826Z\",\"statusChanged\":\"2023-08-04T21:50:00.020Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"27,860\"},\"fname\":\"cnc_20230804-110603.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230804-110603.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230807-213638.csv\",\"stat\":{\"size\":128129,\"created\":\"2023-08-07T21:50:00.220Z\",\"changed\":\"2023-08-07T21:50:00.224Z\",\"accessed\":\"2023-08-09T01:00:12.624Z\",\"statusChanged\":\"2023-08-07T21:50:00.224Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"128,129\"},\"fname\":\"cnc_20230807-213638.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230807-213638.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230808-155016.csv\",\"stat\":{\"size\":75363,\"created\":\"2023-08-08T21:50:00.088Z\",\"changed\":\"2023-08-08T21:50:00.088Z\",\"accessed\":\"2023-08-10T01:00:10.587Z\",\"statusChanged\":\"2023-08-08T21:50:00.088Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"75,363\"},\"fname\":\"cnc_20230808-155016.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230808-155016.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230809-213842.csv\",\"stat\":{\"size\":217477,\"created\":\"2023-08-09T21:50:00.516Z\",\"changed\":\"2023-08-09T21:50:00.520Z\",\"accessed\":\"2023-08-11T01:00:09.559Z\",\"statusChanged\":\"2023-08-09T21:50:00.520Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"217,477\"},\"fname\":\"cnc_20230809-213842.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230809-213842.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230810-194712.csv\",\"stat\":{\"size\":63932,\"created\":\"2023-08-10T21:50:00.045Z\",\"changed\":\"2023-08-10T21:50:00.045Z\",\"accessed\":\"2023-08-12T01:00:04.715Z\",\"statusChanged\":\"2023-08-10T21:50:00.045Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"63,932\"},\"fname\":\"cnc_20230810-194712.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230810-194712.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230811-213958.csv\",\"stat\":{\"size\":71016,\"created\":\"2023-08-11T21:50:00.054Z\",\"changed\":\"2023-08-11T21:50:00.054Z\",\"accessed\":\"2023-08-13T01:00:04.508Z\",\"statusChanged\":\"2023-08-11T21:50:00.054Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"71,016\"},\"fname\":\"cnc_20230811-213958.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230811-213958.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230814-213922.csv\",\"stat\":{\"size\":87249,\"created\":\"2023-08-14T21:50:00.103Z\",\"changed\":\"2023-08-14T21:50:00.103Z\",\"accessed\":\"2023-08-16T01:00:09.399Z\",\"statusChanged\":\"2023-08-14T21:50:00.103Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"87,249\"},\"fname\":\"cnc_20230814-213922.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230814-213922.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230815-214702.csv\",\"stat\":{\"size\":101370,\"created\":\"2023-08-15T21:50:00.143Z\",\"changed\":\"2023-08-15T21:50:00.143Z\",\"accessed\":\"2023-08-17T01:00:00.833Z\",\"statusChanged\":\"2023-08-15T21:50:00.143Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"101,370\"},\"fname\":\"cnc_20230815-214702.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230815-214702.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230816-165056.csv\",\"stat\":{\"size\":71849,\"created\":\"2023-08-16T21:50:00.055Z\",\"changed\":\"2023-08-16T21:50:00.055Z\",\"accessed\":\"2023-08-18T01:00:11.900Z\",\"statusChanged\":\"2023-08-16T21:50:00.055Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"71,849\"},\"fname\":\"cnc_20230816-165056.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230816-165056.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230817-205314.csv\",\"stat\":{\"size\":133,\"created\":\"2023-08-17T21:50:00.006Z\",\"changed\":\"2023-08-17T21:50:00.006Z\",\"accessed\":\"2023-08-19T01:00:00.953Z\",\"statusChanged\":\"2023-08-17T21:50:00.006Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"133\"},\"fname\":\"cnc_20230817-205314.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230817-205314.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230822-214539.csv\",\"stat\":{\"size\":128956,\"created\":\"2023-08-22T21:50:00.197Z\",\"changed\":\"2023-08-22T21:50:00.197Z\",\"accessed\":\"2023-08-24T01:00:00.382Z\",\"statusChanged\":\"2023-08-22T21:50:00.197Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"128,956\"},\"fname\":\"cnc_20230822-214539.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230822-214539.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230823-213840.csv\",\"stat\":{\"size\":124874,\"created\":\"2023-08-23T21:50:00.177Z\",\"changed\":\"2023-08-23T21:50:00.177Z\",\"accessed\":\"2023-08-25T01:00:00.155Z\",\"statusChanged\":\"2023-08-23T21:50:00.177Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"124,874\"},\"fname\":\"cnc_20230823-213840.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230823-213840.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230824-144404.csv\",\"stat\":{\"size\":82702,\"created\":\"2023-08-24T21:50:00.105Z\",\"changed\":\"2023-08-24T21:50:00.105Z\",\"accessed\":\"2023-08-26T01:00:14.101Z\",\"statusChanged\":\"2023-08-24T21:50:00.105Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"82,702\"},\"fname\":\"cnc_20230824-144404.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230824-144404.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230825-152424.csv\",\"stat\":{\"size\":70419,\"created\":\"2023-08-25T21:50:00.050Z\",\"changed\":\"2023-08-25T21:50:00.050Z\",\"accessed\":\"2023-08-27T01:00:00.132Z\",\"statusChanged\":\"2023-08-25T21:50:00.050Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"70,419\"},\"fname\":\"cnc_20230825-152424.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230825-152424.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230828-213750.csv\",\"stat\":{\"size\":126410,\"created\":\"2023-08-28T21:50:00.200Z\",\"changed\":\"2023-08-28T21:50:00.200Z\",\"accessed\":\"2023-08-30T01:00:00.399Z\",\"statusChanged\":\"2023-08-28T21:50:00.200Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"126,410\"},\"fname\":\"cnc_20230828-213750.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230828-213750.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230829-164229.csv\",\"stat\":{\"size\":93358,\"created\":\"2023-08-29T21:50:00.119Z\",\"changed\":\"2023-08-29T21:50:00.119Z\",\"accessed\":\"2023-08-31T01:00:00.397Z\",\"statusChanged\":\"2023-08-29T21:50:00.119Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"93,358\"},\"fname\":\"cnc_20230829-164229.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230829-164229.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230830-192803.csv\",\"stat\":{\"size\":28522,\"created\":\"2023-08-30T21:50:00.020Z\",\"changed\":\"2023-08-30T21:50:00.020Z\",\"accessed\":\"2023-09-01T01:00:08.975Z\",\"statusChanged\":\"2023-08-30T21:50:00.020Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"28,522\"},\"fname\":\"cnc_20230830-192803.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230830-192803.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230831-174624.csv\",\"stat\":{\"size\":54208,\"created\":\"2023-08-31T21:50:00.060Z\",\"changed\":\"2023-08-31T21:50:00.060Z\",\"accessed\":\"2023-09-02T01:00:07.527Z\",\"statusChanged\":\"2023-08-31T21:50:00.060Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"54,208\"},\"fname\":\"cnc_20230831-174624.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230831-174624.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230901-114935.csv\",\"stat\":{\"size\":25931,\"created\":\"2023-09-01T21:50:00.015Z\",\"changed\":\"2023-09-01T21:50:00.015Z\",\"accessed\":\"2023-09-03T01:00:23.497Z\",\"statusChanged\":\"2023-09-01T21:50:00.015Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"25,931\"},\"fname\":\"cnc_20230901-114935.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230901-114935.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230904-214613.csv\",\"stat\":{\"size\":96152,\"created\":\"2023-09-04T21:50:00.126Z\",\"changed\":\"2023-09-04T21:50:00.126Z\",\"accessed\":\"2023-09-06T01:00:00.250Z\",\"statusChanged\":\"2023-09-04T21:50:00.126Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"96,152\"},\"fname\":\"cnc_20230904-214613.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230904-214613.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230905-073240.csv\",\"stat\":{\"size\":16983,\"created\":\"2023-09-05T21:50:00.035Z\",\"changed\":\"2023-09-05T21:50:00.035Z\",\"accessed\":\"2023-09-07T01:00:05.914Z\",\"statusChanged\":\"2023-09-05T21:50:00.035Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"16,983\"},\"fname\":\"cnc_20230905-073240.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230905-073240.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230906-214804.csv\",\"stat\":{\"size\":150427,\"created\":\"2023-09-06T21:50:00.281Z\",\"changed\":\"2023-09-06T21:50:00.281Z\",\"accessed\":\"2023-09-08T01:00:00.383Z\",\"statusChanged\":\"2023-09-06T21:50:00.281Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"150,427\"},\"fname\":\"cnc_20230906-214804.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230906-214804.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230907-205243.csv\",\"stat\":{\"size\":132306,\"created\":\"2023-09-07T21:50:00.197Z\",\"changed\":\"2023-09-07T21:50:00.197Z\",\"accessed\":\"2023-09-09T01:00:05.051Z\",\"statusChanged\":\"2023-09-07T21:50:00.197Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"132,306\"},\"fname\":\"cnc_20230907-205243.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230907-205243.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230908-214817.csv\",\"stat\":{\"size\":116335,\"created\":\"2023-09-08T21:50:00.163Z\",\"changed\":\"2023-09-08T21:50:00.163Z\",\"accessed\":\"2023-09-10T01:00:00.243Z\",\"statusChanged\":\"2023-09-08T21:50:00.163Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"116,335\"},\"fname\":\"cnc_20230908-214817.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230908-214817.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230912-214601.csv\",\"stat\":{\"size\":71902,\"created\":\"2023-09-12T21:50:00.053Z\",\"changed\":\"2023-09-12T21:50:00.053Z\",\"accessed\":\"2023-09-14T01:00:01.056Z\",\"statusChanged\":\"2023-09-12T21:50:00.053Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"71,902\"},\"fname\":\"cnc_20230912-214601.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230912-214601.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230913-183901.csv\",\"stat\":{\"size\":40566,\"created\":\"2023-09-13T21:50:00.023Z\",\"changed\":\"2023-09-13T21:50:00.023Z\",\"accessed\":\"2023-09-15T01:00:05.446Z\",\"statusChanged\":\"2023-09-13T21:50:00.023Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"40,566\"},\"fname\":\"cnc_20230913-183901.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230913-183901.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230914-215127.csv\",\"stat\":{\"size\":78864,\"created\":\"2023-09-14T21:50:00.078Z\",\"changed\":\"2023-09-14T21:50:00.078Z\",\"accessed\":\"2023-09-16T01:00:00.157Z\",\"statusChanged\":\"2023-09-14T21:50:00.078Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"78,864\"},\"fname\":\"cnc_20230914-215127.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230914-215127.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230915-190508.csv\",\"stat\":{\"size\":12497,\"created\":\"2023-09-15T21:50:00.027Z\",\"changed\":\"2023-09-15T21:50:00.027Z\",\"accessed\":\"2023-09-17T01:00:00.138Z\",\"statusChanged\":\"2023-09-15T21:50:00.027Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"12,497\"},\"fname\":\"cnc_20230915-190508.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230915-190508.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230918-210230.csv\",\"stat\":{\"size\":65512,\"created\":\"2023-09-18T21:50:00.039Z\",\"changed\":\"2023-09-18T21:50:00.039Z\",\"accessed\":\"2023-09-20T01:00:10.192Z\",\"statusChanged\":\"2023-09-18T21:50:00.039Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"65,512\"},\"fname\":\"cnc_20230918-210230.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230918-210230.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230919-185155.csv\",\"stat\":{\"size\":66053,\"created\":\"2023-09-19T21:50:00.038Z\",\"changed\":\"2023-09-19T21:50:00.038Z\",\"accessed\":\"2023-09-21T01:00:00.392Z\",\"statusChanged\":\"2023-09-19T21:50:00.038Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"66,053\"},\"fname\":\"cnc_20230919-185155.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230919-185155.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230920-214731.csv\",\"stat\":{\"size\":116708,\"created\":\"2023-09-20T21:50:00.158Z\",\"changed\":\"2023-09-20T21:50:00.158Z\",\"accessed\":\"2023-09-22T01:00:00.265Z\",\"statusChanged\":\"2023-09-20T21:50:00.158Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"116,708\"},\"fname\":\"cnc_20230920-214731.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230920-214731.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230921-214702.csv\",\"stat\":{\"size\":148783,\"created\":\"2023-09-21T21:50:00.260Z\",\"changed\":\"2023-09-21T21:50:00.260Z\",\"accessed\":\"2023-09-23T01:00:01.269Z\",\"statusChanged\":\"2023-09-21T21:50:00.260Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"148,783\"},\"fname\":\"cnc_20230921-214702.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230921-214702.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230922-214828.csv\",\"stat\":{\"size\":149754,\"created\":\"2023-09-22T21:50:00.264Z\",\"changed\":\"2023-09-22T21:50:00.264Z\",\"accessed\":\"2023-09-24T01:00:07.790Z\",\"statusChanged\":\"2023-09-22T21:50:00.264Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"149,754\"},\"fname\":\"cnc_20230922-214828.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230922-214828.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230925-215802.csv\",\"stat\":{\"size\":139956,\"created\":\"2023-09-25T21:50:00.227Z\",\"changed\":\"2023-09-25T21:50:00.227Z\",\"accessed\":\"2023-09-27T01:00:00.609Z\",\"statusChanged\":\"2023-09-25T21:50:00.227Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"139,956\"},\"fname\":\"cnc_20230925-215802.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230925-215802.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230926-205355.csv\",\"stat\":{\"size\":148502,\"created\":\"2023-09-26T21:50:00.249Z\",\"changed\":\"2023-09-26T21:50:00.249Z\",\"accessed\":\"2023-09-28T01:00:00.247Z\",\"statusChanged\":\"2023-09-26T21:50:00.249Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"148,502\"},\"fname\":\"cnc_20230926-205355.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230926-205355.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230927-215259.csv\",\"stat\":{\"size\":79889,\"created\":\"2023-09-27T21:50:00.069Z\",\"changed\":\"2023-09-27T21:50:00.069Z\",\"accessed\":\"2023-09-29T01:00:00.262Z\",\"statusChanged\":\"2023-09-27T21:50:00.069Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"79,889\"},\"fname\":\"cnc_20230927-215259.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230927-215259.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230928-205639.csv\",\"stat\":{\"size\":112483,\"created\":\"2023-09-28T21:50:00.146Z\",\"changed\":\"2023-09-28T21:50:00.146Z\",\"accessed\":\"2023-09-30T01:00:25.490Z\",\"statusChanged\":\"2023-09-28T21:50:00.146Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"112,483\"},\"fname\":\"cnc_20230928-205639.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230928-205639.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20230929-215341.csv\",\"stat\":{\"size\":106408,\"created\":\"2023-09-29T21:50:00.130Z\",\"changed\":\"2023-09-29T21:50:00.130Z\",\"accessed\":\"2023-10-01T01:00:09.085Z\",\"statusChanged\":\"2023-09-29T21:50:00.130Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"106,408\"},\"fname\":\"cnc_20230929-215341.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20230929-215341.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231002-215153.csv\",\"stat\":{\"size\":107881,\"created\":\"2023-10-02T21:50:00.157Z\",\"changed\":\"2023-10-02T21:50:00.157Z\",\"accessed\":\"2023-10-04T01:00:18.122Z\",\"statusChanged\":\"2023-10-02T21:50:00.157Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"107,881\"},\"fname\":\"cnc_20231002-215153.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231002-215153.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231003-194050.csv\",\"stat\":{\"size\":84930,\"created\":\"2023-10-03T21:50:00.095Z\",\"changed\":\"2023-10-03T21:50:00.095Z\",\"accessed\":\"2023-10-05T01:00:17.773Z\",\"statusChanged\":\"2023-10-03T21:50:00.095Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"84,930\"},\"fname\":\"cnc_20231003-194050.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231003-194050.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231004-183743.csv\",\"stat\":{\"size\":68311,\"created\":\"2023-10-04T21:50:00.057Z\",\"changed\":\"2023-10-04T21:50:00.057Z\",\"accessed\":\"2023-10-06T01:00:09.096Z\",\"statusChanged\":\"2023-10-04T21:50:00.057Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"68,311\"},\"fname\":\"cnc_20231004-183743.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231004-183743.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231005-194232.csv\",\"stat\":{\"size\":139774,\"created\":\"2023-10-05T21:50:00.230Z\",\"changed\":\"2023-10-05T21:50:00.230Z\",\"accessed\":\"2023-10-07T01:00:20.885Z\",\"statusChanged\":\"2023-10-05T21:50:00.230Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"139,774\"},\"fname\":\"cnc_20231005-194232.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231005-194232.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231006-211145.csv\",\"stat\":{\"size\":124119,\"created\":\"2023-10-06T21:50:00.173Z\",\"changed\":\"2023-10-06T21:50:00.173Z\",\"accessed\":\"2023-10-08T01:00:08.307Z\",\"statusChanged\":\"2023-10-06T21:50:00.173Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"124,119\"},\"fname\":\"cnc_20231006-211145.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231006-211145.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231007-175354.csv\",\"stat\":{\"size\":32193,\"created\":\"2023-10-07T21:50:00.047Z\",\"changed\":\"2023-10-07T21:50:00.051Z\",\"accessed\":\"2023-10-09T01:00:01.404Z\",\"statusChanged\":\"2023-10-07T21:50:00.051Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"32,193\"},\"fname\":\"cnc_20231007-175354.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231007-175354.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231008-093024.csv\",\"stat\":{\"size\":26320,\"created\":\"2023-10-08T21:50:00.037Z\",\"changed\":\"2023-10-08T21:50:00.037Z\",\"accessed\":\"2023-10-10T01:00:00.512Z\",\"statusChanged\":\"2023-10-08T21:50:00.037Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"26,320\"},\"fname\":\"cnc_20231008-093024.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231008-093024.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231009-214957.csv\",\"stat\":{\"size\":6867,\"created\":\"2023-10-09T21:50:00.005Z\",\"changed\":\"2023-10-09T21:50:00.005Z\",\"accessed\":\"2023-10-11T01:00:02.538Z\",\"statusChanged\":\"2023-10-09T21:50:00.005Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"6,867\"},\"fname\":\"cnc_20231009-214957.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231009-214957.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231010-213556.csv\",\"stat\":{\"size\":60009,\"created\":\"2023-10-10T21:50:00.038Z\",\"changed\":\"2023-10-10T21:50:00.038Z\",\"accessed\":\"2023-10-12T01:00:00.241Z\",\"statusChanged\":\"2023-10-10T21:50:00.038Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"60,009\"},\"fname\":\"cnc_20231010-213556.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231010-213556.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231013-183605.csv\",\"stat\":{\"size\":68465,\"created\":\"2023-10-13T21:50:00.062Z\",\"changed\":\"2023-10-13T21:50:00.062Z\",\"accessed\":\"2023-10-15T01:00:27.324Z\",\"statusChanged\":\"2023-10-13T21:50:00.062Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"68,465\"},\"fname\":\"cnc_20231013-183605.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231013-183605.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231016-214953.csv\",\"stat\":{\"size\":68790,\"created\":\"2023-10-16T21:50:00.078Z\",\"changed\":\"2023-10-16T21:50:00.078Z\",\"accessed\":\"2023-10-18T01:00:13.222Z\",\"statusChanged\":\"2023-10-16T21:50:00.078Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"68,790\"},\"fname\":\"cnc_20231016-214953.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231016-214953.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231017-214856.csv\",\"stat\":{\"size\":199882,\"created\":\"2023-10-17T21:50:00.422Z\",\"changed\":\"2023-10-17T21:50:00.422Z\",\"accessed\":\"2023-10-19T01:00:00.570Z\",\"statusChanged\":\"2023-10-17T21:50:00.422Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"199,882\"},\"fname\":\"cnc_20231017-214856.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231017-214856.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231018-175850.csv\",\"stat\":{\"size\":152812,\"created\":\"2023-10-18T21:50:00.277Z\",\"changed\":\"2023-10-18T21:50:00.277Z\",\"accessed\":\"2023-10-20T01:00:00.246Z\",\"statusChanged\":\"2023-10-18T21:50:00.277Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"152,812\"},\"fname\":\"cnc_20231018-175850.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231018-175850.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231019-215153.csv\",\"stat\":{\"size\":73346,\"created\":\"2023-10-19T21:50:00.073Z\",\"changed\":\"2023-10-19T21:50:00.077Z\",\"accessed\":\"2023-10-21T01:00:00.432Z\",\"statusChanged\":\"2023-10-19T21:50:00.077Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"73,346\"},\"fname\":\"cnc_20231019-215153.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231019-215153.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231020-215102.csv\",\"stat\":{\"size\":85432,\"created\":\"2023-10-20T21:50:00.098Z\",\"changed\":\"2023-10-20T21:50:00.098Z\",\"accessed\":\"2023-10-22T01:00:06.286Z\",\"statusChanged\":\"2023-10-20T21:50:00.098Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"85,432\"},\"fname\":\"cnc_20231020-215102.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231020-215102.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231021-183016.csv\",\"stat\":{\"size\":24982,\"created\":\"2023-10-21T21:50:00.036Z\",\"changed\":\"2023-10-21T21:50:00.036Z\",\"accessed\":\"2023-10-23T01:00:16.484Z\",\"statusChanged\":\"2023-10-21T21:50:00.036Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"24,982\"},\"fname\":\"cnc_20231021-183016.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231021-183016.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231023-200934.csv\",\"stat\":{\"size\":11219,\"created\":\"2023-10-23T21:50:00.028Z\",\"changed\":\"2023-10-23T21:50:00.028Z\",\"accessed\":\"2023-10-25T01:00:00.246Z\",\"statusChanged\":\"2023-10-23T21:50:00.028Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"11,219\"},\"fname\":\"cnc_20231023-200934.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231023-200934.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231024-214922.csv\",\"stat\":{\"size\":96130,\"created\":\"2023-10-24T21:50:00.116Z\",\"changed\":\"2023-10-24T21:50:00.116Z\",\"accessed\":\"2023-10-26T01:00:00.762Z\",\"statusChanged\":\"2023-10-24T21:50:00.116Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"96,130\"},\"fname\":\"cnc_20231024-214922.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231024-214922.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231025-215538.csv\",\"stat\":{\"size\":64245,\"created\":\"2023-10-25T21:50:00.060Z\",\"changed\":\"2023-10-25T21:50:00.060Z\",\"accessed\":\"2023-10-27T01:00:00.162Z\",\"statusChanged\":\"2023-10-25T21:50:00.060Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"64,245\"},\"fname\":\"cnc_20231025-215538.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231025-215538.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231026-215043.csv\",\"stat\":{\"size\":12913,\"created\":\"2023-10-26T21:50:00.028Z\",\"changed\":\"2023-10-26T21:50:00.028Z\",\"accessed\":\"2023-10-28T01:01:12.698Z\",\"statusChanged\":\"2023-10-26T21:50:00.028Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"12,913\"},\"fname\":\"cnc_20231026-215043.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231026-215043.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231030-151141.csv\",\"stat\":{\"size\":45622,\"created\":\"2023-10-30T22:50:00.025Z\",\"changed\":\"2023-10-30T22:50:00.025Z\",\"accessed\":\"2023-11-01T02:00:00.133Z\",\"statusChanged\":\"2023-10-30T22:50:00.025Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"45,622\"},\"fname\":\"cnc_20231030-151141.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231030-151141.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231031-214852.csv\",\"stat\":{\"size\":24523,\"created\":\"2023-10-31T22:50:00.016Z\",\"changed\":\"2023-10-31T22:50:00.016Z\",\"accessed\":\"2023-11-02T02:00:00.230Z\",\"statusChanged\":\"2023-10-31T22:50:00.016Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"24,523\"},\"fname\":\"cnc_20231031-214852.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231031-214852.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231101-115351.csv\",\"stat\":{\"size\":26295,\"created\":\"2023-11-01T22:50:00.038Z\",\"changed\":\"2023-11-01T22:50:00.038Z\",\"accessed\":\"2023-11-03T02:00:06.128Z\",\"statusChanged\":\"2023-11-01T22:50:00.038Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"26,295\"},\"fname\":\"cnc_20231101-115351.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231101-115351.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231102-191913.csv\",\"stat\":{\"size\":26618,\"created\":\"2023-11-02T22:50:00.014Z\",\"changed\":\"2023-11-02T22:50:00.014Z\",\"accessed\":\"2023-11-04T02:00:05.304Z\",\"statusChanged\":\"2023-11-02T22:50:00.014Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"26,618\"},\"fname\":\"cnc_20231102-191913.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231102-191913.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231103-214538.csv\",\"stat\":{\"size\":79213,\"created\":\"2023-11-03T22:50:00.083Z\",\"changed\":\"2023-11-03T22:50:00.083Z\",\"accessed\":\"2023-11-05T02:00:28.834Z\",\"statusChanged\":\"2023-11-03T22:50:00.083Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"79,213\"},\"fname\":\"cnc_20231103-214538.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231103-214538.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231106-133844.csv\",\"stat\":{\"size\":47917,\"created\":\"2023-11-06T22:50:00.026Z\",\"changed\":\"2023-11-06T22:50:00.026Z\",\"accessed\":\"2023-11-08T02:00:07.324Z\",\"statusChanged\":\"2023-11-06T22:50:00.026Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"47,917\"},\"fname\":\"cnc_20231106-133844.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231106-133844.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231109-205938.csv\",\"stat\":{\"size\":46521,\"created\":\"2023-11-09T22:50:00.029Z\",\"changed\":\"2023-11-09T22:50:00.029Z\",\"accessed\":\"2023-11-11T02:00:06.888Z\",\"statusChanged\":\"2023-11-09T22:50:00.029Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"46,521\"},\"fname\":\"cnc_20231109-205938.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231109-205938.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231110-204144.csv\",\"stat\":{\"size\":75924,\"created\":\"2023-11-10T22:50:00.056Z\",\"changed\":\"2023-11-10T22:50:00.056Z\",\"accessed\":\"2023-11-12T02:00:00.377Z\",\"statusChanged\":\"2023-11-10T22:50:00.056Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"75,924\"},\"fname\":\"cnc_20231110-204144.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231110-204144.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231111-162032.csv\",\"stat\":{\"size\":133,\"created\":\"2023-11-11T22:50:00.007Z\",\"changed\":\"2023-11-11T22:50:00.007Z\",\"accessed\":\"2023-11-13T02:00:27.123Z\",\"statusChanged\":\"2023-11-11T22:50:00.007Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"133\"},\"fname\":\"cnc_20231111-162032.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231111-162032.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231113-204026.csv\",\"stat\":{\"size\":11016,\"created\":\"2023-11-13T22:50:00.008Z\",\"changed\":\"2023-11-13T22:50:00.008Z\",\"accessed\":\"2023-11-15T02:00:00.271Z\",\"statusChanged\":\"2023-11-13T22:50:00.008Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"11,016\"},\"fname\":\"cnc_20231113-204026.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231113-204026.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231114-122428.csv\",\"stat\":{\"size\":31230,\"created\":\"2023-11-14T22:50:00.051Z\",\"changed\":\"2023-11-14T22:50:00.051Z\",\"accessed\":\"2023-11-16T02:00:01.063Z\",\"statusChanged\":\"2023-11-14T22:50:00.051Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"31,230\"},\"fname\":\"cnc_20231114-122428.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231114-122428.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231116-210741.csv\",\"stat\":{\"size\":4555,\"created\":\"2023-11-16T22:50:00.006Z\",\"changed\":\"2023-11-16T22:50:00.006Z\",\"accessed\":\"2023-11-18T02:00:00.402Z\",\"statusChanged\":\"2023-11-16T22:50:00.006Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"4,555\"},\"fname\":\"cnc_20231116-210741.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231116-210741.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231117-214744.csv\",\"stat\":{\"size\":148073,\"created\":\"2023-11-17T22:50:00.255Z\",\"changed\":\"2023-11-17T22:50:00.255Z\",\"accessed\":\"2023-11-19T02:00:00.407Z\",\"statusChanged\":\"2023-11-17T22:50:00.255Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"148,073\"},\"fname\":\"cnc_20231117-214744.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231117-214744.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231120-214859.csv\",\"stat\":{\"size\":140698,\"created\":\"2023-11-20T22:50:00.244Z\",\"changed\":\"2023-11-20T22:50:00.248Z\",\"accessed\":\"2023-11-22T02:00:48.535Z\",\"statusChanged\":\"2023-11-20T22:50:00.248Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"140,698\"},\"fname\":\"cnc_20231120-214859.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231120-214859.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231121-214042.csv\",\"stat\":{\"size\":118592,\"created\":\"2023-11-21T22:50:00.155Z\",\"changed\":\"2023-11-21T22:50:00.155Z\",\"accessed\":\"2023-11-23T02:00:00.237Z\",\"statusChanged\":\"2023-11-21T22:50:00.155Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"118,592\"},\"fname\":\"cnc_20231121-214042.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231121-214042.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231122-063827.csv\",\"stat\":{\"size\":10350,\"created\":\"2023-11-22T22:50:00.006Z\",\"changed\":\"2023-11-22T22:50:00.006Z\",\"accessed\":\"2023-11-24T02:00:00.576Z\",\"statusChanged\":\"2023-11-22T22:50:00.006Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"10,350\"},\"fname\":\"cnc_20231122-063827.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231122-063827.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231123-172110.csv\",\"stat\":{\"size\":41086,\"created\":\"2023-11-23T22:50:00.022Z\",\"changed\":\"2023-11-23T22:50:00.022Z\",\"accessed\":\"2023-11-25T02:00:00.538Z\",\"statusChanged\":\"2023-11-23T22:50:00.022Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"41,086\"},\"fname\":\"cnc_20231123-172110.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231123-172110.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231124-213535.csv\",\"stat\":{\"size\":14677,\"created\":\"2023-11-24T22:50:00.015Z\",\"changed\":\"2023-11-24T22:50:00.015Z\",\"accessed\":\"2023-11-26T02:00:38.654Z\",\"statusChanged\":\"2023-11-24T22:50:00.015Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"14,677\"},\"fname\":\"cnc_20231124-213535.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231124-213535.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231127-210207.csv\",\"stat\":{\"size\":33112,\"created\":\"2023-11-27T22:50:00.017Z\",\"changed\":\"2023-11-27T22:50:00.017Z\",\"accessed\":\"2023-11-29T02:00:53.627Z\",\"statusChanged\":\"2023-11-27T22:50:00.017Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"33,112\"},\"fname\":\"cnc_20231127-210207.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231127-210207.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231128-153828.csv\",\"stat\":{\"size\":18289,\"created\":\"2023-11-28T22:50:00.016Z\",\"changed\":\"2023-11-28T22:50:00.016Z\",\"accessed\":\"2023-11-30T02:00:01.363Z\",\"statusChanged\":\"2023-11-28T22:50:00.016Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"18,289\"},\"fname\":\"cnc_20231128-153828.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231128-153828.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231129-182252.csv\",\"stat\":{\"size\":7948,\"created\":\"2023-11-29T22:50:00.021Z\",\"changed\":\"2023-11-29T22:50:00.021Z\",\"accessed\":\"2023-12-01T02:01:37.737Z\",\"statusChanged\":\"2023-11-29T22:50:00.021Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"7,948\"},\"fname\":\"cnc_20231129-182252.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231129-182252.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231201-160641.csv\",\"stat\":{\"size\":33718,\"created\":\"2023-12-01T22:50:00.020Z\",\"changed\":\"2023-12-01T22:50:00.020Z\",\"accessed\":\"2023-12-03T02:00:07.518Z\",\"statusChanged\":\"2023-12-01T22:50:00.020Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"33,718\"},\"fname\":\"cnc_20231201-160641.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231201-160641.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231211-135301.csv\",\"stat\":{\"size\":10261,\"created\":\"2023-12-11T22:50:00.006Z\",\"changed\":\"2023-12-11T22:50:00.006Z\",\"accessed\":\"2023-12-13T02:00:00.587Z\",\"statusChanged\":\"2023-12-11T22:50:00.006Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"10,261\"},\"fname\":\"cnc_20231211-135301.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231211-135301.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231212-134805.csv\",\"stat\":{\"size\":39778,\"created\":\"2023-12-12T22:50:00.024Z\",\"changed\":\"2023-12-12T22:50:00.028Z\",\"accessed\":\"2023-12-14T02:00:00.264Z\",\"statusChanged\":\"2023-12-12T22:50:00.028Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"39,778\"},\"fname\":\"cnc_20231212-134805.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231212-134805.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231213-135508.csv\",\"stat\":{\"size\":7017,\"created\":\"2023-12-13T22:50:00.014Z\",\"changed\":\"2023-12-13T22:50:00.014Z\",\"accessed\":\"2023-12-15T02:00:58.537Z\",\"statusChanged\":\"2023-12-13T22:50:00.014Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"7,017\"},\"fname\":\"cnc_20231213-135508.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231213-135508.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231214-135232.csv\",\"stat\":{\"size\":98342,\"created\":\"2023-12-14T22:50:00.102Z\",\"changed\":\"2023-12-14T22:50:00.102Z\",\"accessed\":\"2023-12-16T02:00:10.344Z\",\"statusChanged\":\"2023-12-14T22:50:00.102Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"98,342\"},\"fname\":\"cnc_20231214-135232.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231214-135232.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231215-134834.csv\",\"stat\":{\"size\":32022,\"created\":\"2023-12-15T22:50:00.019Z\",\"changed\":\"2023-12-15T22:50:00.019Z\",\"accessed\":\"2023-12-17T02:00:00.369Z\",\"statusChanged\":\"2023-12-15T22:50:00.019Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"32,022\"},\"fname\":\"cnc_20231215-134834.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231215-134834.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231218-114944.csv\",\"stat\":{\"size\":296,\"created\":\"2023-12-18T22:50:00.006Z\",\"changed\":\"2023-12-18T22:50:00.006Z\",\"accessed\":\"2023-12-20T02:00:08.156Z\",\"statusChanged\":\"2023-12-18T22:50:00.006Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"296\"},\"fname\":\"cnc_20231218-114944.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231218-114944.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231219-134718.csv\",\"stat\":{\"size\":36381,\"created\":\"2023-12-19T22:50:00.017Z\",\"changed\":\"2023-12-19T22:50:00.017Z\",\"accessed\":\"2023-12-21T02:00:00.604Z\",\"statusChanged\":\"2023-12-19T22:50:00.017Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"36,381\"},\"fname\":\"cnc_20231219-134718.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231219-134718.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231220-134542.csv\",\"stat\":{\"size\":26434,\"created\":\"2023-12-20T22:50:00.014Z\",\"changed\":\"2023-12-20T22:50:00.014Z\",\"accessed\":\"2023-12-22T02:00:02.158Z\",\"statusChanged\":\"2023-12-20T22:50:00.014Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"26,434\"},\"fname\":\"cnc_20231220-134542.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231220-134542.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231221-134744.csv\",\"stat\":{\"size\":53521,\"created\":\"2023-12-21T22:50:00.028Z\",\"changed\":\"2023-12-21T22:50:00.028Z\",\"accessed\":\"2023-12-23T02:00:32.173Z\",\"statusChanged\":\"2023-12-21T22:50:00.028Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"53,521\"},\"fname\":\"cnc_20231221-134744.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231221-134744.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231222-111523.csv\",\"stat\":{\"size\":39511,\"created\":\"2023-12-22T22:50:00.022Z\",\"changed\":\"2023-12-22T22:50:00.022Z\",\"accessed\":\"2023-12-24T02:00:00.237Z\",\"statusChanged\":\"2023-12-22T22:50:00.022Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"39,511\"},\"fname\":\"cnc_20231222-111523.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231222-111523.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231226-152804.csv\",\"stat\":{\"size\":133,\"created\":\"2023-12-26T22:50:00.006Z\",\"changed\":\"2023-12-26T22:50:00.006Z\",\"accessed\":\"2023-12-28T02:00:33.518Z\",\"statusChanged\":\"2023-12-26T22:50:00.006Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"133\"},\"fname\":\"cnc_20231226-152804.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231226-152804.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231227-185539.csv\",\"stat\":{\"size\":133,\"created\":\"2023-12-27T22:50:00.004Z\",\"changed\":\"2023-12-27T22:50:00.004Z\",\"accessed\":\"2023-12-29T02:00:03.558Z\",\"statusChanged\":\"2023-12-27T22:50:00.004Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"133\"},\"fname\":\"cnc_20231227-185539.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231227-185539.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231228-151740.csv\",\"stat\":{\"size\":28586,\"created\":\"2023-12-28T22:50:00.053Z\",\"changed\":\"2023-12-28T22:50:00.057Z\",\"accessed\":\"2023-12-30T02:00:12.677Z\",\"statusChanged\":\"2023-12-28T22:50:00.057Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"28,586\"},\"fname\":\"cnc_20231228-151740.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231228-151740.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20231229-145625.csv\",\"stat\":{\"size\":133,\"created\":\"2023-12-29T22:50:00.008Z\",\"changed\":\"2023-12-29T22:50:00.008Z\",\"accessed\":\"2023-12-31T02:00:00.390Z\",\"statusChanged\":\"2023-12-29T22:50:00.008Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"133\"},\"fname\":\"cnc_20231229-145625.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20231229-145625.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20240119-214935.csv\",\"stat\":{\"size\":133,\"created\":\"2024-01-19T22:50:00.005Z\",\"changed\":\"2024-01-19T22:50:00.005Z\",\"accessed\":\"2024-01-21T02:00:00.229Z\",\"statusChanged\":\"2024-01-19T22:50:00.005Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"133\"},\"fname\":\"cnc_20240119-214935.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20240119-214935.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20240123-214130.csv\",\"stat\":{\"size\":73523,\"created\":\"2024-01-23T22:50:00.054Z\",\"changed\":\"2024-01-23T22:50:00.054Z\",\"accessed\":\"2024-01-25T02:00:00.275Z\",\"statusChanged\":\"2024-01-23T22:50:00.054Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"73,523\"},\"fname\":\"cnc_20240123-214130.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20240123-214130.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20240124-204856.csv\",\"stat\":{\"size\":68094,\"created\":\"2024-01-24T22:50:00.063Z\",\"changed\":\"2024-01-24T22:50:00.063Z\",\"accessed\":\"2024-01-26T02:00:02.769Z\",\"statusChanged\":\"2024-01-24T22:50:00.063Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"68,094\"},\"fname\":\"cnc_20240124-204856.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20240124-204856.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20240125-214350.csv\",\"stat\":{\"size\":64571,\"created\":\"2024-01-25T22:50:00.041Z\",\"changed\":\"2024-01-25T22:50:00.041Z\",\"accessed\":\"2024-01-27T02:00:00.334Z\",\"statusChanged\":\"2024-01-25T22:50:00.041Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"64,571\"},\"fname\":\"cnc_20240125-214350.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20240125-214350.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20240126-214558.csv\",\"stat\":{\"size\":15330,\"created\":\"2024-01-26T22:50:00.012Z\",\"changed\":\"2024-01-26T22:50:00.012Z\",\"accessed\":\"2024-01-28T02:00:02.322Z\",\"statusChanged\":\"2024-01-26T22:50:00.012Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"15,330\"},\"fname\":\"cnc_20240126-214558.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20240126-214558.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20240129-215219.csv\",\"stat\":{\"size\":49294,\"created\":\"2024-01-29T22:50:00.045Z\",\"changed\":\"2024-01-29T22:50:00.045Z\",\"accessed\":\"2024-01-31T02:00:04.301Z\",\"statusChanged\":\"2024-01-29T22:50:00.045Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"49,294\"},\"fname\":\"cnc_20240129-215219.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20240129-215219.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_20240130-110150.csv\",\"stat\":{\"size\":21249,\"created\":\"2024-01-30T22:50:00.011Z\",\"changed\":\"2024-01-30T22:50:00.011Z\",\"accessed\":\"2024-02-01T02:10:42.103Z\",\"statusChanged\":\"2024-01-30T22:50:00.011Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"21,249\"},\"fname\":\"cnc_20240130-110150.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_20240130-110150.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/cnc_NaNNaNNaN-NaNNaNNaN.csv\",\"stat\":{\"size\":82,\"created\":\"2022-12-19T22:50:00.025Z\",\"changed\":\"2024-02-12T22:50:00.018Z\",\"accessed\":\"2024-02-14T02:00:16.255Z\",\"statusChanged\":\"2024-02-12T22:50:00.018Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"82\"},\"fname\":\"cnc_NaNNaNNaN-NaNNaNNaN.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/cnc_NaNNaNNaN-NaNNaNNaN.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/datalog\",\"stat\":{\"size\":77824,\"created\":\"2021-12-17T19:49:45.827Z\",\"changed\":\"2024-02-16T23:00:32.253Z\",\"accessed\":\"2024-02-16T23:01:20.217Z\",\"statusChanged\":\"2024-02-16T23:00:32.253Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x41ed\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":true,\"isFIFO\":false,\"isFile\":false,\"isSocket\":false,\"isSymbolicLink\":false},\"fname\":\"datalog\",\"ext\":\"folder\",\"icon\":\"mdi-folder-outline\"},{\"name\":\"/home/nygma/error_all_20231121.csv\",\"stat\":{\"size\":699,\"created\":\"2023-11-21T19:40:58.834Z\",\"changed\":\"2023-11-21T20:05:54.889Z\",\"accessed\":\"2023-11-23T02:00:00.489Z\",\"statusChanged\":\"2023-11-21T20:05:54.889Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"699\"},\"fname\":\"error_all_20231121.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/error_all_20231121.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/error_all_20231124.csv\",\"stat\":{\"size\":905,\"created\":\"2023-11-24T20:02:36.583Z\",\"changed\":\"2023-11-24T20:02:36.583Z\",\"accessed\":\"2023-11-26T02:00:00.550Z\",\"statusChanged\":\"2023-11-24T20:02:36.583Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"905\"},\"fname\":\"error_all_20231124.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/error_all_20231124.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/error_summary_20231121.csv\",\"stat\":{\"size\":328,\"created\":\"2023-11-21T19:40:58.830Z\",\"changed\":\"2023-11-21T20:05:54.885Z\",\"accessed\":\"2023-11-23T02:00:08.877Z\",\"statusChanged\":\"2023-11-21T20:05:54.885Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"328\"},\"fname\":\"error_summary_20231121.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/error_summary_20231121.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/error_summary_20231124.csv\",\"stat\":{\"size\":328,\"created\":\"2023-11-24T20:02:36.579Z\",\"changed\":\"2023-11-24T20:02:36.583Z\",\"accessed\":\"2023-11-26T02:00:08.382Z\",\"statusChanged\":\"2023-11-24T20:02:36.583Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"328\"},\"fname\":\"error_summary_20231124.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/error_summary_20231124.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/forecast_io_bud.json\",\"stat\":{\"size\":5617,\"created\":\"2021-12-17T19:49:44.579Z\",\"changed\":\"2021-12-17T19:49:44.583Z\",\"accessed\":\"2022-12-19T20:53:56.002Z\",\"statusChanged\":\"2021-12-17T19:49:44.583Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"5,617\"},\"fname\":\"forecast_io_bud.json\",\"ext\":\"json\",\"downloadlink\":\"/download?filename=/home/nygma/forecast_io_bud.json\",\"icon\":\"mdi-file-code-outline\"},{\"name\":\"/home/nygma/global.json\",\"stat\":{\"size\":4270,\"created\":\"2021-12-17T19:49:44.607Z\",\"changed\":\"2024-02-16T01:00:00.001Z\",\"accessed\":\"2024-02-16T02:00:00.315Z\",\"statusChanged\":\"2024-02-16T01:00:00.001Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"4,270\"},\"fname\":\"global.json\",\"ext\":\"json\",\"downloadlink\":\"/download?filename=/home/nygma/global.json\",\"icon\":\"mdi-file-code-outline\"},{\"name\":\"/home/nygma/grab.jpg\",\"stat\":{\"size\":212511,\"created\":\"2021-12-17T19:49:44.803Z\",\"changed\":\"2021-12-17T19:49:44.819Z\",\"accessed\":\"2023-01-02T20:46:24.123Z\",\"statusChanged\":\"2021-12-17T19:49:44.819Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"212,511\"},\"fname\":\"grab.jpg\",\"ext\":\"jpg\",\"downloadlink\":\"/download?filename=/home/nygma/grab.jpg\",\"icon\":\"mdi-file-image\"},{\"name\":\"/home/nygma/influx-ftp.sh\",\"stat\":{\"size\":249,\"created\":\"2023-03-23T07:08:28.895Z\",\"changed\":\"2023-03-23T07:08:28.895Z\",\"accessed\":\"2023-03-25T02:00:17.554Z\",\"statusChanged\":\"2023-03-23T07:08:51.083Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81ed\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"249\"},\"fname\":\"influx-ftp.sh\",\"ext\":\"sh\",\"downloadlink\":\"/download?filename=/home/nygma/influx-ftp.sh\",\"icon\":\"mdi-file-code-outline\"},{\"name\":\"/home/nygma/influx_backup\",\"stat\":{\"size\":4096,\"created\":\"2023-03-25T17:54:43.565Z\",\"changed\":\"2023-04-18T21:39:54.987Z\",\"accessed\":\"2024-02-16T02:00:00.351Z\",\"statusChanged\":\"2023-04-18T21:39:54.987Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x41ed\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":true,\"isFIFO\":false,\"isFile\":false,\"isSocket\":false,\"isSymbolicLink\":false},\"fname\":\"influx_backup\",\"ext\":\"folder\",\"icon\":\"mdi-folder-outline\"},{\"name\":\"/home/nygma/influx_reboot.txt\",\"stat\":{\"size\":6164,\"created\":\"2023-03-12T19:34:11.311Z\",\"changed\":\"2023-03-12T19:34:11.327Z\",\"accessed\":\"2023-03-14T02:00:12.892Z\",\"statusChanged\":\"2023-03-12T19:34:11.327Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"6,164\"},\"fname\":\"influx_reboot.txt\",\"ext\":\"txt\",\"downloadlink\":\"/download?filename=/home/nygma/influx_reboot.txt\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/issue23.log\",\"stat\":{\"size\":8887,\"created\":\"2021-12-17T19:49:44.695Z\",\"changed\":\"2021-12-17T19:49:44.699Z\",\"accessed\":\"2021-12-19T02:23:43.399Z\",\"statusChanged\":\"2021-12-17T19:49:44.699Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"8,887\"},\"fname\":\"issue23.log\",\"ext\":\"log\",\"downloadlink\":\"/download?filename=/home/nygma/issue23.log\",\"icon\":\"mdi-file-document-edit-outline\"},{\"name\":\"/home/nygma/log_upload.sh\",\"stat\":{\"size\":128,\"created\":\"2021-12-17T19:49:44.707Z\",\"changed\":\"2023-03-21T10:37:50.793Z\",\"accessed\":\"2024-02-16T01:40:00.005Z\",\"statusChanged\":\"2023-03-21T10:37:50.793Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81ed\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"128\"},\"fname\":\"log_upload.sh\",\"ext\":\"sh\",\"downloadlink\":\"/download?filename=/home/nygma/log_upload.sh\",\"icon\":\"mdi-file-code-outline\"},{\"name\":\"/home/nygma/miflora.json\",\"stat\":{\"size\":115,\"created\":\"2021-12-17T19:49:44.723Z\",\"changed\":\"2021-12-17T19:49:44.723Z\",\"accessed\":\"2023-04-22T18:53:31.432Z\",\"statusChanged\":\"2021-12-17T19:49:44.723Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"115\"},\"fname\":\"miflora.json\",\"ext\":\"json\",\"downloadlink\":\"/download?filename=/home/nygma/miflora.json\",\"icon\":\"mdi-file-code-outline\"},{\"name\":\"/home/nygma/miflora.py\",\"stat\":{\"size\":1945,\"created\":\"2021-12-17T19:49:44.739Z\",\"changed\":\"2021-12-17T19:49:44.743Z\",\"accessed\":\"2022-12-19T12:39:55.092Z\",\"statusChanged\":\"2021-12-17T19:49:44.743Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"1,945\"},\"fname\":\"miflora.py\",\"ext\":\"py\",\"downloadlink\":\"/download?filename=/home/nygma/miflora.py\",\"icon\":\"mdi-file-code-outline\"},{\"name\":\"/home/nygma/modbus_log.txt\",\"stat\":{\"size\":1310946,\"created\":\"2021-12-17T19:49:44.627Z\",\"changed\":\"2021-12-17T19:49:44.687Z\",\"accessed\":\"2022-12-19T12:39:50.092Z\",\"statusChanged\":\"2021-12-17T19:49:44.687Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"1,310,946\"},\"fname\":\"modbus_log.txt\",\"ext\":\"txt\",\"downloadlink\":\"/download?filename=/home/nygma/modbus_log.txt\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/mqtest.py\",\"stat\":{\"size\":321,\"created\":\"2021-12-17T19:49:44.751Z\",\"changed\":\"2021-12-17T19:49:44.751Z\",\"accessed\":\"2021-12-19T02:24:53.703Z\",\"statusChanged\":\"2021-12-17T19:49:44.751Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"321\"},\"fname\":\"mqtest.py\",\"ext\":\"py\",\"downloadlink\":\"/download?filename=/home/nygma/mqtest.py\",\"icon\":\"mdi-file-code-outline\"},{\"name\":\"/home/nygma/nextpass_debug.txt\",\"stat\":{\"size\":3773583,\"created\":\"2023-10-24T15:37:49.950Z\",\"changed\":\"2024-01-26T09:21:08.516Z\",\"accessed\":\"2024-01-27T02:00:20.894Z\",\"statusChanged\":\"2024-01-26T09:21:08.516Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"3,773,583\"},\"fname\":\"nextpass_debug.txt\",\"ext\":\"txt\",\"downloadlink\":\"/download?filename=/home/nygma/nextpass_debug.txt\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/node-red-static\",\"stat\":{\"size\":4096,\"created\":\"2021-11-27T19:47:33.206Z\",\"changed\":\"2023-11-05T07:54:22.717Z\",\"accessed\":\"2024-02-16T02:00:03.231Z\",\"statusChanged\":\"2023-11-05T07:54:22.717Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x41ed\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":true,\"isFIFO\":false,\"isFile\":false,\"isSocket\":false,\"isSymbolicLink\":false},\"fname\":\"node-red-static\",\"ext\":\"folder\",\"icon\":\"mdi-folder-outline\"},{\"name\":\"/home/nygma/node_modules\",\"stat\":{\"size\":4096,\"created\":\"2021-11-27T19:41:24.460Z\",\"changed\":\"2021-11-27T19:41:26.844Z\",\"accessed\":\"2024-02-16T02:00:03.227Z\",\"statusChanged\":\"2021-11-27T19:41:26.844Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x41ed\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":true,\"isFIFO\":false,\"isFile\":false,\"isSocket\":false,\"isSymbolicLink\":false},\"fname\":\"node_modules\",\"ext\":\"folder\",\"icon\":\"mdi-folder-outline\"},{\"name\":\"/home/nygma/out.mp4\",\"stat\":{\"size\":29618,\"created\":\"2022-08-03T20:49:30.283Z\",\"changed\":\"2022-08-16T16:36:44.503Z\",\"accessed\":\"2022-10-25T19:31:22.114Z\",\"statusChanged\":\"2022-08-16T16:36:44.503Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"29,618\"},\"fname\":\"out.mp4\",\"ext\":\"mp4\",\"downloadlink\":\"/download?filename=/home/nygma/out.mp4\",\"icon\":\"mdi-file-document-edit-outline\"},{\"name\":\"/home/nygma/ovpns\",\"stat\":{\"size\":4096,\"created\":\"2021-12-22T23:34:56.498Z\",\"changed\":\"2021-12-22T23:37:48.816Z\",\"accessed\":\"2024-02-16T02:00:00.219Z\",\"statusChanged\":\"2021-12-22T23:37:48.816Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x41e8\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":true,\"isFIFO\":false,\"isFile\":false,\"isSocket\":false,\"isSymbolicLink\":false},\"fname\":\"ovpns\",\"ext\":\"folder\",\"icon\":\"mdi-folder-outline\"},{\"name\":\"/home/nygma/p1p2dump.txt\",\"stat\":{\"size\":182154,\"created\":\"2021-12-17T19:49:44.763Z\",\"changed\":\"2021-12-17T19:49:44.771Z\",\"accessed\":\"2022-12-19T12:48:20.033Z\",\"statusChanged\":\"2021-12-17T19:49:44.771Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"182,154\"},\"fname\":\"p1p2dump.txt\",\"ext\":\"txt\",\"downloadlink\":\"/download?filename=/home/nygma/p1p2dump.txt\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/p1p2request.txt\",\"stat\":{\"size\":12616,\"created\":\"2021-12-17T19:49:44.795Z\",\"changed\":\"2021-12-17T19:49:44.799Z\",\"accessed\":\"2022-12-19T12:48:28.477Z\",\"statusChanged\":\"2021-12-17T19:49:44.799Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"12,616\"},\"fname\":\"p1p2request.txt\",\"ext\":\"txt\",\"downloadlink\":\"/download?filename=/home/nygma/p1p2request.txt\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/package-lock.json\",\"stat\":{\"size\":28278,\"created\":\"2021-11-27T19:41:26.872Z\",\"changed\":\"2021-12-17T19:50:01.776Z\",\"accessed\":\"2022-12-19T12:48:29.217Z\",\"statusChanged\":\"2021-12-17T19:50:01.776Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"28,278\"},\"fname\":\"package-lock.json\",\"ext\":\"json\",\"downloadlink\":\"/download?filename=/home/nygma/package-lock.json\",\"icon\":\"mdi-file-code-outline\"},{\"name\":\"/home/nygma/pic_upload.sh\",\"stat\":{\"size\":132,\"created\":\"2021-12-17T19:49:44.783Z\",\"changed\":\"2023-03-21T10:36:55.469Z\",\"accessed\":\"2024-02-16T11:34:41.132Z\",\"statusChanged\":\"2023-03-21T10:36:55.469Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81ed\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"132\"},\"fname\":\"pic_upload.sh\",\"ext\":\"sh\",\"downloadlink\":\"/download?filename=/home/nygma/pic_upload.sh\",\"icon\":\"mdi-file-code-outline\"},{\"name\":\"/home/nygma/plot.png\",\"stat\":{\"size\":50171,\"created\":\"2021-12-17T19:49:44.851Z\",\"changed\":\"2021-12-17T19:49:44.855Z\",\"accessed\":\"2022-12-19T10:18:29.162Z\",\"statusChanged\":\"2021-12-17T19:49:44.855Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"50,171\"},\"fname\":\"plot.png\",\"ext\":\"png\",\"downloadlink\":\"/download?filename=/home/nygma/plot.png\",\"icon\":\"mdi-file-image\"},{\"name\":\"/home/nygma/recursive-ftp.sh\",\"stat\":{\"size\":266,\"created\":\"2023-03-23T07:05:59.618Z\",\"changed\":\"2023-03-23T07:05:59.618Z\",\"accessed\":\"2023-03-25T02:00:17.650Z\",\"statusChanged\":\"2023-03-23T07:06:50.995Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81ed\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"266\"},\"fname\":\"recursive-ftp.sh\",\"ext\":\"sh\",\"downloadlink\":\"/download?filename=/home/nygma/recursive-ftp.sh\",\"icon\":\"mdi-file-code-outline\"},{\"name\":\"/home/nygma/saia\",\"stat\":{\"size\":4096,\"created\":\"2021-12-17T19:50:40.620Z\",\"changed\":\"2024-02-16T02:02:29.753Z\",\"accessed\":\"2024-02-16T02:02:29.233Z\",\"statusChanged\":\"2024-02-16T02:02:29.753Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x41ed\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":true,\"isFIFO\":false,\"isFile\":false,\"isSocket\":false,\"isSymbolicLink\":false},\"fname\":\"saia\",\"ext\":\"folder\",\"icon\":\"mdi-folder-outline\"},{\"name\":\"/home/nygma/saia_delete.sh\",\"stat\":{\"size\":27,\"created\":\"2021-12-17T19:49:44.887Z\",\"changed\":\"2021-12-17T21:04:05.317Z\",\"accessed\":\"2024-02-16T02:02:29.749Z\",\"statusChanged\":\"2021-12-17T21:05:24.772Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81ed\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"27\"},\"fname\":\"saia_delete.sh\",\"ext\":\"sh\",\"downloadlink\":\"/download?filename=/home/nygma/saia_delete.sh\",\"icon\":\"mdi-file-code-outline\"},{\"name\":\"/home/nygma/saia_download.sh\",\"stat\":{\"size\":141,\"created\":\"2021-12-17T19:49:44.899Z\",\"changed\":\"2021-12-17T21:03:54.833Z\",\"accessed\":\"2024-02-16T02:02:00.004Z\",\"statusChanged\":\"2021-12-17T21:05:33.728Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81ed\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"141\"},\"fname\":\"saia_download.sh\",\"ext\":\"sh\",\"downloadlink\":\"/download?filename=/home/nygma/saia_download.sh\",\"icon\":\"mdi-file-code-outline\"},{\"name\":\"/home/nygma/saia_upload.sh\",\"stat\":{\"size\":133,\"created\":\"2021-12-17T19:49:44.927Z\",\"changed\":\"2023-03-21T08:49:42.168Z\",\"accessed\":\"2024-02-16T02:02:29.113Z\",\"statusChanged\":\"2023-03-21T08:49:42.168Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81ed\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"133\"},\"fname\":\"saia_upload.sh\",\"ext\":\"sh\",\"downloadlink\":\"/download?filename=/home/nygma/saia_upload.sh\",\"icon\":\"mdi-file-code-outline\"},{\"name\":\"/home/nygma/scratch\",\"stat\":{\"size\":4096,\"created\":\"2021-12-17T19:50:40.628Z\",\"changed\":\"2021-12-17T19:50:40.628Z\",\"accessed\":\"2024-02-16T02:00:00.219Z\",\"statusChanged\":\"2021-12-17T19:50:40.628Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x41ed\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":true,\"isFIFO\":false,\"isFile\":false,\"isSocket\":false,\"isSymbolicLink\":false},\"fname\":\"scratch\",\"ext\":\"folder\",\"icon\":\"mdi-folder-outline\"},{\"name\":\"/home/nygma/services.json\",\"stat\":{\"size\":1387,\"created\":\"2021-12-17T19:49:44.971Z\",\"changed\":\"2024-02-12T20:00:08.456Z\",\"accessed\":\"2024-02-14T02:01:56.028Z\",\"statusChanged\":\"2024-02-12T20:00:08.456Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"1,387\"},\"fname\":\"services.json\",\"ext\":\"json\",\"downloadlink\":\"/download?filename=/home/nygma/services.json\",\"icon\":\"mdi-file-code-outline\"},{\"name\":\"/home/nygma/snap\",\"stat\":{\"size\":4096,\"created\":\"2022-06-03T05:50:05.317Z\",\"changed\":\"2022-06-03T05:50:05.317Z\",\"accessed\":\"2024-02-16T02:00:03.231Z\",\"statusChanged\":\"2022-06-03T05:50:05.317Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x41c0\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":true,\"isFIFO\":false,\"isFile\":false,\"isSocket\":false,\"isSymbolicLink\":false},\"fname\":\"snap\",\"ext\":\"folder\",\"icon\":\"mdi-folder-outline\"},{\"name\":\"/home/nygma/snapshot_20200922-123814.jpg\",\"stat\":{\"size\":689672,\"created\":\"2021-12-17T19:49:44.999Z\",\"changed\":\"2021-12-17T19:49:45.027Z\",\"accessed\":\"2022-12-19T10:23:03.489Z\",\"statusChanged\":\"2021-12-17T19:49:45.027Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"689,672\"},\"fname\":\"snapshot_20200922-123814.jpg\",\"ext\":\"jpg\",\"downloadlink\":\"/download?filename=/home/nygma/snapshot_20200922-123814.jpg\",\"icon\":\"mdi-file-image\"},{\"name\":\"/home/nygma/snapshot_20210114-203241.jpg\",\"stat\":{\"size\":8394,\"created\":\"2021-12-17T19:49:45.039Z\",\"changed\":\"2021-12-17T19:49:45.039Z\",\"accessed\":\"2022-12-19T12:49:20.585Z\",\"statusChanged\":\"2021-12-17T19:49:45.039Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"8,394\"},\"fname\":\"snapshot_20210114-203241.jpg\",\"ext\":\"jpg\",\"downloadlink\":\"/download?filename=/home/nygma/snapshot_20210114-203241.jpg\",\"icon\":\"mdi-file-image\"},{\"name\":\"/home/nygma/snapshot_20210117-110524.jpg\",\"stat\":{\"size\":11404,\"created\":\"2021-12-17T19:49:45.051Z\",\"changed\":\"2021-12-17T19:49:45.051Z\",\"accessed\":\"2022-12-19T10:22:59.397Z\",\"statusChanged\":\"2021-12-17T19:49:45.051Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"11,404\"},\"fname\":\"snapshot_20210117-110524.jpg\",\"ext\":\"jpg\",\"downloadlink\":\"/download?filename=/home/nygma/snapshot_20210117-110524.jpg\",\"icon\":\"mdi-file-image\"},{\"name\":\"/home/nygma/sqlite\",\"stat\":{\"size\":4096,\"created\":\"2021-11-27T19:47:44.354Z\",\"changed\":\"2024-02-16T23:14:06.981Z\",\"accessed\":\"2024-02-16T02:00:00.383Z\",\"statusChanged\":\"2024-02-16T23:14:06.981Z\",\"uid\":0,\"gid\":0,\"mode\":\"0x41ff\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":true,\"isFIFO\":false,\"isFile\":false,\"isSocket\":false,\"isSymbolicLink\":false},\"fname\":\"sqlite\",\"ext\":\"folder\",\"icon\":\"mdi-folder-outline\"},{\"name\":\"/home/nygma/status_all_20231203.csv\",\"stat\":{\"size\":588,\"created\":\"2023-12-03T21:04:10.382Z\",\"changed\":\"2023-12-03T21:05:44.435Z\",\"accessed\":\"2023-12-05T02:00:44.235Z\",\"statusChanged\":\"2023-12-03T21:05:44.435Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"588\"},\"fname\":\"status_all_20231203.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/status_all_20231203.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/status_summary_20231203.csv\",\"stat\":{\"size\":414,\"created\":\"2023-12-03T21:04:10.378Z\",\"changed\":\"2023-12-03T21:05:44.431Z\",\"accessed\":\"2023-12-05T02:00:02.267Z\",\"statusChanged\":\"2023-12-03T21:05:44.431Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"414\"},\"fname\":\"status_summary_20231203.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/status_summary_20231203.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/strclean.py\",\"stat\":{\"size\":206,\"created\":\"2021-12-17T19:49:45.067Z\",\"changed\":\"2021-12-17T19:49:45.067Z\",\"accessed\":\"2022-12-19T10:39:26.158Z\",\"statusChanged\":\"2021-12-17T19:49:45.067Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"206\"},\"fname\":\"strclean.py\",\"ext\":\"py\",\"downloadlink\":\"/download?filename=/home/nygma/strclean.py\",\"icon\":\"mdi-file-code-outline\"},{\"name\":\"/home/nygma/subscriptions.json\",\"stat\":{\"size\":3326,\"created\":\"2021-12-17T19:49:45.083Z\",\"changed\":\"2024-02-12T20:00:19.976Z\",\"accessed\":\"2024-02-14T02:01:56.152Z\",\"statusChanged\":\"2024-02-12T20:00:19.976Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"3,326\"},\"fname\":\"subscriptions.json\",\"ext\":\"json\",\"downloadlink\":\"/download?filename=/home/nygma/subscriptions.json\",\"icon\":\"mdi-file-code-outline\"},{\"name\":\"/home/nygma/telegram.json\",\"stat\":{\"size\":605,\"created\":\"2021-12-17T19:49:45.095Z\",\"changed\":\"2023-10-27T21:37:24.892Z\",\"accessed\":\"2024-02-12T10:58:23.085Z\",\"statusChanged\":\"2023-10-27T21:37:24.892Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"605\"},\"fname\":\"telegram.json\",\"ext\":\"json\",\"downloadlink\":\"/download?filename=/home/nygma/telegram.json\",\"icon\":\"mdi-file-code-outline\"},{\"name\":\"/home/nygma/them_patterns.json\",\"stat\":{\"size\":0,\"created\":\"2021-12-17T19:49:44.983Z\",\"changed\":\"2021-12-17T19:49:44.983Z\",\"accessed\":\"2024-02-12T10:58:23.089Z\",\"statusChanged\":\"2021-12-17T19:49:44.983Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"0\"},\"fname\":\"them_patterns.json\",\"ext\":\"json\",\"downloadlink\":\"/download?filename=/home/nygma/them_patterns.json\",\"icon\":\"mdi-file-code-outline\"},{\"name\":\"/home/nygma/tinygs\",\"stat\":{\"size\":1847296,\"created\":\"2021-12-17T19:50:02.028Z\",\"changed\":\"2024-01-26T09:17:37.551Z\",\"accessed\":\"2024-02-16T02:00:03.399Z\",\"statusChanged\":\"2024-01-26T09:17:37.551Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x41ed\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":true,\"isFIFO\":false,\"isFile\":false,\"isSocket\":false,\"isSymbolicLink\":false},\"fname\":\"tinygs\",\"ext\":\"folder\",\"icon\":\"mdi-folder-outline\"},{\"name\":\"/home/nygma/video.mp4\",\"stat\":{\"size\":0,\"created\":\"2022-02-07T19:09:10.301Z\",\"changed\":\"2022-02-07T19:09:10.301Z\",\"accessed\":\"2022-02-09T02:00:01.156Z\",\"statusChanged\":\"2022-02-07T19:09:10.301Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"0\"},\"fname\":\"video.mp4\",\"ext\":\"mp4\",\"downloadlink\":\"/download?filename=/home/nygma/video.mp4\",\"icon\":\"mdi-file-document-edit-outline\"},{\"name\":\"/home/nygma/weather_20200818.csv\",\"stat\":{\"size\":11677,\"created\":\"2021-12-17T19:49:45.135Z\",\"changed\":\"2021-12-17T19:49:45.135Z\",\"accessed\":\"2022-12-19T10:13:50.639Z\",\"statusChanged\":\"2021-12-17T19:49:45.135Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"11,677\"},\"fname\":\"weather_20200818.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/weather_20200818.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/weather_20200819.csv\",\"stat\":{\"size\":30331,\"created\":\"2021-12-17T19:49:45.163Z\",\"changed\":\"2021-12-17T19:49:45.167Z\",\"accessed\":\"2021-12-19T02:54:40.134Z\",\"statusChanged\":\"2021-12-17T19:49:45.167Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"30,331\"},\"fname\":\"weather_20200819.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/weather_20200819.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/weather_20200820.csv\",\"stat\":{\"size\":30795,\"created\":\"2021-12-17T19:49:45.179Z\",\"changed\":\"2021-12-17T19:49:45.179Z\",\"accessed\":\"2021-12-19T02:23:25.811Z\",\"statusChanged\":\"2021-12-17T19:49:45.179Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"30,795\"},\"fname\":\"weather_20200820.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/weather_20200820.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/weather_20200821.csv\",\"stat\":{\"size\":30697,\"created\":\"2021-12-17T19:49:45.199Z\",\"changed\":\"2021-12-17T19:49:45.199Z\",\"accessed\":\"2021-12-19T02:54:44.230Z\",\"statusChanged\":\"2021-12-17T19:49:45.199Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"30,697\"},\"fname\":\"weather_20200821.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/weather_20200821.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/weather_20200822.csv\",\"stat\":{\"size\":30553,\"created\":\"2021-12-17T19:49:45.231Z\",\"changed\":\"2021-12-17T19:49:45.235Z\",\"accessed\":\"2021-12-19T02:23:21.795Z\",\"statusChanged\":\"2021-12-17T19:49:45.235Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"30,553\"},\"fname\":\"weather_20200822.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/weather_20200822.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/weather_20200823.csv\",\"stat\":{\"size\":30233,\"created\":\"2021-12-17T19:49:45.251Z\",\"changed\":\"2021-12-17T19:49:45.251Z\",\"accessed\":\"2021-12-19T02:54:41.494Z\",\"statusChanged\":\"2021-12-17T19:49:45.251Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"30,233\"},\"fname\":\"weather_20200823.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/weather_20200823.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/weather_20200824.csv\",\"stat\":{\"size\":29821,\"created\":\"2021-12-17T19:49:45.271Z\",\"changed\":\"2021-12-17T19:49:45.311Z\",\"accessed\":\"2021-12-19T02:23:23.127Z\",\"statusChanged\":\"2021-12-17T19:49:45.311Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"29,821\"},\"fname\":\"weather_20200824.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/weather_20200824.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/weather_20200825.csv\",\"stat\":{\"size\":28997,\"created\":\"2021-12-17T19:49:45.323Z\",\"changed\":\"2021-12-17T19:49:45.323Z\",\"accessed\":\"2021-12-19T02:25:03.347Z\",\"statusChanged\":\"2021-12-17T19:49:45.323Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"28,997\"},\"fname\":\"weather_20200825.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/weather_20200825.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/weather_20200826.csv\",\"stat\":{\"size\":26527,\"created\":\"2021-12-17T19:49:45.111Z\",\"changed\":\"2021-12-17T19:49:45.115Z\",\"accessed\":\"2022-12-19T12:41:07.025Z\",\"statusChanged\":\"2021-12-17T19:49:45.115Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"26,527\"},\"fname\":\"weather_20200826.csv\",\"ext\":\"csv\",\"downloadlink\":\"/download?filename=/home/nygma/weather_20200826.csv\",\"icon\":\"mdi-file-document-outline\"},{\"name\":\"/home/nygma/wordclockdebug.txt\",\"stat\":{\"size\":49700529,\"created\":\"2023-04-20T12:44:36.286Z\",\"changed\":\"2024-02-16T23:37:50.591Z\",\"accessed\":\"2024-02-16T02:00:00.683Z\",\"statusChanged\":\"2024-02-16T23:37:50.591Z\",\"uid\":1000,\"gid\":1000,\"mode\":\"0x81a4\",\"isBlockDevice\":false,\"isCharacterDevice\":false,\"isDirectory\":false,\"isFIFO\":false,\"isFile\":true,\"isSocket\":false,\"isSymbolicLink\":false,\"size_text\":\"49,700,529\"},\"fname\":\"wordclockdebug.txt\",\"ext\":\"txt\",\"downloadlink\":\"/download?filename=/home/nygma/wordclockdebug.txt\",\"icon\":\"mdi-file-document-outline\"}]","payloadType":"json","x":1490,"y":3400,"wires":[["8f96bef500249eb0"]]},{"id":"50c36bf4c5d2cbab","type":"ui-template","z":"0e3249ddee2000e3","group":"fb2e77ec2c2a5dd1","page":"","ui":"","name":"File Explorer","order":4,"width":"0","height":"0","head":"","format":"<template>\n    <!-- Provide an input text box to search the content -->\n    <v-text-field v-model=\"search\" label=\"Search\" prepend-inner-icon=\"mdi-magnify\" single-line variant=\"outlined\"\n        hide-details></v-text-field>\n    <v-data-table \n      v-model:search=\"search\" \n      :items=\"msg?.payload\" \n      :headers=\"msg?.headers\"\n      v-model=\"selected\"\n      item-selectable=\"selectable\"\n      select-strategy=\"all\"\n      show-select    \n      return-object\n    >\n\n      <template v-slot:item.icon=\"{ item }\">\n        <v-icon :icon=\"item.icon\"></v-icon>\n      </template>\n\n    </v-data-table>\n</template>\n\n<script>\n    export default {\n    data () {\n      return {\n        selected: [],\n        search: ''\n      }\n    },\n    watch: {\n        selected: function () {\n          this.send({topic:'selected', payload: this.selected});\n        }\n    },\n    methods: {\n        // add a function to determine the color of the progress bar given the row's item\n\n    }\n  }\n</script>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":1850,"y":3400,"wires":[["84389e98d466587c"]]},{"id":"8f96bef500249eb0","type":"change","z":"0e3249ddee2000e3","name":"Add Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"[{\"title\":\"Icon\",\"value\":\"icon\"},{\"title\":\"Name\",\"value\":\"fname\",\"sortable\":true},{\"title\":\"Created\",\"value\":\"stat.created\",\"sortable\":true},{\"title\":\"Changed\",\"value\":\"stat.changed\",\"sortable\":true}]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1650,"y":3400,"wires":[["50c36bf4c5d2cbab"]]},{"id":"55ced8a04613a907","type":"function","z":"0e3249ddee2000e3","name":"Change Values","func":"let data = flow.get(\"data\") ?? [];\n\nif (msg.topic === \"update\") {\n    if (data.length>0) {\n        for (let i=0; i<data.length; i++) {\n            data[i].current += Math.floor(Math.random()*5-2);\n        }\n        context.set(\"data\", data);\n        msg.payload = data;\n        return msg;\n    }\n} else {\n    flow.set(\"data\", msg.payload);\n    return msg;\n} \n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1660,"y":3540,"wires":[["1319969d3a7547b6"]]},{"id":"31fe1c087ff71f99","type":"inject","z":"0e3249ddee2000e3","name":"Update","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"update","payload":"","payloadType":"date","x":1450,"y":3580,"wires":[["55ced8a04613a907"]]},{"id":"c5faf3a05c33fb6a","type":"debug","z":"0e3249ddee2000e3","name":"debug 351","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2020,"y":3540,"wires":[]},{"id":"48e936484016c5b1","type":"function","z":"0e3249ddee2000e3","name":"Change target temp","func":"let data = flow.get(\"data\") ?? [];\n\nif ((msg.topic === \"plus\") || (msg.topic === \"minus\")) {\n    for (let i=0; i<data.length; i++) {\n        if (data[i].id === msg.payload.id) {\n            if (msg.topic === \"plus\") {\n                data[i].target += 0.5;\n            } else {\n                data[i].target -= 0.5;\n            }\n        }\n    }\n    msg.payload = data;\n    return msg;\n}\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2040,"y":3600,"wires":[["55ced8a04613a907"]]},{"id":"84389e98d466587c","type":"debug","z":"0e3249ddee2000e3","name":"debug 352","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2050,"y":3400,"wires":[]},{"id":"4924292182cb1506","type":"inject","z":"0e3249ddee2000e3","name":"Empty","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[]","payloadType":"json","x":1490,"y":3440,"wires":[["8f96bef500249eb0"]]},{"id":"1a5d10576526987e","type":"ui-markdown","z":"0e3249ddee2000e3","group":"fb2e77ec2c2a5dd1","name":"Text - Intro","order":1,"width":0,"height":0,"content":"# Working with tables\n\nDashboard 2.0 (DB2) offers two different options to display tables, one is the `ui-table` component which can display any object array as a table, and has some customizibility on column headers.\nBut the real power is building tables using [Vuetify](https://vuetifyjs.com/en/components/data-tables/introduction/#components) `v-data-table` and the various Vuetify components to build reach and responsible tables.","className":"","x":1770,"y":3200,"wires":[[]]},{"id":"c1981d70ad835ca1","type":"ui-markdown","z":"0e3249ddee2000e3","group":"fb2e77ec2c2a5dd1","name":"Text - Header and Items","order":3,"width":0,"height":0,"content":"# Customizing Header and Items\n\n## Linking items to the table\n\nIn the `v-data-table` tag, `:items=\"msg.payload\"` describes that the items to be displayed in the table are stored in `msg.payload` of the incoming message.\n\n## Search\n\nIt is possible to add a simple client side filter to the table values that filters on any column values in the table.\nFirst, it needs a search field `v-text-field` before (or after) the table:\n```\n    <v-text-field v-model=\"search\" label=\"Search\" prepend-inner-icon=\"mdi-magnify\" single-line variant=\"outlined\"\n        hide-details></v-text-field>\n```\nAnd also needs to be linked to the table using the `v-model:search=\"search\"` attribute:\n```\n    <v-data-table v-model:search=\"search\" :items=\"msg.payload\">\n```\n\n## Column headers\n\nBy default the column headers are same as the field names with capital first letter. But it can be overriden to any text if needed:\n```\n        <template v-slot:header.ev>\n          <div class=\"text-center\">EV Owner</div>\n        </template>\n        <template v-slot:header.rating>\n          <div class=\"text-center\">Customer Satisfaction</div>\n        </template>\n```\nIt needs a `template` tag with `v-slot` attribute, which says `header:xxx` where xxx is the field name. And within that the text can be defined. In the example above \"Customer Satisfaction\" in centre justified, otherwise it is left justified.\n\n## Convert value to linked\n\nIn the Email column an mailto: hyperlink is formatted, instead of the full email printed on the screen.\n```\n      <template v-slot:item.email=\"{ item }\">\n        <!-- turn the email column to an Email hyperlink -->\n        <a :href=\"'mailto:' + item.email\">Email</a>\n      </template>\n```\nSimilar to the header changes, this also needs a `template` tag with `v-slot` attribute, which now says `item:xxx` where xxx is the field name.\nThe value of `href` is calculated therefore it is shown as `:href` indicating that the value is not a text but an expression.\n\n## Convert value to Chip\n\nAge is displayed as a chip, basically the value is cirled and shown with a background color. `{{ item.age }}` prints the age value and the work \" years\" is printed after it.\n```\n      <template v-slot:item.age=\"{ item }\">\n        <v-chip :color=\"getChipColor(item)\">\n          {{ item.age }} years\n        </v-chip>\n      </template>\n```\nThe `color` attribute is determined my a function, so again it is referenced as `:color`. Function is defined in the methods section.\n\n## Convert value to icon\n\nThe \"yes\" and \"no\" value of the `ev` field is displayed as a green or red car icon. Both the color and the icon name is determined by a function.\n```\n      <template v-slot:item.ev=\"{ item }\">\n        <!-- Convert the EV values to colored icons -->\n        <div class=\"text-center\"><v-icon :color=\"evColor(item)\" :icon=\"evIcon(item)\"></v-icon></div>\n      </template>\n```\n\n## Convert value to rating\n\nA value from 1 to 5 can also be displayed as star rating. The rating being displated is passed in the `:model-value` attribute, and it takes the value from `item.rating`.\n```\n      <template v-slot:item.rating=\"{ item }\">\n        <!-- Display the rating number as star rating -->\n        <v-rating length=\"5\" size=\"32\" :model-value=\"item.rating\" active-color=\"primary\" readonly></v-rating>\n      </template>\n```\n\n## Convert to Linear progress\n\nThe `complete` field contains a value from 1 to 100 and that is shown as a progress. The progress value is passed in `:model-value` and the color is determined by a function.\n```\n      <template v-slot:item.complete=\"{ item }\">\n        <!-- Display the progress as a linear progress -->\n        <v-progress-linear :color=\"getProgressColor(item)\" :model-value=\"item.complete\" height=\"12\"></v-progress-linear>\n      </template>\n```\n\n## Script section\n\n### data section\n\nIn the data section only the `search` variable is defined which stores the search value entered in the input field and pass it over to the table to filter the results.\n```\n    data () {\n      return {\n        search: ''\n      }\n    },\n```\n\n### methods section\n\nThe methods section contains all the functions that are used by the chip, icon, progress components and determine color or icon for the component. The object for each record is stored in the `item` variable. I pass the entire `item` object to these functions, and they can reference to each field of it by `item.age`, `item.ev`, etc. And return either the color name, or icon name, etc.\n","className":"","x":1810,"y":3320,"wires":[[]]},{"id":"04681f7dff41d477","type":"ui-markdown","z":"0e3249ddee2000e3","group":"fb2e77ec2c2a5dd1","name":"Text - Selection and Response","order":5,"width":0,"height":0,"content":"# Selection, Response and Headers\n\n## Controlling Selection\n\nThe above example shows how to handle selection of records in the table. Some additional attribures are added to the `v-data-table`:\n- `show-select` turns on the checkboxes at the beginning or each row\n- `select-strategy=\"all\"` specifies that multiple items are selectable. This could be `single` as well\n- `item-selectable=\"selectable\"` sets that items are selectable at all\n- `return-object` controls that whenever the selection changes the selected item(s) are outputted on the output port of the template node\n- `v-model=\"selected\"` specify where to store the selected items.\n\nInitialized the value or `selected`:\n```\n    data () {\n      return {\n        selected: [],\n        search: ''\n      }\n    },\n```\nAnd also added a watch function to send the content out when the selection changes:\n```\n    watch: {\n        selected: function () {\n          this.send({topic:'selected', payload: this.selected});\n        }\n    },\n```\n\n## Headers\n\nIn this example the input data has a lot of fields that are not to be displayed on in the table. Therefore in `v-data-table` and additional attribute is added: `:headers=\"msg.headers\"`. This sets that the headers to be used are stored in `msg.headers` of the incoming message.\nAnd that is set by the change node before this template node. It contains an array with items like this:\n```\n    {\n        \"title\": \"Name\",\n        \"value\": \"fname\",\n        \"sortable\": true\n    },\n```\nWhere `title` is the column headers visible on the screen, `value` is the field name is the structure, and `sortable` controls if the column header can be clicked on for sorting. I turned off sorting by the icon.\n\n\n\n<template>\n    <!-- Provide an input text box to search the content -->\n    <v-text-field v-model=\"search\" label=\"Search\" prepend-inner-icon=\"mdi-magnify\" single-line variant=\"outlined\"\n        hide-details></v-text-field>\n    <v-data-table \n      v-model:search=\"search\" \n      :items=\"msg?.payload\" \n      :headers=\"msg?.headers\"\n      v-model=\"selected\"\n      item-selectable=\"selectable\"\n      select-strategy=\"all\"\n      show-select    \n      return-object\n    >\n\n      <template v-slot:item.icon=\"{ item }\">\n        <v-icon :icon=\"item.icon\"></v-icon>\n      </template>\n\n    </v-data-table>\n</template>\n\n<script>\n    export default {\n    data () {\n      return {\n        selected: [],\n        search: ''\n      }\n    },\n    watch: {\n        selected: function () {\n          this.send({topic:'selected', payload: this.selected});\n        }\n    },\n    methods: {\n        // add a function to determine the color of the progress bar given the row's item\n\n    }\n  }\n</script>","className":"","x":1830,"y":3460,"wires":[[]]},{"id":"d5dec1c45630796d","type":"ui-markdown","z":"0e3249ddee2000e3","group":"fb2e77ec2c2a5dd1","name":"Text - Temp List","order":7,"width":0,"height":0,"content":"# Temperature list\n\nThe above table shows how the table can be used to display a list of value. Here a function code is updating some temperature readings randomly just to show that a continouse incoming payload refreshes the table contents.\nAlso the search bar is turned off for this example.\n\n## Adding buttons\n\nA plus and a minus button is added to the \"Target Temperature\" column to allow changing the value for each row:\n```\n        <template v-slot:item.target=\"{ item }\">\n            <v-btn class=\"ma-2\" variant=\"text\" icon=\"mdi-plus\" color=\"red-lighten-2\" @click=\"send({topic: 'plus', payload: item})\">\n            </v-btn>\n            <v-btn class=\"ma-2\" variant=\"text\" icon=\"mdi-minus\" color=\"blue-lighten-2\"\n              @click=\"send({topic: 'minus', payload: item})\"></v-btn>\n            {{ item.target }}°C\n        </template>\n```\nWhen either the plus or the minus button is pressed it will send the entire item in the payload and the topic will be either \"plus\" or \"minus\". Since there is an `id` field in the record, it will be easy to identify in which row the button is pressed.\n\n## Linear progress\n\nThe Current Temperature is shown as a \"Linear Progress\" similar as in the first example:\n```\n        <template v-slot:item.current=\"{ item }\">\n            <!-- Render a Linear Progress Bar for the \"current\" column -->\n            <v-progress-linear v-model=\"item.current\" min=\"15\" max=\"25\" height=\"25\" :color=\"getColor(item)\">\n                <template v-slot:default=\"{ value }\">\n                    <strong>{{ item.current }}°C</strong>\n                </template>\n            </v-progress-linear>\n        </template>\n```\nBut here the actual value is printed on top of the progress with the `<strong>{{ item.current }}°C</strong>` line. Also the color of the progress bar is determined by a function: `:color=\"getColor(item)\"`.\n\nAnd this function is defined in the script section in methods:\n```\n    methods: {\n        // add a function to determine the color of the progress bar given the row's item\n      getColor: function (item) {\n        if (item.current > item.target) {\n          return 'red'\n        } else {\n          return 'green'\n        }\n      }\n    }\n```\n","className":"","x":1780,"y":3660,"wires":[[]]},{"id":"fb2e77ec2c2a5dd1","type":"ui-group","name":"Table examples","page":"c466b7e4bb472f99","width":"6","height":"1","order":-1,"showTitle":false,"className":"","visible":"true","disabled":"false"},{"id":"c466b7e4bb472f99","type":"ui-page","name":"Tables","ui":"cb79bc4520925e32","path":"/tables","icon":"table","layout":"notebook","theme":"0d92c765bfad87e6","order":-1,"className":"","visible":"true","disabled":"false"},{"id":"cb79bc4520925e32","type":"ui-base","name":"My UI","path":"/dashboard","includeClientData":true,"acceptsClientConfig":["ui-notification","ui-control"],"showPathInSidebar":false},{"id":"0d92c765bfad87e6","type":"ui-theme","name":"Basic Blue Theme","colors":{"surface":"#4d58ff","primary":"#0094ce","bgPage":"#eeeeee","groupBg":"#ffffff","groupOutline":"#cccccc"},"sizes":{"pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"12px"}}]