dashboard_2_file_browser.json
[{"id":"066aec543be078be","type":"comment","z":"0e3249ddee2000e3","name":"DB2 File Browser","info":"","x":120,"y":4540,"wires":[]},{"id":"ba2f4d9e595b71ac","type":"ui-template","z":"0e3249ddee2000e3","group":"78b1a8fd63ef7bbc","page":"","ui":"","name":"Toolbar","order":1,"width":0,"height":0,"head":"","format":"<template>\n    <v-toolbar>\n        <template v-slot:prepend>\n            <v-tooltip text=\"Refresh\" location=\"top\">\n                <template v-slot:activator=\"{ props }\">\n                    <v-btn v-bind=\"props\"  icon=\"mdi-refresh\" color=\"black\" @click=\"send({topic: 'refresh', payload: null})\"></v-btn>\n                </template>\n            </v-tooltip>\n            <v-tooltip text=\"Parent folder\" location=\"top\">\n                <template v-slot:activator=\"{ props }\">\n                    <v-btn v-bind=\"props\" icon=\"mdi-arrow-up-bold-outline\" color=\"black\" @click=\"send({topic: 'up', payload: null})\"></v-btn>\n                </template>\n            </v-tooltip>\n            <v-tooltip text=\"Home folder\" location=\"top\">\n                <template v-slot:activator=\"{ props }\">\n                    <v-btn v-bind=\"props\" icon=\"mdi-home-account\" color=\"black\"\n                        @click=\"send({topic: 'home', payload: null})\"></v-btn>\n                </template>\n            </v-tooltip>\n        </template>\n\n\n        <v-tooltip text=\"Delete file\" location=\"top\">\n            <template v-slot:activator=\"{ props }\">\n                <v-btn v-bind=\"props\" icon=\"mdi-delete-outline\" color=\"black\" @click=\"send({topic: 'delete', payload: null})\" :disabled=\"buttonstate.delete\"></v-btn>\n            </template>\n        </v-tooltip>\n        <v-tooltip text=\"Download file\" location=\"top\">\n            <template v-slot:activator=\"{ props }\">\n                <v-btn v-bind=\"props\" icon=\"mdi-download\" color=\"black\" @click=\"send({topic: 'download', payload: null})\"\n                    :disabled=\"buttonstate.download\"></v-btn>\n            </template>\n        </v-tooltip>\n        <v-btn icon=\"mdi-archive-plus-outline\"  color=\"black\" ></v-btn>\n\n        <v-btn icon=\"mdi-alert-circle-outline\" color=\"black\" disabled=\"true\"></v-btn>\n\n        <v-btn icon=\"mdi-delete-outline\"  color=\"black\"></v-btn>\n\n        <template v-if=\"$vuetify.display.smAndUp\">\n            <v-divider class=\"mx-3 align-self-center\" length=\"24\" thickness=\"2\" vertical  color=\"black\"></v-divider>\n\n            <v-btn icon=\"mdi-folder-outline\"  color=\"black\"></v-btn>\n\n            <v-btn icon=\"mdi-tag-outline\"  color=\"black\"></v-btn>\n\n            <v-btn icon=\"mdi-dots-vertical\"  color=\"black\"></v-btn>\n        </template>\n    </v-toolbar>\n</template>\n\n<script>\n    export default {\n        data() {\n            // define variables available component-wide\n            // (in <template> and component functions)\n            return {\n                buttonstate: {}\n            }\n        },\n        watch: {\n            // watch for any changes of \"count\"\n            msg: function() {\n                if(this.msg.payload != undefined){\n                    this.buttonstate = this.msg.payload;\n                }\n            }\n        },\n        computed: {\n            // automatically compute this variable\n            // whenever VueJS deems appropriate\n        },\n        methods: {\n            // expose a method to our <template> and Vue Application\n        },\n        mounted() {\n            // code here when the component is first loaded\n        },\n        unmounted() {\n            // code here when the component is removed from the Dashboard\n            // i.e. when the user navigates away from the page\n        }\n    }\n</script>\n<style>\n    /* define any styles here - supports raw CSS */\n    .my-class {\n        color: red;\n    }\n</style>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1200,"y":4580,"wires":[["974c6d787e653f5d","78b15bd9528e5e9a"]]},{"id":"860334734a6a6752","type":"ui-template","z":"0e3249ddee2000e3","group":"78b1a8fd63ef7bbc","page":"","ui":"","name":"File Explorer","order":2,"width":"0","height":"0","head":"","format":"<template>\n    <!-- Provide an input text box to search the content -->\n    <v-text-field v-model=\"search\" label=\"Search\" prepend-inner-icon=\"mdi-magnify\" single-line variant=\"outlined\"\n        hide-details></v-text-field>\n    <v-data-table \n      v-model:search=\"search\" \n      :items=\"msg?.payload\" \n      :headers=\"msg?.headers\"\n      v-model=\"selected\"\n      item-selectable=\"selectable\"\n      select-strategy=\"all\"\n      show-select    \n      return-object\n    >\n\n      <template v-slot:item.icon=\"{ item }\">\n        <v-icon :icon=\"item.icon\"></v-icon>\n      </template>\n      <template v-slot:item.fname=\"{ item }\">\n        <v-chip variant=\"tonal\" :color=\"item.chipcolor\" @click=\"send({topic: 'clicked', payload: item})\">{{ item.fname }}</v-chip>\n      </template>\n      <template v-slot:item.stat.size_text=\"{ item }\">\n        <div class=\"text-right\">{{ item.stat.size_text }}</div>\n      </template>\n\n    </v-data-table>\n</template>\n\n<script>\n    export default {\n    data () {\n      return {\n        selected: [],\n        search: ''\n      }\n    },\n    watch: {\n        selected: function () {\n          this.send({topic:'selected', payload: this.selected});\n        },\n        msg: function () {\n          selected: [];\n        }\n    },\n    methods: {\n        // add a function to determine the color of the progress bar given the row's item\n\n    }\n  }\n</script>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":970,"y":4680,"wires":[["a17bf6e7624e9cf3","22bda8abb863b3eb"]]},{"id":"6c96462a11721ad2","type":"change","z":"0e3249ddee2000e3","name":"Add Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"[{\"title\":\"Icon\",\"value\":\"icon\"},{\"title\":\"Name\",\"value\":\"fname\",\"sortable\":true},{\"title\":\"Size\",\"value\":\"stat.size_text\",\"sortable\":true},{\"title\":\"Created\",\"value\":\"stat.created\",\"sortable\":true},{\"title\":\"Changed\",\"value\":\"stat.changed\",\"sortable\":true}]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":4680,"wires":[["860334734a6a6752"]]},{"id":"974c6d787e653f5d","type":"debug","z":"0e3249ddee2000e3","name":"Toolbar action","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1440,"y":4520,"wires":[]},{"id":"a17bf6e7624e9cf3","type":"debug","z":"0e3249ddee2000e3","name":"Filelist action","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1130,"y":4780,"wires":[]},{"id":"4eb9f90cdd5cff28","type":"inject","z":"0e3249ddee2000e3","name":"Init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"change","payload":"filebrowser_default_folder","payloadType":"global","x":90,"y":4640,"wires":[["3bf7430f2d43a7b2"]]},{"id":"3bf7430f2d43a7b2","type":"function","z":"0e3249ddee2000e3","name":"Folder handling","func":"let folder = context.get(\"folder\");\nif (folder===undefined) {\n    folder=\"/\";\n    context.set(\"folder\", folder);\n}\n\nlet hidden = context.get(\"hidden\");\nif (hidden===undefined) {\n    hidden=false;\n    context.set(\"hidden\", hidden);\n}\n\nif (msg.topic===\"up\") {\n    var the_arr = folder.split('/');\n    the_arr.pop();\n    folder=the_arr.join('/'); \n    context.set(\"folder\", folder);\n}\nif (msg.topic===\"change\") {\n    folder=msg.payload;    \n    context.set(\"folder\", folder);\n}\nif (msg.topic===\"hidden\") {\n    hidden=msg.payload;    \n    context.set(\"hidden\", hidden);\n}\n\nmsg.payload = {\"start\":folder, \"hidden\": hidden};\nflow.set(\"folder\", folder);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":4680,"wires":[["d824a4042497107b"]]},{"id":"d824a4042497107b","type":"fs-file-lister","z":"0e3249ddee2000e3","name":"Files","start":"/home/nygma","pattern":"*.*","folders":"*","hidden":false,"lstype":"both","path":true,"single":true,"depth":0,"stat":true,"showWarnings":false,"x":470,"y":4680,"wires":[["db2e450d66584744"]]},{"id":"db2e450d66584744","type":"function","z":"0e3249ddee2000e3","name":"Prep Data","func":"function convertDate(local) {\n    let d = new Date(local);\n    d.setTime(d.getTime()+3600*1000);\n    return d.toISOString().slice(0, 19).replace('T', ' ');\n}\n\nfor (var i=0; i<msg.payload.length; i++) {\n   msg.payload[i].stat.created = convertDate(msg.payload[i].stat.created);\n   msg.payload[i].stat.changed = convertDate(msg.payload[i].stat.changed);\n   msg.payload[i].stat.accessed = convertDate(msg.payload[i].stat.accessed);\n   msg.payload[i].stat.statusChanged = convertDate(msg.payload[i].stat.statusChanged);\n    msg.payload[i].fname = msg.payload[i].name.replace(/^.*(\\\\|\\/|\\:)/, '');\n    if (msg.payload[i].stat.isDirectory) {\n        msg.payload[i].ext = \"folder\";\n        msg.payload[i].icon = \"mdi-folder-outline\";\n        msg.payload[i].chipcolor = \"blue\";\n    } else {\n        msg.payload[i].ext = msg.payload[i].fname.split('.').pop().toLowerCase();\n        msg.payload[i].stat.size_text = msg.payload[i].stat.size.toString().replace(/\\B(?=(\\d{3})+(?!\\d))/g, \",\");\n        msg.payload[i].downloadlink = \"/download?filename=\"+msg.payload[i].name;\n        msg.payload[i].chipcolor = \"grey\";\n        switch (msg.payload[i].ext) {\n            case \"csv\":\n            case \"txt\":\n                msg.payload[i].icon = \"mdi-file-document-outline\";\n                break;\n            case \"jpg\":\n            case \"jpeg\":\n            case \"png\":\n            case \"gif\":\n                msg.payload[i].icon = \"mdi-file-image\";\n                break;\n            case \"json\":\n            case \"py\":\n            case \"sh\":\n                msg.payload[i].icon = \"mdi-file-code-outline\";\n                break;\n            default:\n                msg.payload[i].icon = \"mdi-file-document-edit-outline\";\n        }\n    }\n}\nflow.set(\"currentfolder\",msg.payload);\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":4680,"wires":[["6c96462a11721ad2","81bdebf226289166"]]},{"id":"b4ab571c4ae055ae","type":"inject","z":"0e3249ddee2000e3","name":"Default folder","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"/home/nygma","payloadType":"str","x":120,"y":4600,"wires":[["3cd8606b06a2ef63"]]},{"id":"3cd8606b06a2ef63","type":"change","z":"0e3249ddee2000e3","name":"Store settings","rules":[{"t":"set","p":"filebrowser_default_folder","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":4600,"wires":[[]]},{"id":"81bdebf226289166","type":"debug","z":"0e3249ddee2000e3","name":"debug 354","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":780,"y":4740,"wires":[]},{"id":"78b15bd9528e5e9a","type":"switch","z":"0e3249ddee2000e3","name":"Button pressed","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"refresh","vt":"str"},{"t":"eq","v":"up","vt":"str"},{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"download","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":1420,"y":4580,"wires":[["0009cf79df680a7d"],["0009cf79df680a7d"],["2957b62d1a068bd1"],["7e7f6138b76b6c67"]]},{"id":"2957b62d1a068bd1","type":"change","z":"0e3249ddee2000e3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"filebrowser_default_folder","tot":"global"},{"t":"set","p":"topic","pt":"msg","to":"change","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":4600,"wires":[["0009cf79df680a7d"]]},{"id":"f62329c112539834","type":"link in","z":"0e3249ddee2000e3","name":"New File Browser Refresh","links":["0009cf79df680a7d"],"x":135,"y":4700,"wires":[["3bf7430f2d43a7b2"]]},{"id":"0009cf79df680a7d","type":"link out","z":"0e3249ddee2000e3","name":"link out 61","mode":"link","links":["f62329c112539834"],"x":1995,"y":4560,"wires":[]},{"id":"22bda8abb863b3eb","type":"function","z":"0e3249ddee2000e3","name":"File List Actions","func":"let buttonstates = {};\nbuttonstates = {\n    \"delete\" : true,\n    \"download\" : true\n};\n\nif (msg.topic === \"clicked\") {\n    flow.set(\"lastclicked\", msg.payload);\n    // Directory clicked\n    if (msg.payload.stat.isDirectory) {\n        return [null,{\"topic\": \"change\", \"payload\": msg.payload.name},null,null];\n    } else {\n        return [null, null, msg, null];\n    }\n}\nif (msg.topic === \"selected\") {\n    flow.set(\"lastselected\", msg.payload);\n    switch(msg.payload.length) {\n        case 0:\n            buttonstates = {\n                \"delete\": true,\n                \"download\" : true\n            };\n            break;\n        case 1:\n            buttonstates = {\n                \"delete\": false,\n                \"download\" : false\n            };\n            break;\n        default:\n            buttonstates = {\n                \"delete\": false,\n                \"download\" : true\n            };\n    }\n    node.send([{\"topic\": \"buttons\", \"payload\": buttonstates},null,null,msg]);\n}\n\n","outputs":4,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1190,"y":4680,"wires":[["ba2f4d9e595b71ac"],["0009cf79df680a7d"],["35815c5686a075af"],["bbc53f7072538dd1"]]},{"id":"7e7f6138b76b6c67","type":"function","z":"0e3249ddee2000e3","name":"Handle Download Actions","func":"let lastselected = flow.get(\"lastselected\") ?? [];\nif (lastselected.length === 1) {\n//    msg.template = \"<script>window.open('\" + encodeURIComponent(lastselected[0].downloadlink) + \"', '_blank');</script>\";\n    msg.payload = lastselected[0].downloadlink;\n    return msg;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1730,"y":4660,"wires":[["0dd538ad5abf0d66","23b83421d5b3ae62"]]},{"id":"0dd538ad5abf0d66","type":"ui-template","z":"0e3249ddee2000e3","group":"78b1a8fd63ef7bbc","page":"","ui":"","name":"File Download Dummy HTML","order":0,"width":0,"height":0,"head":"","format":"<script>\n    export default {\n        data() {\n            return {\n            }\n        },\n        watch: {\n            msg: function() {\n                if(this.msg.payload != undefined){\n                    window.open(this.msg.payload, '_blank');\n                }\n            }\n        }\n    }\n</script>\n","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":2040,"y":4660,"wires":[[]]},{"id":"23b83421d5b3ae62","type":"debug","z":"0e3249ddee2000e3","name":"debug 356","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1970,"y":4720,"wires":[]},{"id":"8db0b4781c475060","type":"ui-template","z":"0e3249ddee2000e3","group":"771fdaf427baf0f4","page":"","ui":"","name":"File Card","order":0,"width":0,"height":0,"head":"","format":"<template>\n    <v-card class=\"mx-auto\" color=\"white\">\n        <v-img class=\"align-end text-white\" height=\"50\" src=\"https://cdn.vuetifyjs.com/docs/images/cards/purple-flowers.jpg\" cover>\n            <v-card-title>{{ fname }}</v-card-title>\n        </v-img>\n\n        <v-card-subtitle>\n            {{ size_text }} byte(s)\n        </v-card-subtitle>\n\n        <v-card-text>\n            <div v-html=\"content\"></div>\n        </v-card-text>\n\n        <v-card-actions>\n            <v-btn color=\"orange\">\n                Share\n            </v-btn>\n\n            <v-btn color=\"orange\">\n                Explore\n            </v-btn>\n        </v-card-actions>\n    </v-card>\n</template>\n\n<script>\n    export default {\n        data() {\n            // define variables available component-wide\n            // (in <template> and component functions)\n            return {\n                content: \"\",\n                fname: \"\",\n                size_text: \"\"\n            }\n        },\n        watch: {\n            // watch for any changes of \"count\"\n            msg: function() {\n                if(this.msg.payload != undefined){\n                    if (this.msg.payload.filecontent != undefined) {\n                        this.content = this.msg.payload.filecontent;\n                    } else {\n                        this.content = \"\";\n                    }\n                    this.fname = this.msg.payload.fname;\n                    this.size_text = this.msg.payload.stat.size_text;\n                }\n            }\n        },\n        computed: {\n        },\n        methods: {\n        },\n        mounted() {\n        },\n        unmounted() {\n        }\n    }\n</script>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2300,"y":4760,"wires":[[]]},{"id":"35815c5686a075af","type":"switch","z":"0e3249ddee2000e3","name":"File type","property":"payload.ext","propertyType":"msg","rules":[{"t":"eq","v":"csv","vt":"str"},{"t":"eq","v":"txt","vt":"str"},{"t":"eq","v":"json","vt":"str"},{"t":"eq","v":"sh","vt":"str"},{"t":"eq","v":"py","vt":"str"},{"t":"eq","v":"jpg","vt":"str"},{"t":"eq","v":"jpeg","vt":"str"},{"t":"eq","v":"png","vt":"str"},{"t":"eq","v":"gif","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":10,"x":1420,"y":4880,"wires":[["6b0c85ac76f33610"],["6b0c85ac76f33610"],["6b0c85ac76f33610"],["6b0c85ac76f33610"],["6b0c85ac76f33610"],["e6d8948f0c4f91f1"],["e6d8948f0c4f91f1"],["e6d8948f0c4f91f1"],["e6d8948f0c4f91f1"],["0723d28ecb2de203"]]},{"id":"6b0c85ac76f33610","type":"function","z":"0e3249ddee2000e3","name":"Get the file name","func":"if (msg.payload.stat.size<200000) {\n    msg.filename = msg.payload.name;\n    msg.save = msg.payload;\n    return [msg,null];\n} else {\n    return [null,msg];  \n}\n","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1630,"y":4840,"wires":[["1766c4558495ec1e"],["996af3577e9293f2"]],"outputLabels":["Folder selected",""]},{"id":"1766c4558495ec1e","type":"file in","z":"0e3249ddee2000e3","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":1820,"y":4840,"wires":[["7d7e78be85e6c295"]]},{"id":"7d7e78be85e6c295","type":"function","z":"0e3249ddee2000e3","name":"Div text","func":"function HTMLEncode(str) {\n    var i = str.length,\n        aRet = [];\n\n    while (i--) {\n        var iC = str[i].charCodeAt();\n        if (iC < 65 || iC > 127 || (iC > 90 && iC < 97)) {\n            aRet[i] = '&#' + iC + ';';\n        } else {\n            aRet[i] = str[i];\n        }\n    }\n    return aRet.join('');\n}\n\n\nlet filecontent = \"\";\nfilecontent += msg.payload;\n\n// filecontent = HTMLEncode(filecontent);\n\n// Convert line feed to <br>\nfilecontent = filecontent.replace(/(?:\\r\\n|\\r|\\n)/g, '<br/>');\n\n\n\nmsg.payload = msg.save;\nmsg.payload.filecontent = filecontent;\nmsg.payload.isText = true;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1980,"y":4840,"wires":[["8db0b4781c475060","7f85ac305509bf23"]]},{"id":"e6d8948f0c4f91f1","type":"function","z":"0e3249ddee2000e3","name":"Get the file name","func":"if (msg.payload.stat.size < 2000000) {\n    msg.filename = msg.payload.name;\n    msg.save = msg.payload;\n    return [msg, null];\n} else {\n    return [null, msg];\n}\n","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1630,"y":4920,"wires":[["0725cd9674de0d0a"],["996af3577e9293f2"]],"outputLabels":["Folder selected",""]},{"id":"0725cd9674de0d0a","type":"file in","z":"0e3249ddee2000e3","name":"","filename":"filename","filenameType":"msg","format":"","chunk":false,"sendError":false,"encoding":"none","x":1820,"y":4920,"wires":[["d557be83132d6587"]]},{"id":"401fcaba2ade0d05","type":"function","z":"0e3249ddee2000e3","name":"Div image","func":"let text = \"<img src=\\\"data:image/png;base64,\";\ntext += msg.payload;\ntext += \"\\\" width=\\\"100%\\\"/>\";\nmsg.payload = msg.save;\nmsg.payload.filecontent = text;\nmsg.payload.isText = true;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2120,"y":4920,"wires":[["8db0b4781c475060"]]},{"id":"d557be83132d6587","type":"base64","z":"0e3249ddee2000e3","name":"","action":"","property":"payload","x":1980,"y":4920,"wires":[["401fcaba2ade0d05"]]},{"id":"0723d28ecb2de203","type":"function","z":"0e3249ddee2000e3","name":"Div text","func":"msg.payload.filecontent = \"No preview available\";\nmsg.payload.isText = true;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2120,"y":4980,"wires":[["8db0b4781c475060"]]},{"id":"996af3577e9293f2","type":"function","z":"0e3249ddee2000e3","name":"File too big","func":"msg.payload.filecontent = \"File too large for preview\";\nmsg.payload.isText = true;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1990,"y":4880,"wires":[["8db0b4781c475060","7f85ac305509bf23"]]},{"id":"7f85ac305509bf23","type":"debug","z":"0e3249ddee2000e3","name":"debug 357","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2260,"y":4860,"wires":[]},{"id":"bbc53f7072538dd1","type":"function","z":"0e3249ddee2000e3","name":"Multiple files","func":"\nlet filecontent = \"\";\nlet folders = 0;\nlet files = 0;\nlet size = 0;\nfor (let i=0; i<msg.payload.length; i++) {\n    if (msg.payload[i].stat.isDirectory) {\n        folders++;\n    } else {\n        files++;\n        size += msg.payload[i].stat.size;\n        filecontent += msg.payload[i].fname+\"<br/>\";\n    }\n}\n\nlet title = \"\";\nif (folders>0) {\n    title += folders + \" folder\";\n    if (folders>1) {\n        title += \"s\";\n    }\n    if (files>0) {\n        title += \" and \";\n    }\n}\nif (files>0) {\n    title += files + \" file\";\n    if (files>1) {\n        title += \"s\";\n    }\n}\nif ((files===0)&&(folders===0)) {\n    title += \"Nothing\";\n}\ntitle += \" selected\";\n\nmsg.payload = {\n    \"fname\": title,\n    \"stat\": { \"size_text\": size.toString().replace(/\\B(?=(\\d{3})+(?!\\d))/g, \",\") },\n    \"filecontent\": filecontent,\n    \"isText\": true\n}\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1630,"y":4780,"wires":[["8db0b4781c475060"]]},{"id":"aa8c482.93734b8","type":"http in","z":"0e3249ddee2000e3","name":"","url":"/download","method":"get","upload":false,"swaggerDoc":"","x":180,"y":4840,"wires":[["d969ba04.e24028"]]},{"id":"d19cc7d8.646328","type":"http response","z":"0e3249ddee2000e3","name":"","statusCode":"","headers":{},"x":970,"y":4840,"wires":[]},{"id":"d969ba04.e24028","type":"function","z":"0e3249ddee2000e3","name":"Get the file name","func":"msg.filename = msg.req.query.filename;\nmsg.contentdisposition = \"attachment; filename=\\\"\" + msg.req.query.filename.replace(/^.*(\\\\|\\/|\\:)/, '') + \"\\\"\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":4840,"wires":[["e92381c3.c4cd2"]],"outputLabels":["Folder selected"]},{"id":"e92381c3.c4cd2","type":"file in","z":"0e3249ddee2000e3","name":"","filename":"filename","filenameType":"msg","format":"","chunk":false,"sendError":false,"encoding":"none","x":620,"y":4840,"wires":[["99ff4953.d0d5c8"]]},{"id":"99ff4953.d0d5c8","type":"change","z":"0e3249ddee2000e3","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"text/csv","tot":"str"},{"t":"set","p":"headers.Content-Disposition","pt":"msg","to":"contentdisposition","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":4840,"wires":[["d19cc7d8.646328"]]},{"id":"78b1a8fd63ef7bbc","type":"ui-group","name":"File List","page":"e8e20bd9167fab37","width":"6","height":"1","order":-1,"showTitle":false,"className":"","visible":"true","disabled":"false"},{"id":"771fdaf427baf0f4","type":"ui-group","name":"File View","page":"e8e20bd9167fab37","width":"6","height":"1","order":-1,"showTitle":false,"className":"","visible":"true","disabled":"false"},{"id":"e8e20bd9167fab37","type":"ui-page","name":"File Browser","ui":"cb79bc4520925e32","path":"/filebrowser","icon":"file-document-multiple","layout":"grid","theme":"0d92c765bfad87e6","order":-1,"className":"","visible":"true","disabled":"false"},{"id":"cb79bc4520925e32","type":"ui-base","name":"My UI","path":"/dashboard","includeClientData":true,"acceptsClientConfig":["ui-notification","ui-control"],"showPathInSidebar":false},{"id":"0d92c765bfad87e6","type":"ui-theme","name":"Basic Blue Theme","colors":{"surface":"#4d58ff","primary":"#0094ce","bgPage":"#eeeeee","groupBg":"#ffffff","groupOutline":"#cccccc"},"sizes":{"pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"12px"}}]