db2_dynamic_page.json
[{"id":"5cd9483a40d6000b","type":"ui-event","z":"0e3249ddee2000e3","ui":"cb79bc4520925e32","name":"","x":120,"y":6600,"wires":[["f1a89dac2e804864","2ba075f902f4cd2b"]]},{"id":"f1a89dac2e804864","type":"debug","z":"0e3249ddee2000e3","name":"debug 383","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":310,"y":6560,"wires":[]},{"id":"2ba075f902f4cd2b","type":"function","z":"0e3249ddee2000e3","name":"Query page parameters","func":"let thispage = \"Dynamic Page\";\nlet dynamic = flow.get(\"dynamic\") ?? {};\n\nif (msg.topic === \"$pageview\") {\n    if (msg.payload.page.name === thispage) {\n        if (msg.payload.query.param === undefined) {\n            return [null,{payload: \"Missing parameter in URL\"}];\n        } else {\n            let param = msg.payload.query.param;\n            msg.payload = param;\n            dynamic[param] = msg._client.socketId;\n            flow.set(\"dynamic\", dynamic);\n            return [msg,null];\n        }\n    }\n}\n\n","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":6600,"wires":[["6ed0b6d84a2f398e"],["127aa0456aa51d55"]]},{"id":"6ed0b6d84a2f398e","type":"ui-text","z":"0e3249ddee2000e3","group":"f82c42832bb87911","order":1,"width":0,"height":0,"name":"","label":"Parameter","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#717171","className":"","x":850,"y":6600,"wires":[]},{"id":"127aa0456aa51d55","type":"ui-notification","z":"0e3249ddee2000e3","ui":"cb79bc4520925e32","position":"top center","colorDefault":true,"color":"#000000","displayTime":"60","showCountdown":true,"outputs":1,"allowDismiss":true,"dismissText":"Close","raw":false,"className":"","name":"Errors","x":630,"y":6660,"wires":[[]]},{"id":"9b1a02fdc405c17a","type":"ui-text","z":"0e3249ddee2000e3","group":"f82c42832bb87911","order":2,"width":0,"height":0,"name":"","label":"Value","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#717171","className":"","x":830,"y":6720,"wires":[]},{"id":"5d1dca66f1fc37c4","type":"inject","z":"0e3249ddee2000e3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":6720,"wires":[["dd926c118d24e05e"]]},{"id":"dd926c118d24e05e","type":"function","z":"0e3249ddee2000e3","name":"Number generator","func":"let dynamic = flow.get(\"dynamic\") ?? {};\n\nfor (let i=1; i<5; i++) {\n    let rnd = Math.floor(Math.random()*10);\n    if (dynamic[i] !== undefined) {\n        let mymsg = { topic: \"data\", payload: i * 10 + rnd, _client: { socketId: dynamic[i] }};\n        node.send(mymsg);\n    }\n}\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":6720,"wires":[["9b1a02fdc405c17a","72c8722086833ffd"]]},{"id":"72c8722086833ffd","type":"debug","z":"0e3249ddee2000e3","name":"debug 384","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":600,"y":6780,"wires":[]},{"id":"7107747806f03573","type":"comment","z":"0e3249ddee2000e3","name":"Dynamic Page","info":"","x":120,"y":6520,"wires":[]},{"id":"cb79bc4520925e32","type":"ui-base","name":"My UI","path":"/dashboard","includeClientData":true,"acceptsClientConfig":["ui-notification","ui-control","ui-text"],"showPathInSidebar":false},{"id":"f82c42832bb87911","type":"ui-group","name":"Dynamic Content","page":"4e45eb2489a87f1f","width":"6","height":"1","order":1,"showTitle":true,"className":"","visible":"true","disabled":"false"},{"id":"4e45eb2489a87f1f","type":"ui-page","name":"Dynamic Page","ui":"cb79bc4520925e32","path":"/dynamic","icon":"home","layout":"grid","theme":"0d92c765bfad87e6","order":2,"className":"","visible":true,"disabled":"false"},{"id":"0d92c765bfad87e6","type":"ui-theme","name":"Basic Blue Theme","colors":{"surface":"#4d58ff","primary":"#0094ce","bgPage":"#eeeeee","groupBg":"#ffffff","groupOutline":"#cccccc"},"sizes":{"pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"12px"}}]