ihost_owm.json
[{"id":"125abfc6f257cd66","type":"tab","label":"Weather","disabled":false,"info":"","env":[]},{"id":"7fec486806952e8a","type":"junction","z":"125abfc6f257cd66","x":560,"y":460,"wires":[["0ec985dd3d683995","630215ddd9ed650a","4d6cf8421efb6455","7fbe942d0222685f","9aef67a886aae38c","94249d791f9183e9","48ec737d2ed18d58"]]},{"id":"a1ac725bca88b08c","type":"comment","z":"125abfc6f257cd66","name":"Open Weather Map (OWM)","info":"API call URL:\n\nhttps://api.openweathermap.org/data/3.0/onecall?lat=47.4979&units=metric&lon=19.0402&exclude=hourly,minutely,alerts&appid=<your_api_key>\n\nAPI documentation: https://openweathermap.org/api/one-call-api","x":160,"y":400,"wires":[]},{"id":"34aa442372a1d47e","type":"inject","z":"125abfc6f257cd66","name":"Update","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":false,"onceDelay":"27","topic":"","payload":"","payloadType":"date","x":170,"y":460,"wires":[["f59aec5506ae83cd"]]},{"id":"f59aec5506ae83cd","type":"http request","z":"125abfc6f257cd66","name":"OWM One Call","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.openweathermap.org/data/3.0/onecall?lat=47.4979&units=metric&lon=19.0402&exclude=minutely,alerts&appid=YOUR_API_KEY","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":390,"y":460,"wires":[["7fec486806952e8a"]]},{"id":"49a8a4492c98fc40","type":"inject","z":"125abfc6f257cd66","name":"Example","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"{\"lat\":47.4979,\"lon\":19.0402,\"timezone\":\"Europe/Budapest\",\"timezone_offset\":7200,\"current\":{\"dt\":1696973214,\"sunrise\":1696913665,\"sunset\":1696954033,\"temp\":11.47,\"feels_like\":11.1,\"pressure\":1024,\"humidity\":93,\"dew_point\":10.38,\"uvi\":0,\"clouds\":20,\"visibility\":8000,\"wind_speed\":1.03,\"wind_deg\":0,\"weather\":[{\"id\":741,\"main\":\"Fog\",\"description\":\"fog\",\"icon\":\"50n\"}]},\"hourly\":[{\"dt\":1696971600,\"temp\":11.47,\"feels_like\":11.1,\"pressure\":1024,\"humidity\":93,\"dew_point\":10.38,\"uvi\":0,\"clouds\":20,\"visibility\":10000,\"wind_speed\":1.76,\"wind_deg\":212,\"wind_gust\":3.01,\"weather\":[{\"id\":801,\"main\":\"Clouds\",\"description\":\"few clouds\",\"icon\":\"02n\"}],\"pop\":0},{\"dt\":1696975200,\"temp\":12.21,\"feels_like\":11.78,\"pressure\":1024,\"humidity\":88,\"dew_point\":10.28,\"uvi\":0,\"clouds\":34,\"visibility\":10000,\"wind_speed\":1.65,\"wind_deg\":225,\"wind_gust\":3.12,\"weather\":[{\"id\":802,\"main\":\"Clouds\",\"description\":\"scattered clouds\",\"icon\":\"03n\"}],\"pop\":0},{\"dt\":1696978800,\"temp\":12.87,\"feels_like\":12.38,\"pressure\":1024,\"humidity\":83,\"dew_point\":10.06,\"uvi\":0,\"clouds\":47,\"visibility\":10000,\"wind_speed\":1.43,\"wind_deg\":204,\"wind_gust\":3.05,\"weather\":[{\"id\":802,\"main\":\"Clouds\",\"description\":\"scattered clouds\",\"icon\":\"03n\"}],\"pop\":0},{\"dt\":1696982400,\"temp\":13.53,\"feels_like\":12.98,\"pressure\":1024,\"humidity\":78,\"dew_point\":9.77,\"uvi\":0,\"clouds\":60,\"visibility\":10000,\"wind_speed\":1.18,\"wind_deg\":194,\"wind_gust\":2.32,\"weather\":[{\"id\":803,\"main\":\"Clouds\",\"description\":\"broken clouds\",\"icon\":\"04n\"}],\"pop\":0},{\"dt\":1696986000,\"temp\":13.87,\"feels_like\":13.27,\"pressure\":1023,\"humidity\":75,\"dew_point\":9.52,\"uvi\":0,\"clouds\":29,\"visibility\":10000,\"wind_speed\":1.14,\"wind_deg\":201,\"wind_gust\":1.96,\"weather\":[{\"id\":802,\"main\":\"Clouds\",\"description\":\"scattered clouds\",\"icon\":\"03n\"}],\"pop\":0},{\"dt\":1696989600,\"temp\":14.22,\"feels_like\":13.6,\"pressure\":1023,\"humidity\":73,\"dew_point\":9.36,\"uvi\":0,\"clouds\":22,\"visibility\":10000,\"wind_speed\":0.94,\"wind_deg\":205,\"wind_gust\":1.44,\"weather\":[{\"id\":801,\"main\":\"Clouds\",\"description\":\"few clouds\",\"icon\":\"02n\"}],\"pop\":0},{\"dt\":1696993200,\"temp\":14.09,\"feels_like\":13.54,\"pressure\":1023,\"humidity\":76,\"dew_point\":9.73,\"uvi\":0,\"clouds\":25,\"visibility\":10000,\"wind_speed\":1.12,\"wind_deg\":199,\"wind_gust\":1.51,\"weather\":[{\"id\":802,\"main\":\"Clouds\",\"description\":\"scattered clouds\",\"icon\":\"03n\"}],\"pop\":0},{\"dt\":1696996800,\"temp\":13.96,\"feels_like\":13.47,\"pressure\":1023,\"humidity\":79,\"dew_point\":10.18,\"uvi\":0,\"clouds\":23,\"visibility\":10000,\"wind_speed\":0.98,\"wind_deg\":198,\"wind_gust\":1.35,\"weather\":[{\"id\":801,\"main\":\"Clouds\",\"description\":\"few clouds\",\"icon\":\"02n\"}],\"pop\":0},{\"dt\":1697000400,\"temp\":13.83,\"feels_like\":13.41,\"pressure\":1023,\"humidity\":82,\"dew_point\":10.57,\"uvi\":0,\"clouds\":31,\"visibility\":10000,\"wind_speed\":1.61,\"wind_deg\":181,\"wind_gust\":2.58,\"weather\":[{\"id\":802,\"main\":\"Clouds\",\"description\":\"scattered clouds\",\"icon\":\"03d\"}],\"pop\":0},{\"dt\":1697004000,\"temp\":14.49,\"feels_like\":14.06,\"pressure\":1024,\"humidity\":79,\"dew_point\":10.79,\"uvi\":0.11,\"clouds\":40,\"visibility\":10000,\"wind_speed\":1.08,\"wind_deg\":176,\"wind_gust\":1.73,\"weather\":[{\"id\":802,\"main\":\"Clouds\",\"description\":\"scattered clouds\",\"icon\":\"03d\"}],\"pop\":0},{\"dt\":1697007600,\"temp\":15.58,\"feels_like\":15.1,\"pressure\":1024,\"humidity\":73,\"dew_point\":10.61,\"uvi\":0.58,\"clouds\":30,\"visibility\":10000,\"wind_speed\":1.99,\"wind_deg\":179,\"wind_gust\":3.08,\"weather\":[{\"id\":802,\"main\":\"Clouds\",\"description\":\"scattered clouds\",\"icon\":\"03d\"}],\"pop\":0},{\"dt\":1697011200,\"temp\":17.07,\"feels_like\":16.53,\"pressure\":1024,\"humidity\":65,\"dew_point\":10.35,\"uvi\":1.36,\"clouds\":43,\"visibility\":10000,\"wind_speed\":2.14,\"wind_deg\":181,\"wind_gust\":3.46,\"weather\":[{\"id\":802,\"main\":\"Clouds\",\"description\":\"scattered clouds\",\"icon\":\"03d\"}],\"pop\":0},{\"dt\":1697014800,\"temp\":18.78,\"feels_like\":18.23,\"pressure\":1024,\"humidity\":58,\"dew_point\":10.2,\"uvi\":2.24,\"clouds\":37,\"visibility\":10000,\"wind_speed\":2.41,\"wind_deg\":187,\"wind_gust\":4.09,\"weather\":[{\"id\":802,\"main\":\"Clouds\",\"description\":\"scattered clouds\",\"icon\":\"03d\"}],\"pop\":0},{\"dt\":1697018400,\"temp\":20.63,\"feels_like\":20.08,\"pressure\":1024,\"humidity\":51,\"dew_point\":10.08,\"uvi\":2.89,\"clouds\":37,\"visibility\":10000,\"wind_speed\":3.1,\"wind_deg\":190,\"wind_gust\":4.78,\"weather\":[{\"id\":802,\"main\":\"Clouds\",\"description\":\"scattered clouds\",\"icon\":\"03d\"}],\"pop\":0},{\"dt\":1697022000,\"temp\":22.22,\"feels_like\":21.7,\"pressure\":1023,\"humidity\":46,\"dew_point\":9.97,\"uvi\":3.02,\"clouds\":36,\"visibility\":10000,\"wind_speed\":3.55,\"wind_deg\":193,\"wind_gust\":4.96,\"weather\":[{\"id\":802,\"main\":\"Clouds\",\"description\":\"scattered clouds\",\"icon\":\"03d\"}],\"pop\":0},{\"dt\":1697025600,\"temp\":23.31,\"feels_like\":22.82,\"pressure\":1022,\"humidity\":43,\"dew_point\":9.84,\"uvi\":2.59,\"clouds\":41,\"visibility\":10000,\"wind_speed\":3.79,\"wind_deg\":194,\"wind_gust\":5.08,\"weather\":[{\"id\":802,\"main\":\"Clouds\",\"description\":\"scattered clouds\",\"icon\":\"03d\"}],\"pop\":0},{\"dt\":1697029200,\"temp\":23.83,\"feels_like\":23.34,\"pressure\":1021,\"humidity\":41,\"dew_point\":9.71,\"uvi\":1.78,\"clouds\":48,\"visibility\":10000,\"wind_speed\":3.8,\"wind_deg\":194,\"wind_gust\":5.16,\"weather\":[{\"id\":802,\"main\":\"Clouds\",\"description\":\"scattered clouds\",\"icon\":\"03d\"}],\"pop\":0},{\"dt\":1697032800,\"temp\":24.05,\"feels_like\":23.56,\"pressure\":1021,\"humidity\":40,\"dew_point\":9.72,\"uvi\":0.91,\"clouds\":38,\"visibility\":10000,\"wind_speed\":3.8,\"wind_deg\":190,\"wind_gust\":5.28,\"weather\":[{\"id\":802,\"main\":\"Clouds\",\"description\":\"scattered clouds\",\"icon\":\"03d\"}],\"pop\":0},{\"dt\":1697036400,\"temp\":23.62,\"feels_like\":23.13,\"pressure\":1021,\"humidity\":42,\"dew_point\":9.81,\"uvi\":0.3,\"clouds\":56,\"visibility\":10000,\"wind_speed\":3.25,\"wind_deg\":177,\"wind_gust\":5.59,\"weather\":[{\"id\":803,\"main\":\"Clouds\",\"description\":\"broken clouds\",\"icon\":\"04d\"}],\"pop\":0},{\"dt\":1697040000,\"temp\":22.14,\"feels_like\":21.61,\"pressure\":1020,\"humidity\":46,\"dew_point\":9.86,\"uvi\":0,\"clouds\":66,\"visibility\":10000,\"wind_speed\":3.44,\"wind_deg\":165,\"wind_gust\":7.87,\"weather\":[{\"id\":803,\"main\":\"Clouds\",\"description\":\"broken clouds\",\"icon\":\"04d\"}],\"pop\":0},{\"dt\":1697043600,\"temp\":21.15,\"feels_like\":20.6,\"pressure\":1021,\"humidity\":49,\"dew_point\":9.88,\"uvi\":0,\"clouds\":58,\"visibility\":10000,\"wind_speed\":3.23,\"wind_deg\":170,\"wind_gust\":9.15,\"weather\":[{\"id\":803,\"main\":\"Clouds\",\"description\":\"broken clouds\",\"icon\":\"04n\"}],\"pop\":0},{\"dt\":1697047200,\"temp\":20.2,\"feels_like\":19.63,\"pressure\":1021,\"humidity\":52,\"dew_point\":9.91,\"uvi\":0,\"clouds\":51,\"visibility\":10000,\"wind_speed\":3.17,\"wind_deg\":171,\"wind_gust\":9.77,\"weather\":[{\"id\":803,\"main\":\"Clouds\",\"description\":\"broken clouds\",\"icon\":\"04n\"}],\"pop\":0},{\"dt\":1697050800,\"temp\":19.55,\"feels_like\":18.97,\"pressure\":1021,\"humidity\":54,\"dew_point\":9.84,\"uvi\":0,\"clouds\":42,\"visibility\":10000,\"wind_speed\":3.05,\"wind_deg\":175,\"wind_gust\":10.35,\"weather\":[{\"id\":802,\"main\":\"Clouds\",\"description\":\"scattered clouds\",\"icon\":\"03n\"}],\"pop\":0},{\"dt\":1697054400,\"temp\":18.79,\"feels_like\":18.19,\"pressure\":1021,\"humidity\":56,\"dew_point\":9.74,\"uvi\":0,\"clouds\":30,\"visibility\":10000,\"wind_speed\":2.8,\"wind_deg\":176,\"wind_gust\":10.38,\"weather\":[{\"id\":802,\"main\":\"Clouds\",\"description\":\"scattered clouds\",\"icon\":\"03n\"}],\"pop\":0},{\"dt\":1697058000,\"temp\":18.15,\"feels_like\":17.51,\"pressure\":1021,\"humidity\":57,\"dew_point\":9.44,\"uvi\":0,\"clouds\":25,\"visibility\":10000,\"wind_speed\":2.65,\"wind_deg\":180,\"wind_gust\":9.71,\"weather\":[{\"id\":802,\"main\":\"Clouds\",\"description\":\"scattered clouds\",\"icon\":\"03n\"}],\"pop\":0},{\"dt\":1697061600,\"temp\":17.57,\"feels_like\":16.9,\"pressure\":1021,\"humidity\":58,\"dew_point\":8.97,\"uvi\":0,\"clouds\":23,\"visibility\":10000,\"wind_speed\":2.4,\"wind_deg\":186,\"wind_gust\":9.73,\"weather\":[{\"id\":801,\"main\":\"Clouds\",\"description\":\"few clouds\",\"icon\":\"02n\"}],\"pop\":0},{\"dt\":1697065200,\"temp\":16.99,\"feels_like\":16.26,\"pressure\":1020,\"humidity\":58,\"dew_point\":8.57,\"uvi\":0,\"clouds\":21,\"visibility\":10000,\"wind_speed\":2.14,\"wind_deg\":185,\"wind_gust\":9.53,\"weather\":[{\"id\":801,\"main\":\"Clouds\",\"description\":\"few clouds\",\"icon\":\"02n\"}],\"pop\":0},{\"dt\":1697068800,\"temp\":16.63,\"feels_like\":15.89,\"pressure\":1020,\"humidity\":59,\"dew_point\":8.4,\"uvi\":0,\"clouds\":19,\"visibility\":10000,\"wind_speed\":1.67,\"wind_deg\":183,\"wind_gust\":5.3,\"weather\":[{\"id\":801,\"main\":\"Clouds\",\"description\":\"few clouds\",\"icon\":\"02n\"}],\"pop\":0},{\"dt\":1697072400,\"temp\":16.21,\"feels_like\":15.45,\"pressure\":1020,\"humidity\":60,\"dew_point\":8.32,\"uvi\":0,\"clouds\":48,\"visibility\":10000,\"wind_speed\":1.81,\"wind_deg\":175,\"wind_gust\":5.22,\"weather\":[{\"id\":802,\"main\":\"Clouds\",\"description\":\"scattered clouds\",\"icon\":\"03n\"}],\"pop\":0},{\"dt\":1697076000,\"temp\":15.85,\"feels_like\":15.08,\"pressure\":1019,\"humidity\":61,\"dew_point\":8.11,\"uvi\":0,\"clouds\":39,\"visibility\":10000,\"wind_speed\":1.91,\"wind_deg\":172,\"wind_gust\":5.38,\"weather\":[{\"id\":802,\"main\":\"Clouds\",\"description\":\"scattered clouds\",\"icon\":\"03n\"}],\"pop\":0},{\"dt\":1697079600,\"temp\":15.51,\"feels_like\":14.71,\"pressure\":1020,\"humidity\":61,\"dew_point\":8.01,\"uvi\":0,\"clouds\":35,\"visibility\":10000,\"wind_speed\":1.5,\"wind_deg\":171,\"wind_gust\":3.25,\"weather\":[{\"id\":802,\"main\":\"Clouds\",\"description\":\"scattered clouds\",\"icon\":\"03n\"}],\"pop\":0},{\"dt\":1697083200,\"temp\":15.21,\"feels_like\":14.41,\"pressure\":1019,\"humidity\":62,\"dew_point\":7.8,\"uvi\":0,\"clouds\":28,\"visibility\":10000,\"wind_speed\":1.43,\"wind_deg\":174,\"wind_gust\":2.64,\"weather\":[{\"id\":802,\"main\":\"Clouds\",\"description\":\"scattered clouds\",\"icon\":\"03n\"}],\"pop\":0},{\"dt\":1697086800,\"temp\":14.95,\"feels_like\":14.12,\"pressure\":1019,\"humidity\":62,\"dew_point\":7.73,\"uvi\":0,\"clouds\":25,\"visibility\":10000,\"wind_speed\":1.08,\"wind_deg\":181,\"wind_gust\":1.28,\"weather\":[{\"id\":802,\"main\":\"Clouds\",\"description\":\"scattered clouds\",\"icon\":\"03d\"}],\"pop\":0},{\"dt\":1697090400,\"temp\":15.48,\"feels_like\":14.65,\"pressure\":1020,\"humidity\":60,\"dew_point\":7.6,\"uvi\":0.14,\"clouds\":22,\"visibility\":10000,\"wind_speed\":1.4,\"wind_deg\":178,\"wind_gust\":2.17,\"weather\":[{\"id\":801,\"main\":\"Clouds\",\"description\":\"few clouds\",\"icon\":\"02d\"}],\"pop\":0},{\"dt\":1697094000,\"temp\":16.89,\"feels_like\":16.07,\"pressure\":1020,\"humidity\":55,\"dew_point\":7.64,\"uvi\":0.57,\"clouds\":22,\"visibility\":10000,\"wind_speed\":1.33,\"wind_deg\":195,\"wind_gust\":2.11,\"weather\":[{\"id\":801,\"main\":\"Clouds\",\"description\":\"few clouds\",\"icon\":\"02d\"}],\"pop\":0},{\"dt\":1697097600,\"temp\":18.5,\"feels_like\":17.71,\"pressure\":1020,\"humidity\":50,\"dew_point\":7.82,\"uvi\":1.36,\"clouds\":21,\"visibility\":10000,\"wind_speed\":1.48,\"wind_deg\":197,\"wind_gust\":2.48,\"weather\":[{\"id\":801,\"main\":\"Clouds\",\"description\":\"few clouds\",\"icon\":\"02d\"}],\"pop\":0},{\"dt\":1697101200,\"temp\":20.28,\"feels_like\":19.56,\"pressure\":1020,\"humidity\":46,\"dew_point\":8.27,\"uvi\":2.25,\"clouds\":18,\"visibility\":10000,\"wind_speed\":1.83,\"wind_deg\":202,\"wind_gust\":2.92,\"weather\":[{\"id\":801,\"main\":\"Clouds\",\"description\":\"few clouds\",\"icon\":\"02d\"}],\"pop\":0},{\"dt\":1697104800,\"temp\":21.74,\"feels_like\":21.12,\"pressure\":1020,\"humidity\":44,\"dew_point\":8.82,\"uvi\":2.48,\"clouds\":37,\"visibility\":10000,\"wind_speed\":1.68,\"wind_deg\":219,\"wind_gust\":3.21,\"weather\":[{\"id\":802,\"main\":\"Clouds\",\"description\":\"scattered clouds\",\"icon\":\"03d\"}],\"pop\":0},{\"dt\":1697108400,\"temp\":23.16,\"feels_like\":22.6,\"pressure\":1019,\"humidity\":41,\"dew_point\":9.24,\"uvi\":2.6,\"clouds\":50,\"visibility\":10000,\"wind_speed\":1.99,\"wind_deg\":238,\"wind_gust\":3.37,\"weather\":[{\"id\":802,\"main\":\"Clouds\",\"description\":\"scattered clouds\",\"icon\":\"03d\"}],\"pop\":0},{\"dt\":1697112000,\"temp\":24.28,\"feels_like\":23.78,\"pressure\":1018,\"humidity\":39,\"dew_point\":9.38,\"uvi\":2.22,\"clouds\":58,\"visibility\":10000,\"wind_speed\":1.95,\"wind_deg\":244,\"wind_gust\":3.36,\"weather\":[{\"id\":803,\"main\":\"Clouds\",\"description\":\"broken clouds\",\"icon\":\"04d\"}],\"pop\":0},{\"dt\":1697115600,\"temp\":25.08,\"feels_like\":24.61,\"pressure\":1018,\"humidity\":37,\"dew_point\":9.3,\"uvi\":1.66,\"clouds\":100,\"visibility\":10000,\"wind_speed\":2.1,\"wind_deg\":246,\"wind_gust\":3.35,\"weather\":[{\"id\":804,\"main\":\"Clouds\",\"description\":\"overcast clouds\",\"icon\":\"04d\"}],\"pop\":0},{\"dt\":1697119200,\"temp\":25.4,\"feels_like\":24.94,\"pressure\":1017,\"humidity\":36,\"dew_point\":9.21,\"uvi\":0.84,\"clouds\":98,\"visibility\":10000,\"wind_speed\":1.74,\"wind_deg\":245,\"wind_gust\":3.64,\"weather\":[{\"id\":804,\"main\":\"Clouds\",\"description\":\"overcast clouds\",\"icon\":\"04d\"}],\"pop\":0},{\"dt\":1697122800,\"temp\":24.53,\"feels_like\":24.03,\"pressure\":1017,\"humidity\":38,\"dew_point\":9.36,\"uvi\":0.27,\"clouds\":86,\"visibility\":10000,\"wind_speed\":1.33,\"wind_deg\":284,\"wind_gust\":1.29,\"weather\":[{\"id\":804,\"main\":\"Clouds\",\"description\":\"overcast clouds\",\"icon\":\"04d\"}],\"pop\":0},{\"dt\":1697126400,\"temp\":22.92,\"feels_like\":22.39,\"pressure\":1018,\"humidity\":43,\"dew_point\":9.58,\"uvi\":0,\"clouds\":88,\"visibility\":10000,\"wind_speed\":1.54,\"wind_deg\":321,\"wind_gust\":1.62,\"weather\":[{\"id\":804,\"main\":\"Clouds\",\"description\":\"overcast clouds\",\"icon\":\"04d\"}],\"pop\":0},{\"dt\":1697130000,\"temp\":22.08,\"feels_like\":21.54,\"pressure\":1018,\"humidity\":46,\"dew_point\":9.78,\"uvi\":0,\"clouds\":90,\"visibility\":10000,\"wind_speed\":0.82,\"wind_deg\":324,\"wind_gust\":0.8,\"weather\":[{\"id\":804,\"main\":\"Clouds\",\"description\":\"overcast clouds\",\"icon\":\"04n\"}],\"pop\":0},{\"dt\":1697133600,\"temp\":21.75,\"feels_like\":21.21,\"pressure\":1018,\"humidity\":47,\"dew_point\":9.81,\"uvi\":0,\"clouds\":91,\"visibility\":10000,\"wind_speed\":0.48,\"wind_deg\":271,\"wind_gust\":0.51,\"weather\":[{\"id\":804,\"main\":\"Clouds\",\"description\":\"overcast clouds\",\"icon\":\"04n\"}],\"pop\":0},{\"dt\":1697137200,\"temp\":21.27,\"feels_like\":20.71,\"pressure\":1019,\"humidity\":48,\"dew_point\":9.67,\"uvi\":0,\"clouds\":100,\"visibility\":10000,\"wind_speed\":1.2,\"wind_deg\":263,\"wind_gust\":1.27,\"weather\":[{\"id\":804,\"main\":\"Clouds\",\"description\":\"overcast clouds\",\"icon\":\"04n\"}],\"pop\":0},{\"dt\":1697140800,\"temp\":20.86,\"feels_like\":20.28,\"pressure\":1019,\"humidity\":49,\"dew_point\":9.71,\"uvi\":0,\"clouds\":100,\"visibility\":10000,\"wind_speed\":1.94,\"wind_deg\":277,\"wind_gust\":2.46,\"weather\":[{\"id\":804,\"main\":\"Clouds\",\"description\":\"overcast clouds\",\"icon\":\"04n\"}],\"pop\":0}],\"daily\":[{\"dt\":1696932000,\"sunrise\":1696913665,\"sunset\":1696954033,\"moonrise\":1696896060,\"moonset\":1696949700,\"moon_phase\":0.87,\"summary\":\"Expect a day of partly cloudy with rain\",\"temp\":{\"day\":16.25,\"min\":11.47,\"max\":18.7,\"night\":11.47,\"eve\":17.71,\"morn\":13.35},\"feels_like\":{\"day\":15.47,\"night\":11.1,\"eve\":17.16,\"morn\":12.93},\"pressure\":1022,\"humidity\":59,\"dew_point\":8.06,\"wind_speed\":2.55,\"wind_deg\":328,\"wind_gust\":9.98,\"weather\":[{\"id\":500,\"main\":\"Rain\",\"description\":\"light rain\",\"icon\":\"10d\"}],\"clouds\":100,\"pop\":0.25,\"rain\":0.25,\"uvi\":2.31},{\"dt\":1697018400,\"sunrise\":1697000149,\"sunset\":1697040316,\"moonrise\":1696986540,\"moonset\":1697037060,\"moon_phase\":0.9,\"summary\":\"There will be partly cloudy today\",\"temp\":{\"day\":20.63,\"min\":12.21,\"max\":24.05,\"night\":18.15,\"eve\":22.14,\"morn\":13.96},\"feels_like\":{\"day\":20.08,\"night\":17.51,\"eve\":21.61,\"morn\":13.47},\"pressure\":1024,\"humidity\":51,\"dew_point\":10.08,\"wind_speed\":3.8,\"wind_deg\":194,\"wind_gust\":10.38,\"weather\":[{\"id\":802,\"main\":\"Clouds\",\"description\":\"scattered clouds\",\"icon\":\"03d\"}],\"clouds\":37,\"pop\":0,\"uvi\":3.02},{\"dt\":1697104800,\"sunrise\":1697086634,\"sunset\":1697126599,\"moonrise\":1697076900,\"moonset\":1697124300,\"moon_phase\":0.93,\"summary\":\"There will be partly cloudy today\",\"temp\":{\"day\":21.74,\"min\":14.95,\"max\":25.4,\"night\":20.23,\"eve\":22.92,\"morn\":15.21},\"feels_like\":{\"day\":21.12,\"night\":19.64,\"eve\":22.39,\"morn\":14.41},\"pressure\":1020,\"humidity\":44,\"dew_point\":8.82,\"wind_speed\":2.46,\"wind_deg\":327,\"wind_gust\":9.73,\"weather\":[{\"id\":802,\"main\":\"Clouds\",\"description\":\"scattered clouds\",\"icon\":\"03d\"}],\"clouds\":37,\"pop\":0,\"uvi\":2.6},{\"dt\":1697191200,\"sunrise\":1697173119,\"sunset\":1697212884,\"moonrise\":1697167320,\"moonset\":1697211540,\"moon_phase\":0.96,\"summary\":\"There will be partly cloudy today\",\"temp\":{\"day\":22.77,\"min\":17.16,\"max\":25.89,\"night\":20.08,\"eve\":23.45,\"morn\":17.37},\"feels_like\":{\"day\":22.23,\"night\":19.55,\"eve\":23,\"morn\":16.83},\"pressure\":1020,\"humidity\":43,\"dew_point\":9.45,\"wind_speed\":3.21,\"wind_deg\":209,\"wind_gust\":8.64,\"weather\":[{\"id\":804,\"main\":\"Clouds\",\"description\":\"overcast clouds\",\"icon\":\"04d\"}],\"clouds\":97,\"pop\":0,\"uvi\":2.78},{\"dt\":1697277600,\"sunrise\":1697259605,\"sunset\":1697299169,\"moonrise\":1697257740,\"moonset\":1697298780,\"moon_phase\":0,\"summary\":\"The day will start with partly cloudy through the late morning hours, transitioning to clearing\",\"temp\":{\"day\":22.71,\"min\":17.66,\"max\":25.08,\"night\":20.02,\"eve\":25.08,\"morn\":17.66},\"feels_like\":{\"day\":22.19,\"night\":19.46,\"eve\":24.64,\"morn\":17.23},\"pressure\":1012,\"humidity\":44,\"dew_point\":9.82,\"wind_speed\":5.95,\"wind_deg\":230,\"wind_gust\":10.48,\"weather\":[{\"id\":800,\"main\":\"Clear\",\"description\":\"clear sky\",\"icon\":\"01d\"}],\"clouds\":4,\"pop\":0,\"uvi\":2.77},{\"dt\":1697364000,\"sunrise\":1697346091,\"sunset\":1697385455,\"moonrise\":1697348340,\"moonset\":1697386140,\"moon_phase\":0.02,\"summary\":\"Expect a day of partly cloudy with rain\",\"temp\":{\"day\":11.73,\"min\":10.64,\"max\":17.27,\"night\":10.64,\"eve\":11.65,\"morn\":14.58},\"feels_like\":{\"day\":10.26,\"night\":8.67,\"eve\":9.86,\"morn\":13.97},\"pressure\":1013,\"humidity\":50,\"dew_point\":1.65,\"wind_speed\":7.14,\"wind_deg\":313,\"wind_gust\":13.89,\"weather\":[{\"id\":500,\"main\":\"Rain\",\"description\":\"light rain\",\"icon\":\"10d\"}],\"clouds\":100,\"pop\":1,\"rain\":0.79,\"uvi\":1.29},{\"dt\":1697450400,\"sunrise\":1697432578,\"sunset\":1697471742,\"moonrise\":1697439060,\"moonset\":1697473680,\"moon_phase\":0.05,\"summary\":\"Expect a day of partly cloudy with clear spells\",\"temp\":{\"day\":9.73,\"min\":7.51,\"max\":11.46,\"night\":8.49,\"eve\":10.73,\"morn\":8.14},\"feels_like\":{\"day\":6.85,\"night\":8.49,\"eve\":8.85,\"morn\":5.81},\"pressure\":1020,\"humidity\":43,\"dew_point\":-2.3,\"wind_speed\":6.14,\"wind_deg\":311,\"wind_gust\":11.63,\"weather\":[{\"id\":800,\"main\":\"Clear\",\"description\":\"clear sky\",\"icon\":\"01d\"}],\"clouds\":8,\"pop\":0,\"uvi\":2},{\"dt\":1697536800,\"sunrise\":1697519064,\"sunset\":1697558030,\"moonrise\":1697529900,\"moonset\":1697561580,\"moon_phase\":0.09,\"summary\":\"There will be partly cloudy today\",\"temp\":{\"day\":9.43,\"min\":6.97,\"max\":12.19,\"night\":10.5,\"eve\":12.19,\"morn\":7.06},\"feels_like\":{\"day\":7.71,\"night\":8.6,\"eve\":10.3,\"morn\":4.96},\"pressure\":1023,\"humidity\":46,\"dew_point\":-1.73,\"wind_speed\":3.66,\"wind_deg\":81,\"wind_gust\":5.74,\"weather\":[{\"id\":804,\"main\":\"Clouds\",\"description\":\"overcast clouds\",\"icon\":\"04d\"}],\"clouds\":100,\"pop\":0,\"uvi\":2}]}","payloadType":"json","x":410,"y":520,"wires":[["7fec486806952e8a"]]},{"id":"071ea829f5842eb0","type":"comment","z":"125abfc6f257cd66","name":"Create new virtual devices","info":"","x":150,"y":40,"wires":[]},{"id":"41319b5ca594c861","type":"inject","z":"125abfc6f257cd66","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":100,"wires":[["f150fa244b740145","16ccc821b585ee96","e1a8a91c4154d23a","088f54e8d8ff092e","1851fea5dfa0b53e","639cb6a31ee4e60a"]]},{"id":"f150fa244b740145","type":"register-device","z":"125abfc6f257cd66","name":"Today Max Temperature","server":"3bd64653f454c56c","device_id":"335b1f32-67b4-11ee-8c99-0242ac120002","device_name":"Today Max Temperature","category":"temperatureSensor","capabilities":"{\"toggleNum\":\"1\",\"values\":[\"temperature\"]}","manufacturer":"NR","model":"Temp1","firmware_version":"1.0.0","service_address":" 192.168.1.109","tags":"{\"temperature_unit\":\"c\"}","state":"{\"temperature\":{\"temperature\":\"0\"}}","x":430,"y":100,"wires":[[]]},{"id":"0ec985dd3d683995","type":"change","z":"125abfc6f257cd66","name":"Get Max Temp Today","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"temperature\": { \"temperature\" : msg.payload.daily[0].temp.max }}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":460,"wires":[["8dc751ae3327a683"]]},{"id":"8dc751ae3327a683","type":"put-device-state","z":"125abfc6f257cd66","name":"Set Max Temp Today","server":"3bd64653f454c56c","category":"temperatureSensor","device":"66f1d6ef-00c2-4e3c-87ae-2f38844f1ea7","state":"","number":"335b1f32-67b4-11ee-8c99-0242ac120002","x":1040,"y":460,"wires":[[]]},{"id":"16ccc821b585ee96","type":"register-device","z":"125abfc6f257cd66","name":"Today Min Temperature","server":"3bd64653f454c56c","device_id":"0148a036-67b5-11ee-8c99-0242ac120002","device_name":"Today Min Temperature","category":"temperatureSensor","capabilities":"{\"toggleNum\":\"1\",\"values\":[\"temperature\"]}","manufacturer":"NR","model":"Temp2","firmware_version":"1.0.0","service_address":" 192.168.1.109","tags":"{\"temperature_unit\":\"c\"}","state":"{\"temperature\":{\"temperature\":\"0\"}}","x":430,"y":140,"wires":[[]]},{"id":"7fbe942d0222685f","type":"change","z":"125abfc6f257cd66","name":"Get Min Temp Today","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"temperature\": { \"temperature\" : msg.payload.daily[0].temp.min }}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":500,"wires":[["3389d01955fd1a34"]]},{"id":"3389d01955fd1a34","type":"put-device-state","z":"125abfc6f257cd66","name":"Set Min Temp Today","server":"3bd64653f454c56c","category":"temperatureSensor","device":"fa452ea4-619a-4afa-a439-b957d9f846fe","state":"","number":"0148a036-67b5-11ee-8c99-0242ac120002","x":1040,"y":500,"wires":[[]]},{"id":"630215ddd9ed650a","type":"debug","z":"125abfc6f257cd66","name":"debug 10","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":420,"wires":[]},{"id":"4d6cf8421efb6455","type":"change","z":"125abfc6f257cd66","name":"Get Chance of rain Tomorrow","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"humidity\": { \"humidity\" : msg.payload.daily[1].pop *100 }}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":540,"wires":[["53dacd3239b2d9ef"]]},{"id":"e1a8a91c4154d23a","type":"register-device","z":"125abfc6f257cd66","name":"Tomorrow Chance of Rain","server":"3bd64653f454c56c","device_id":"516c9482-67b5-11ee-8c99-0242ac120002","device_name":"Tomorrow Chance of Rain","category":"humiditySensor","capabilities":"{\"toggleNum\":\"1\",\"values\":[\"humidity\"]}","manufacturer":"NR","model":"Temp3","firmware_version":"1.0.0","service_address":" 192.168.1.109","tags":"{}","state":"{\"humidity\":{\"humidity\":\"0\"}}","x":430,"y":180,"wires":[[]]},{"id":"53dacd3239b2d9ef","type":"put-device-state","z":"125abfc6f257cd66","name":"Set Change of Rain Tomorrow","server":"3bd64653f454c56c","category":"humiditySensor","device":"5958fc34-85f4-43da-b415-5d482dc48f9a","state":"","number":"516c9482-67b5-11ee-8c99-0242ac120002","x":1070,"y":540,"wires":[[]]},{"id":"088f54e8d8ff092e","type":"register-device","z":"125abfc6f257cd66","name":"Feels Like Temperature","server":"3bd64653f454c56c","device_id":"2e28f3de-5307-419a-a91d-a0a8b62b720b","device_name":"Feels Like Temperature","category":"temperatureSensor","capabilities":"{\"toggleNum\":\"1\",\"values\":[\"temperature\"]}","manufacturer":"NR","model":"Temp1","firmware_version":"1.0.0","service_address":" 192.168.1.109","tags":"{\"temperature_unit\":\"c\"}","state":"{\"temperature\":{\"temperature\":\"0\"}}","x":430,"y":220,"wires":[[]]},{"id":"9aef67a886aae38c","type":"change","z":"125abfc6f257cd66","name":"Get Feels Like temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"temperature\": { \"temperature\" : msg.payload.current.feels_like }}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":580,"wires":[["4e06879501dbed2b"]]},{"id":"1851fea5dfa0b53e","type":"register-device","z":"125abfc6f257cd66","name":"Outside Temp & Humidity","server":"3bd64653f454c56c","device_id":"5fb4dda9-e7dd-4887-9919-b0a60d48ae52","device_name":"Outside Temp & Humidity","category":"temperatureAndHumiditySensor","capabilities":"{\"toggleNum\":\"1\",\"values\":[\"temperature\",\"humidity\"]}","manufacturer":"NR","model":"Temp2","firmware_version":"1.0.0","service_address":" 192.168.1.109","tags":"{\"temperature_unit\":\"c\"}","state":"{\"temperature\":{\"temperature\":\"0\"},\"humidity\":{\"humidity\":\"0\"}}","x":430,"y":260,"wires":[[]]},{"id":"4e06879501dbed2b","type":"put-device-state","z":"125abfc6f257cd66","name":"Set Feels Like","server":"3bd64653f454c56c","category":"temperatureSensor","device":"752b4e91-3622-4739-81b1-b2effa581764","state":"","number":"2e28f3de-5307-419a-a91d-a0a8b62b720b","x":1020,"y":580,"wires":[[]]},{"id":"94249d791f9183e9","type":"change","z":"125abfc6f257cd66","name":"Get Outside Temp & Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"temperature\": { \"temperature\" : msg.payload.current.temp }, \"humidity\": {\"humidity\": msg.payload.current.humidity}}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":620,"wires":[["29e55bc7680c875a"]]},{"id":"29e55bc7680c875a","type":"put-device-state","z":"125abfc6f257cd66","name":"Set Outside Temp & Humidity","server":"3bd64653f454c56c","category":"temperatureAndHumiditySensor","device":"fbea6615-49b1-46fd-8968-8254513aa08d","state":"","number":"5fb4dda9-e7dd-4887-9919-b0a60d48ae52","x":1060,"y":620,"wires":[[]]},{"id":"639cb6a31ee4e60a","type":"register-device","z":"125abfc6f257cd66","name":"Windspeed","server":"3bd64653f454c56c","device_id":"296a2c78-67c9-457f-965e-e9297844913a","device_name":"Windspeed","category":"humiditySensor","capabilities":"{\"toggleNum\":\"1\",\"values\":[\"humidity\"]}","manufacturer":"NR","model":"Temp4","firmware_version":"1.0.0","service_address":" 192.168.1.109","tags":"{}","state":"{\"humidity\":{\"humidity\":\"0\"}}","x":390,"y":300,"wires":[[]]},{"id":"48ec737d2ed18d58","type":"change","z":"125abfc6f257cd66","name":"Get Windspeed","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"humidity\": { \"humidity\" : $floor(msg.payload.current.wind_speed) }}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":660,"wires":[["504cd90208f5088b"]]},{"id":"504cd90208f5088b","type":"put-device-state","z":"125abfc6f257cd66","name":"Set Windspeed","server":"3bd64653f454c56c","category":"humiditySensor","device":"76209a19-4c8a-4cbd-b388-511fca0ab46a","state":"","number":"296a2c78-67c9-457f-965e-e9297844913a","x":1020,"y":660,"wires":[[]]},{"id":"3bd64653f454c56c","type":"api-server","name":"iHost","ip":" 192.168.1.109","ipaddr":"","token":"c406e727-28f0-45bb-bbae-7346c4d94754"}]