iHost_sunset_trigger.json
[
    {
        "id": "96db8e1c39852f83",
        "type": "bigtimer",
        "z": "f6f2187d.f17ca8",
        "outtopic": "",
        "outpayload1": "On",
        "outpayload2": "Off",
        "name": "Night Timer",
        "comment": "",
        "lat": "47.49",
        "lon": "19.04",
        "starttime": "5004",
        "endtime": "5003",
        "starttime2": 0,
        "endtime2": 0,
        "startoff": 0,
        "endoff": 0,
        "startoff2": 0,
        "endoff2": 0,
        "offs": 0,
        "outtext1": "",
        "outtext2": "",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "day7": 0,
        "month7": 0,
        "day8": 0,
        "month8": 0,
        "day9": 0,
        "month9": 0,
        "day10": 0,
        "month10": 0,
        "day11": 0,
        "month11": 0,
        "day12": 0,
        "month12": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xday7": 0,
        "xmonth7": 0,
        "xday8": 0,
        "xmonth8": 0,
        "xday9": 0,
        "xmonth9": 0,
        "xday10": 0,
        "xmonth10": 0,
        "xday11": 0,
        "xmonth11": 0,
        "xday12": 0,
        "xmonth12": 0,
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "randon1": false,
        "randoff1": false,
        "randon2": false,
        "randoff2": false,
        "repeat": true,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 430,
        "y": 240,
        "wires": [
            [
                "24f931f449ac9e52"
            ],
            [],
            []
        ]
    },
    {
        "id": "36cdd0bcfe5ee760",
        "type": "register-device",
        "z": "f6f2187d.f17ca8",
        "name": "Night Light Trigger",
        "server": "3bd64653f454c56c",
        "device_id": "6d105d54-2fde-11ee-be56-0242ac120002",
        "device_name": "Night Light Trigger",
        "category": "switch",
        "capabilities": "{\"toggleNum\":\"1\",\"values\":[\"power\"]}",
        "manufacturer": "NodeRed",
        "model": "C1",
        "firmware_version": "1.0.0",
        "service_address": "192.168.1.109",
        "tags": "{}",
        "state": "{}",
        "x": 510,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "37e002845c474ad9",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "On",
        "payloadType": "str",
        "x": 610,
        "y": 180,
        "wires": [
            [
                "277f3b4d90913bb4"
            ]
        ]
    },
    {
        "id": "a850e45172ed38f9",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Off",
        "payloadType": "str",
        "x": 610,
        "y": 300,
        "wires": [
            [
                "7a1b9783848433b1"
            ]
        ]
    },
    {
        "id": "f0e407c83d011c21",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "Initialize",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 60,
        "wires": [
            [
                "36cdd0bcfe5ee760"
            ]
        ]
    },
    {
        "id": "24f931f449ac9e52",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "On",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 610,
        "y": 240,
        "wires": [
            [
                "277f3b4d90913bb4"
            ],
            [
                "7a1b9783848433b1"
            ]
        ]
    },
    {
        "id": "a852ee39ce5ef825",
        "type": "register-device",
        "z": "f6f2187d.f17ca8",
        "name": "Night Lights Enabled",
        "server": "3bd64653f454c56c",
        "device_id": "a9134382-2fdb-11ee-be56-0242ac120002",
        "device_name": "Night Lights Enabled",
        "category": "switch",
        "capabilities": "{\"toggleNum\":\"1\",\"values\":[\"power\"]}",
        "manufacturer": "NodeRed",
        "model": "C2",
        "firmware_version": "1.0.0",
        "service_address": "192.168.1.109",
        "tags": "{}",
        "state": "{}",
        "x": 520,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "f1e3dfb71d1ad2cc",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "Initialize",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 100,
        "wires": [
            [
                "a852ee39ce5ef825"
            ]
        ]
    },
    {
        "id": "277f3b4d90913bb4",
        "type": "control-device",
        "z": "f6f2187d.f17ca8",
        "name": "Night Lights On",
        "server": "3bd64653f454c56c",
        "list": "{\"type\":\"single\",\"single\":\"on\",\"deviceId\":\"9b45ff81-7fa9-491b-a3a2-6af70f00a535\"}",
        "category": "switch",
        "device": "9b45ff81-7fa9-491b-a3a2-6af70f00a535",
        "action": "",
        "x": 800,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "7a1b9783848433b1",
        "type": "control-device",
        "z": "f6f2187d.f17ca8",
        "name": "Night Lights Off",
        "server": "3bd64653f454c56c",
        "list": "{\"type\":\"single\",\"single\":\"off\",\"deviceId\":\"9b45ff81-7fa9-491b-a3a2-6af70f00a535\"}",
        "category": "switch",
        "device": "9b45ff81-7fa9-491b-a3a2-6af70f00a535",
        "action": "",
        "x": 800,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "8b43395a67d5855f",
        "type": "event-state",
        "z": "f6f2187d.f17ca8",
        "name": "Enabler",
        "server": "3bd64653f454c56c",
        "list": "",
        "category": "",
        "device": "32998458-e806-4371-ab1f-2521b11a421c",
        "state": "power",
        "x": 110,
        "y": 420,
        "wires": [
            [
                "9c07cbf7d4d6ac5f"
            ]
        ]
    },
    {
        "id": "9c07cbf7d4d6ac5f",
        "type": "json",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 250,
        "y": 420,
        "wires": [
            [
                "e35b6a5736b0b305"
            ]
        ]
    },
    {
        "id": "e35b6a5736b0b305",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "State",
        "property": "payload.payload.power.powerState",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 420,
        "wires": [
            [
                "e859ec2213f1a65c"
            ],
            [
                "b7d87d6bcfc8d2b2"
            ]
        ]
    },
    {
        "id": "e859ec2213f1a65c",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "auto",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "auto",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 400,
        "wires": [
            [
                "96db8e1c39852f83"
            ]
        ]
    },
    {
        "id": "b7d87d6bcfc8d2b2",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "stop",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 440,
        "wires": [
            [
                "96db8e1c39852f83"
            ]
        ]
    },
    {
        "id": "3bd64653f454c56c",
        "type": "api-server",
        "name": "iHost",
        "ip": " 192.168.1.109",
        "token": "c63f92a1-ba08-4084-88bf-2a39a77e68f4"
    }
]