NR_tutorial_messages.json
[
    {
        "id": "65f8283cba0e30d2",
        "type": "tab",
        "label": "Messages",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4b797e8177c68c6d",
        "type": "inject",
        "z": "65f8283cba0e30d2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "test",
                "v": "Hello World!",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "my topic",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "67368cd7ea2bca2e"
            ]
        ]
    },
    {
        "id": "bba15eadb380c6dd",
        "type": "comment",
        "z": "65f8283cba0e30d2",
        "name": "Basics",
        "info": "",
        "x": 70,
        "y": 40,
        "wires": []
    },
    {
        "id": "67368cd7ea2bca2e",
        "type": "debug",
        "z": "65f8283cba0e30d2",
        "name": "debug 38",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 100,
        "wires": []
    },
    {
        "id": "7f59f2d06c66ba2c",
        "type": "inject",
        "z": "65f8283cba0e30d2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "d9a42415412d9a3c",
                "35a0c4aec682a9cb"
            ]
        ]
    },
    {
        "id": "d9a42415412d9a3c",
        "type": "debug",
        "z": "65f8283cba0e30d2",
        "name": "debug 39",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 200,
        "wires": []
    },
    {
        "id": "35a0c4aec682a9cb",
        "type": "delay",
        "z": "65f8283cba0e30d2",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 380,
        "y": 240,
        "wires": [
            [
                "d9a42415412d9a3c"
            ]
        ]
    },
    {
        "id": "dedee23b1b318bdf",
        "type": "comment",
        "z": "65f8283cba0e30d2",
        "name": "Split-Join",
        "info": "",
        "x": 80,
        "y": 300,
        "wires": []
    },
    {
        "id": "4ead22a99ac128b2",
        "type": "split",
        "z": "65f8283cba0e30d2",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 330,
        "y": 360,
        "wires": [
            [
                "8d8bd2fb1608e98e",
                "3b2d66fd1260434b"
            ]
        ]
    },
    {
        "id": "c5e532e73e83ad6b",
        "type": "join",
        "z": "65f8283cba0e30d2",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 830,
        "y": 360,
        "wires": [
            [
                "9f04261bf78bda7d"
            ]
        ]
    },
    {
        "id": "6b757404657c7f76",
        "type": "inject",
        "z": "65f8283cba0e30d2",
        "name": "Array",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"op1\":10,\"op2\":20},{\"op1\":5,\"op2\":3},{\"op1\":4,\"op2\":75}]",
        "payloadType": "json",
        "x": 130,
        "y": 360,
        "wires": [
            [
                "4ead22a99ac128b2"
            ]
        ]
    },
    {
        "id": "8d8bd2fb1608e98e",
        "type": "debug",
        "z": "65f8283cba0e30d2",
        "name": "debug 40",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 420,
        "wires": []
    },
    {
        "id": "3b2d66fd1260434b",
        "type": "change",
        "z": "65f8283cba0e30d2",
        "name": "Calc Sum",
        "rules": [
            {
                "t": "set",
                "p": "payload.sum",
                "pt": "msg",
                "to": "msg.payload.op1+msg.payload.op2",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 360,
        "wires": [
            [
                "e9a6b7162f9315ba"
            ]
        ]
    },
    {
        "id": "9f04261bf78bda7d",
        "type": "debug",
        "z": "65f8283cba0e30d2",
        "name": "debug 41",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 360,
        "wires": []
    },
    {
        "id": "e9a6b7162f9315ba",
        "type": "change",
        "z": "65f8283cba0e30d2",
        "name": "Calc Product",
        "rules": [
            {
                "t": "set",
                "p": "payload.product",
                "pt": "msg",
                "to": "msg.payload.op1*msg.payload.op2",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 360,
        "wires": [
            [
                "c5e532e73e83ad6b"
            ]
        ]
    },
    {
        "id": "71462f03435d0353",
        "type": "inject",
        "z": "65f8283cba0e30d2",
        "name": "Object",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"temperature\":25,\"humidity\":60}",
        "payloadType": "json",
        "x": 130,
        "y": 520,
        "wires": [
            [
                "8d4d95938adf2498"
            ]
        ]
    },
    {
        "id": "8d4d95938adf2498",
        "type": "split",
        "z": "65f8283cba0e30d2",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 330,
        "y": 520,
        "wires": [
            [
                "327a4eb08dcbd6fb",
                "5e0cdd868926990c"
            ]
        ]
    },
    {
        "id": "327a4eb08dcbd6fb",
        "type": "debug",
        "z": "65f8283cba0e30d2",
        "name": "debug 42",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 580,
        "wires": []
    },
    {
        "id": "5e0cdd868926990c",
        "type": "switch",
        "z": "65f8283cba0e30d2",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "temperature",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "humidity",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 530,
        "y": 520,
        "wires": [
            [
                "b2619dde68511dd8"
            ],
            [
                "01629c4d3406d466"
            ]
        ]
    },
    {
        "id": "b2619dde68511dd8",
        "type": "debug",
        "z": "65f8283cba0e30d2",
        "name": "debug 43",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 500,
        "wires": []
    },
    {
        "id": "01629c4d3406d466",
        "type": "debug",
        "z": "65f8283cba0e30d2",
        "name": "debug 44",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 540,
        "wires": []
    },
    {
        "id": "bf07d5ae2faf533b",
        "type": "comment",
        "z": "65f8283cba0e30d2",
        "name": "msg object",
        "info": "",
        "x": 80,
        "y": 640,
        "wires": []
    },
    {
        "id": "ef469dec5a242bf6",
        "type": "inject",
        "z": "65f8283cba0e30d2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "test2.json",
        "payloadType": "str",
        "x": 140,
        "y": 720,
        "wires": [
            [
                "bca8405036bd6ce2"
            ]
        ]
    },
    {
        "id": "bca8405036bd6ce2",
        "type": "change",
        "z": "65f8283cba0e30d2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "newfilename",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 720,
        "wires": [
            [
                "43af9481ea9d5cb7"
            ]
        ]
    },
    {
        "id": "43af9481ea9d5cb7",
        "type": "file in",
        "z": "65f8283cba0e30d2",
        "name": "",
        "filename": "/home/nygma/miflora.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 630,
        "y": 720,
        "wires": [
            [
                "b3447c161c7f9d97"
            ]
        ]
    },
    {
        "id": "b3447c161c7f9d97",
        "type": "debug",
        "z": "65f8283cba0e30d2",
        "name": "debug 45",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 720,
        "wires": []
    },
    {
        "id": "9e188baf58ec230c",
        "type": "comment",
        "z": "65f8283cba0e30d2",
        "name": "Function node",
        "info": "",
        "x": 90,
        "y": 800,
        "wires": []
    },
    {
        "id": "5ba62e471f968a06",
        "type": "function",
        "z": "65f8283cba0e30d2",
        "name": "Empty function",
        "func": "let mydata = {\"test\": 12};\nreturn mydata;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 860,
        "wires": [
            [
                "e28a1fbcf29ac778"
            ]
        ]
    },
    {
        "id": "8ef9f512c33faf9e",
        "type": "inject",
        "z": "65f8283cba0e30d2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 860,
        "wires": [
            [
                "5ba62e471f968a06"
            ]
        ]
    },
    {
        "id": "e28a1fbcf29ac778",
        "type": "debug",
        "z": "65f8283cba0e30d2",
        "name": "debug 46",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 860,
        "wires": []
    },
    {
        "id": "46c04ebb6c297c70",
        "type": "inject",
        "z": "65f8283cba0e30d2",
        "name": "New data",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "newdata",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 940,
        "wires": [
            [
                "841f618a6b3ba779"
            ]
        ]
    },
    {
        "id": "af4bd59955748f89",
        "type": "inject",
        "z": "65f8283cba0e30d2",
        "name": "Update",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "update",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 980,
        "wires": [
            [
                "841f618a6b3ba779"
            ]
        ]
    },
    {
        "id": "841f618a6b3ba779",
        "type": "function",
        "z": "65f8283cba0e30d2",
        "name": "Control output",
        "func": "if (msg.topic===\"update\") {\n    node.status({fill:\"yellow\",shape:\"ring\",text:\"Update received\"});\n    return null;\n}\nif (msg.topic === \"newdata\") {\n    node.status({ fill: \"green\", shape: \"ring\", text: \"data received\" });\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 960,
        "wires": [
            [
                "601998ee3eecf965"
            ]
        ]
    },
    {
        "id": "601998ee3eecf965",
        "type": "debug",
        "z": "65f8283cba0e30d2",
        "name": "debug 47",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 960,
        "wires": []
    },
    {
        "id": "38810117697ad8aa",
        "type": "function",
        "z": "65f8283cba0e30d2",
        "name": "Async output",
        "func": "if (msg.payload % 2 ===0) {\n    node.send({\"topic\": \"hey\", \"payload\": \"even\"});\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 1140,
        "wires": [
            [
                "0cc80370ac3d4dbb"
            ]
        ]
    },
    {
        "id": "0cc80370ac3d4dbb",
        "type": "debug",
        "z": "65f8283cba0e30d2",
        "name": "debug 48",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 1140,
        "wires": []
    },
    {
        "id": "48d88e8c597b43f5",
        "type": "inject",
        "z": "65f8283cba0e30d2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 1140,
        "wires": [
            [
                "38810117697ad8aa"
            ]
        ]
    },
    {
        "id": "a8b8b03ff7c54297",
        "type": "function",
        "z": "65f8283cba0e30d2",
        "name": "Multiple outputs",
        "func": "let data1 = {\"topic\": \"data\", \"payload\": \"first\"};\nlet data2 = {\"topic\": \"data\", \"payload\": \"second\" };\nlet data3 = {\"topic\": \"data\", \"payload\": \"third\" };\n\nreturn [[msg,data1,data2,data3]];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1220,
        "wires": [
            [
                "edbecd91dfb95d62"
            ]
        ]
    },
    {
        "id": "edbecd91dfb95d62",
        "type": "debug",
        "z": "65f8283cba0e30d2",
        "name": "debug 49",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 1220,
        "wires": []
    },
    {
        "id": "929db2aa3be4ca85",
        "type": "inject",
        "z": "65f8283cba0e30d2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 1220,
        "wires": [
            [
                "a8b8b03ff7c54297"
            ]
        ]
    },
    {
        "id": "e6754dbb7d0f7fb5",
        "type": "function",
        "z": "65f8283cba0e30d2",
        "name": "Warnings",
        "func": "node.warn(\"This is not good\");\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1060,
        "wires": [
            [
                "5be2cf82a88dbe15"
            ]
        ]
    },
    {
        "id": "5be2cf82a88dbe15",
        "type": "debug",
        "z": "65f8283cba0e30d2",
        "name": "debug 50",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 1060,
        "wires": []
    },
    {
        "id": "f9ccb5d50fa0c0a3",
        "type": "inject",
        "z": "65f8283cba0e30d2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 1060,
        "wires": [
            [
                "e6754dbb7d0f7fb5"
            ]
        ]
    },
    {
        "id": "0feec4bc2ec40704",
        "type": "function",
        "z": "65f8283cba0e30d2",
        "name": "Multiple ports",
        "func": "let port1 = null;\nlet port2 = null;\nlet port3 = null;\n\nswitch (msg.payload) {\n    case 1:\n        port1 = msg;\n        break;\n    case 2:\n        port2 = msg;\n        break;\n    case 3:\n        port3 = msg;\n        break;        \n}\n\nreturn [port1, port2, port3];\n",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 1300,
        "wires": [
            [
                "bc1e30d6fd6bad88"
            ],
            [
                "e8106cdb1c338c95"
            ],
            [
                "84b126b4a1a91145"
            ]
        ]
    },
    {
        "id": "bc1e30d6fd6bad88",
        "type": "debug",
        "z": "65f8283cba0e30d2",
        "name": "debug 51",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 1280,
        "wires": []
    },
    {
        "id": "b7f0c5a7ade048b9",
        "type": "inject",
        "z": "65f8283cba0e30d2",
        "name": "1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 130,
        "y": 1300,
        "wires": [
            [
                "0feec4bc2ec40704"
            ]
        ]
    },
    {
        "id": "e8106cdb1c338c95",
        "type": "debug",
        "z": "65f8283cba0e30d2",
        "name": "debug 52",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 1320,
        "wires": []
    },
    {
        "id": "84b126b4a1a91145",
        "type": "debug",
        "z": "65f8283cba0e30d2",
        "name": "debug 53",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 1360,
        "wires": []
    },
    {
        "id": "600723193584643f",
        "type": "inject",
        "z": "65f8283cba0e30d2",
        "name": "2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 130,
        "y": 1340,
        "wires": [
            [
                "0feec4bc2ec40704"
            ]
        ]
    },
    {
        "id": "05be1d67faf14cec",
        "type": "inject",
        "z": "65f8283cba0e30d2",
        "name": "3",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3",
        "payloadType": "num",
        "x": 130,
        "y": 1380,
        "wires": [
            [
                "0feec4bc2ec40704"
            ]
        ]
    }
]